<mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon>store</mat-icon> Empresa
          </ng-template>
          <div fxLayout="column">
            <div>
              <br/>
              <span>Área de negocio</span>
              <hr/>
            </div>
            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('horario_empresa')">
                              <mat-icon>watch_later</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Horario</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
            </div>          
            <div>
              <br/>
              <span>Aplicación</span>
              <hr/>
            </div>
            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('config_web')">
                              <mat-icon>language</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Contenido</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
             <!-- <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('config_movil')">
                              <mat-icon>phonelink_setup</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Movil</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>-->
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>vpn_key</mat-icon> Seguridad
          </ng-template>
          <div fxLayout="column">
            <div>
              <br/>
              <span>Accesibilidad</span>
              <hr/>
            </div>
            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('config_access')">
                              <mat-icon>security</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Permisos</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>person</mat-icon> Empleado
            </ng-template>
            <div fxLayout="column">
              <div>
                <br/>
                <span>Información del Empleado</span>
                <hr/>
              </div>
              <div fxLayout="row">
                <div fxFlex="33%">
                  <mat-card class="sombra">
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxFlex="30%">
                              <button mat-fab color="primary" (click)="goToPage('listaUsuario')">
                                <mat-icon>create</mat-icon>
                              </button>
                          </div>
                          <div fxFlex="auto" fxFlexAlign="center">
                            <strong>Administrar empleados</strong>
                          </div>
                        </div>
                      </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>gavel</mat-icon> Servicio
          </ng-template>
          <div fxLayout="column">
            <div>
              <br/>
              <span>Solicitud</span>
              <hr/>
            </div>
            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('catalogo')">
                              <mat-icon>import_contacts</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Catálogo</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div>
              <br/>
              <span>Evaluación</span>
              <hr/>
            </div>
            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('config_valoracion')">
                              <mat-icon>star</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Valoración</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>      
      </mat-tab-group>
    </mat-card-content>
  </mat-card>