    <mat-card-header>
        <div mat-card-avatar class="example-header-image"> <mat-icon >local_library</mat-icon> </div>
          <mat-card-title >{{titulo}} Horario</mat-card-title>
        </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">
      <div>
          <mat-form-field>
              <mat-select [(ngModel)]="opcionDia" placeholder="Día">
                  <mat-option *ngFor="let dia of dias" [value]="dia.id">
                  {{dia.nombre}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="opcionBloque" placeholder="Horario">
                <mat-option *ngFor="let hora of horario" [value]="hora.id">
                {{hora.nombre}}
                </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

    </div>
    <div fxLayout="row">
        <div fxFlex="74%"></div>
        <div *ngIf="incluir; else act">
          <button mat-raised-button color="primary" style="float: right;" (click)=Registrar() cdkFocusInitial>Agregar</button>
        </div>
        <ng-template #act>
          <button mat-raised-button color="primary" style="float: right;width: 160px" (click)=Actualizar() cdkFocusInitial>Actualizar</button>
        </ng-template>
        <div fxFlex="2%"></div>
        <button mat-raised-button color="accent" style="float: right; width: 160px" (click)="onNoClick()">Cancelar</button>
      </div>
  </mat-card-content>
  