<div fxLayout="column">

  <div fxLayout="row" id="barra">

    <div fxFlex="25%">

      <mat-card id="arriba">
        <mat-card-content class="mat-card-content">
          <h4 class="m-0">
            <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">room_service</mat-icon>
            Servicios actuales</h4>

          <a mat-icon-button [routerLink]="['/catalogo']">
            <h6 class="text-muted m-t-0 m-b-10">Ver Detalles</h6>
          </a>
          <mat-progress-bar value="40" mode="indeterminate"></mat-progress-bar>

        </mat-card-content>
      </mat-card>

    </div>

    <div fxFlex="25%">

      <mat-card id="arriba">
        <mat-card-content class="mat-card-content">


          <h3 class="m-0">
            <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">notification_important</mat-icon>
            Reclamos</h3>
          <a mat-icon-button [routerLink]="['/reclamos']">
            <h6 class="text-muted m-t-0 m-b-10">Ver Detalles</h6>
          </a>
          <mat-progress-bar value="40" mode="indeterminate"></mat-progress-bar>

        </mat-card-content>
      </mat-card>


    </div>

    <div fxFlex="25%">


      <mat-card id="arriba">
        <mat-card-content class="mat-card-content">

          <h6 class="m-0">
            <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">stars</mat-icon>
            Servicios mejor valorados</h6>
          <a mat-icon-button [routerLink]="['/']">
            <h6 class="text-muted m-t-0 m-b-10">Ver Detalles</h6>
          </a>
          <mat-progress-bar value="40" mode="indeterminate"></mat-progress-bar>

        </mat-card-content>
      </mat-card>

    </div>

    <div fxFlex="25%">


      <mat-card id="arriba">
        <mat-card-content class="mat-card-content">


          <h3 class="m-0">
            <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">today</mat-icon>
            Mi Agenda</h3>
          <a mat-icon-button [routerLink]="['/agenda']">
            <h6 class="text-muted m-t-0 m-b-10">Ver Detalles</h6>
          </a>
          <mat-progress-bar value="40" mode="indeterminate"></mat-progress-bar>

        </mat-card-content>
      </mat-card>

      <!-- <owl-date-time-inline [pickerType]="'calendar'" [(ngModel)]="viewDate" [min]="dt">
        </owl-date-time-inline> -->


    </div>

  </div>

  <div fxLayout="row">

    <div fxFlex="33%">
      <div class="carta">


        <h3 class="text-center">
          <br>
          <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">room_service</mat-icon>
          Servicios actuales</h3>
        <mat-accordion>

          <mat-expansion-panel *ngFor="let servicio of servicios">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6 mat-line>{{servicio.nombre}}</h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <label>
              <strong>Fecha creación: </strong>
            </label> {{servicio.fecha}}
            <br>
            <label>
              <strong>Descripción: </strong>
            </label> {{servicio.desc}}

          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>

    <div fxFlex="33%">
      <div class="carta">


        <h3 class="text-center">
          <br>
          <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">notification_important</mat-icon>
          Reclamos</h3>
        <mat-accordion>

          <mat-expansion-panel *ngFor="let reclamo of reclamos">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6 mat-line>{{reclamo.nombre}}</h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <label>
              <strong>Fecha creación: </strong>
            </label> {{reclamo.fecha}}
            <br>
            <label>
              <strong>Descripción: </strong>
            </label> {{reclamo.desc}}

          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
    <div fxFlex="33%">

      <div class="carta">


        <h3 class="text-center">
          <br>
          <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">stars</mat-icon>
          Servicios mejor valorados</h3>


        <mat-accordion>
          <mat-expansion-panel *ngFor="let valorado of valorados">
            <mat-expansion-panel-header>
              <mat-panel-title>

                <h6 mat-line>{{valorado.nombre}}</h6>

              </mat-panel-title>
            </mat-expansion-panel-header>
            <label>
              <strong>Valoración positiva: </strong>
            </label> {{valorado.posi}}
            <br>
            <label>
              <strong>Valoración negativa: </strong>
            </label> {{valorado.nega}}

          </mat-expansion-panel>

        </mat-accordion>


      </div>

    </div>
  </div>
</div>