#btnServicio{
  padding: 25px 0 25px 0;
  width: 100%;
}

.carta{
  background-color: white;
  margin-right: 5px;
}
#btnReclamo{
  padding: 25px 0 25px 0;
  width: 100%;
}

#arriba{
  height: 80%;
}


#btnAbogado{
  padding: 25px 0 25px 0;
  width: 100%;
}

#btnAgenda{
  padding: 25px 0 25px 0;
  width: 100%;
}

.dashboard-card {
  position: absolute;
 
}

#dona{
  margin-left: -30px;  
  width: 36%;  
}


.titleChart{
  padding: 6px 0 0 20px;
}

.opciones{
  padding: 30px 0 30px 17px;
  height: 120px;
  width: 250px
}

.boton{
 margin: -20px 0 0 -20px;
  background-color: #5e2129;
  padding-right: -50px;
}

.more-button {
  position: absolute; 
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

