<mat-card>
    <mat-card-header style="background-color: #5e2129; justify-content: center">
        <div mat-card-avatar class="example-header-image">
            <mat-icon style="color:white">account_balance</mat-icon>
          </div>
          <mat-card-title style="color: white;">Casos Activos</mat-card-title>
      </mat-card-header>
  <div *ngIf="Jefe"> 
    <casosAJefe></casosAJefe>
  </div>
  <div *ngIf="Cliente"> 
    <casosACliente></casosACliente>
  </div>
  <div *ngIf="Abogado"> 
    <casosAAbogados></casosAAbogados>
  </div>
  
</mat-card>