

  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>Detalle de la Solicitud</mat-card-title>
  </mat-card-header>



  <div fxLayout="row">
    <form fxFlex="100%">
      <div fxLayout="row">
        <div fxFlex="40%">
          <label style="margin: 10px 0 10px 0"><strong>Fecha:</strong></label>&nbsp;
          </div>
          <div fxFlex="4%"></div>
          <div fxFlex="56%">
          <label style="margin: 10px 0 10px 0">{{form.fecha}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="40%">
          <label style="margin-bottom: 10px"><strong>Tipo de Servicio:</strong></label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="56%">
          <label style=" margin-bottom: 10px">{{form.servicio}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="40%">
          <label><strong>Descripción:</strong></label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="56%">
          <label>{{form.descripcion}}</label>
        </div>
      </div>

      <mat-card-content>
        <mat-card-actions style="margin-top: 20px">
          <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cerrar</button>
        </mat-card-actions>
      </mat-card-content>


    </form>
  </div>
