<div class="fondo">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form novalidate="" style="text-align: center">
          <div class="text-center"><img src="assets/images/pic.png" width="100px" height="100px"><img src="assets/images/logo-text.png">
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Correo" [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">            
                Por favor, introduce una dirección de correo electrónico válida
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                El correo es <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field>
              <input matInput type="password" placeholder="Contraseña" [formControl]="contrasenaFormControl" name="password" #password>
              <button mat-button *ngIf="contrasenaFormControl.value" matSuffix mat-icon-button (mousedown)="showPassword(password)">
                <mat-icon>{{ojo}}</mat-icon>
              </button>
              <mat-error *ngIf="contrasenaFormControl.hasError('required')">
                La contraseña es<strong>Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <br>
          <mat-error *ngIf="usuarioValido">
            EL correo o contraseña no existe
          </mat-error>
          <button mat-raised-button color="primary" (click)="iniciar()" style="width: 100%">Iniciar Sesión</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>
