.login-register-box {
    max-width: 400px;
    min-width: 280px;
    margin: 0 auto;
    vertical-align: middle;
}
.link{
    font-size: 0.7em;
    cursor: pointer;
}
.fondo{
    background-image: url(assets/images/background/fondo.jpg);
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
}
mat-error{
    color: red;
}
mat-card{
    background: rgba(255, 255, 255, 0.8)
}