<mat-toolbar style="background: none">
        <span class="espac"></span>
        <mat-icon matSuffix>search</mat-icon>
        <mat-form-field class="search-input">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
            <mat-icon>close</mat-icon></button>
        </mat-form-field>
    </mat-toolbar>
    <div >
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column --> <!--orden dde servicio representa el codigo de la cita-->
            <ng-container matColumnDef="idCita"> 
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Nombre del Servicio </th>
                <td mat-cell *matCellDef="let row"> {{row.catalogo_servicio_nombre}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="nombreAbogado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Nombre del Abogado </th>
                <td mat-cell *matCellDef="let row"> {{row.abogado_nombre}} {{row.abogado_apellido}} </td>
            </ng-container>
              <!-- Name Column -->
            <ng-container matColumnDef="fechaCita">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha de la cita </th>
                <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="estatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem" >Detalle</th>
                <td mat-cell *matCellDef="let row">
                    <a mat-icon-button  color="primary" (click)="openDialog(row)" >
                        <mat-icon color="primary">remove_red_eye</mat-icon>                   
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="Cancelar">
                <th mat-header-cell *matHeaderCellDef  style="font-size:1rem" >Cancelar</th>
                <td mat-cell *matCellDef="let row">
                    <a mat-icon-button  color="primary" (click)="openDialogCancelar(row)" >
                        <mat-icon color="primary">not_interested</mat-icon>                   
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>