<mat-card>
    <mat-card-header style="background-color: #5e2129; justify-content: center">
        <div mat-card-avatar class="example-header-image">
            <mat-icon style="color:white">account_balance</mat-icon>
          </div>
          <mat-card-title style="color: white;">Citas Pendientes
        </mat-card-title>
      </mat-card-header>
      <div *ngIf="Abogado">
          <cita-abogado></cita-abogado>
        </div>
        <div *ngIf="Jefe">
          <cita-jefe></cita-jefe>
        </div>
        <div *ngIf="Cliente">
          <cita-cliente></cita-cliente>
        </div>
</mat-card>

