.example-card
{
    max-width: 100%;
    margin: 0 auto;
}
                  
.cuadrado {
    width: 100px; 
    height: 100px; 
    border: 3px solid #555;
    background: #428bca;
}

.example-color-trigger {
    display: block;
    width: auto;
    height: 3.5em;
    border: 5px solid #bababa;
    background-color: #f00000;
    cursor: pointer;
  }