<mat-card>
  <mat-card-header style="background-color: #5e2129">
      <mat-card-title style="color: white">
          <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/reportes']">
              <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
          </a>Tipos de incidencias</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">
      <div fxLayout="row">
          <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                      <div fxLayout="row">
                          <div fxFlex="30%">
                              <button mat-fab color="primary" (click)="goToPage('report-est-incidencia-tipo')">
                                <mat-icon>dashboard</mat-icon>
                              </button>
                          </div>
                          <div fxFlex="auto" fxFlexAlign="center">
                              <strong>Por tipo de incidencia</strong>
                          </div>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>

          <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                      <div fxLayout="row">
                          <div fxFlex="30%">
                              <button mat-fab color="primary" (click)="goToPage('report-est-incidencia-tipo2')">
                                <mat-icon>dashboard</mat-icon>
                              </button>
                          </div>
                          <div fxFlex="auto" fxFlexAlign="center">
                              <strong>Por tipo de servicio</strong>
                          </div>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
  </div>
  </mat-card-content>

</mat-card>