<mat-card>
    <mat-card-header style="background-color: #5e2129">
        <mat-card-title style="color: white">Opciones avanzadas
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>toc</mat-icon> Recaudos
                </ng-template>
                <br>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxFlex="40%">
                            <mat-form-field>
                                <mat-select [(ngModel)]="opcRecaudo" placeholder="Recaudo">
                                    <mat-option  *ngFor="let documento of recaudos" [value]="documento.id">
                                    {{documento.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="5%"></div>
                        <div>
                            <button mat-mini-fab matTooltip="Agregar" color="primary" style="float: left;" (click)="AgregarRecaudo()"> <mat-icon>add</mat-icon></button>
                        </div>
                        <hr/>
                    </div>
                    <hr/>
                    <div >
                        <mat-list>
                            <mat-list-item *ngFor="let rec of recaudosServicio" >
                                <div fxLayout="row">
                                    <div fxFlex="600px">
                                        {{rec.nombre}} 
                                    </div>
                                    <div fxFlex="auto">
                                        <a mat-icon-button color="primary" (click)="EliminarRecaudo(rec.id)">
                                            <mat-icon color="primary">delete</mat-icon>                   
                                        </a>
                                    </div>
                                </div> 
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>timeline</mat-icon> Actuaciones
                </ng-template>
                <br>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxFlex="40%">
                            <mat-form-field>
                                <mat-select [(ngModel)]="opcActuacion" placeholder="Actuación">
                                    <mat-option  *ngFor="let actuacion of actuaciones" [value]="actuacion.id">
                                    {{actuacion.nombre}}

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="5%"></div>
                        <div>
                            <button mat-mini-fab matTooltip="Agregar" color="primary" style="float: left;" (click)="AgregarActuacion()"> <mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                    <div>
                        <div >
                            <mat-list>
                                <mat-list-item *ngFor="let act of actuacionesServicio" > 
                                    <div fxLayout="row">
                                        <div fxFlex="600px">
                                            {{act.nombre}} 
                                        </div>
                                        <div fxFlex="auto">
                                            <a mat-icon-button color="primary" (click)="EliminarActuacion(act.id)">
                                                <mat-icon color="primary">delete</mat-icon>                   
                                            </a>
                                        </div>
                                    </div> 
                                </mat-list-item>
                            </mat-list>
                               
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>supervised_user_circle</mat-icon> Abogados
                </ng-template>
                <br>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxFlex="40%">
                            <mat-form-field>
                                <mat-select [(ngModel)]="opcAbogado" placeholder="Abogado">
                                    <mat-option  *ngFor="let ab of  s" [value]="ab.id">
                                    {{ab.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="5%"></div>
                        <div>
                            <button mat-mini-fab matTooltip="Agregar" color="primary" style="float: left;" (click)="AgregarAbogado()"> <mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                    <div>
                        <div >
                            <mat-list>
                                <mat-list-item *ngFor="let abo of abogadoServicio" > 
                                    <div fxLayout="row">
                                        <div fxFlex="600px">
                                            {{abo.nombre}} 
                                        </div>
                                        <div fxFlex="auto">
                                            <a mat-icon-button color="primary" (click)="EliminarAbogado(abo.id)">
                                                <mat-icon color="primary">delete</mat-icon>                   
                                            </a>
                                        </div>
                                    </div> 
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div fxLayout="row">
            <div fxFlex="80%"></div>
            <button mat-raised-button color="primary" style="margin-right: 5px" (click)="ProcesarConfig()">Aceptar</button> 
            <div fxFlex="2%"></div>
            <button mat-raised-button color="warn" [routerLink]="['/crear_servicio']">Cancelar</button>
        </div>

    </mat-card-content>
</mat-card>

   