<div class="example-card">
  
  <div fxLayout="row">
    <form fxFlex="100%">
      <div fxLayout="row">
        <div fxFlex="100%">
          <h2>¿Seguro que desea agendar esta solicitud?</h2>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlex="74%"></div>
          <button mat-raised-button color="primary" style="float: right;" (click)="AgendarServicio()" cdkFocusInitial>Agendar</button>
        <div fxFlex="2%"></div>
        <button mat-raised-button color="accent" style="float: right" (click)="onNoClick()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>