<mat-card>
    <mat-card-header style="background-color: #5e2129">
        <mat-card-title style="color: white">
            <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/reportes']">
                <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
            </a>Canal de escucha</mat-card-title>

    </mat-card-header>

    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center">

            <mat-form-field>
                <input matInput [matDatepicker]="pickerFin" placeholder="Fecha de inicio">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de finalización ">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Tipo de sugerencia">
                    <mat-option>Todos</mat-option>
                    <mat-option *ngFor="let tipoS of tipoSugerencia" [value]="tipoS.value" (click)="filtrarCateria(tipoS.descripcion)">
                        {{tipoS.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <hr>
            <table id="tablaPDF" mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="tipo_sugerencia">
                    <th mat-header-cell *matHeaderCellDef> Nombre sugerencia. </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_sugerencia}} </td>
                </ng-container>
                
                <ng-container matColumnDef="sugerencia">
                    <th mat-header-cell *matHeaderCellDef> telfCliente. </th>
                    <td mat-cell *matCellDef="let element"> {{element.sugerencia}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha de la sugerencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef> Cédula cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>
               
                <ng-container matColumnDef="cliente_nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre del cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.cliente_nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="respuesta">
                    <th mat-header-cell *matHeaderCellDef>Respuesta de la sugerencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.respuesta}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div><br>
        <div class="text-right">
            <button mat-raised-button color="primary" id="generarBtn" (click)="GenerarReporte()">Generar informe</button>
        </div>

    </mat-card-content>
</mat-card>