<div style="display: block;">
    <canvas baseChart
                [data]="doughnutChartData"
                [options]="barChartOptions"
                [chartType]="doughnutChartType"
                height="193vh"
                (chartHover)="chartHovered($event)"
                [colors]="lineChartColors"
                (chartClick)="chartClicked($event)"
                ></canvas>
  </div>