<mat-card>
  <mat-card-header style="background-color: #5e2129">
    <mat-card-title style="color: white"> 
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" (click)="onNoClick()"(click)="onNoClick()"(click)="onNoClick()">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Actuacionnes
    </mat-card-title>
  </mat-card-header>


  <!--cliente del expediente-->
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="imagenCliente">
      <th mat-header-cell *matHeaderCellDef >Foto</th>
      <td mat-cell *matCellDef="let row">
        <div class="profile-img" > <img [src]="row.imagenCliente" alt="client"> </div>
      </td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="nombreCliente">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre de Cliente</th>
    <td mat-cell *matCellDef="let row"> {{row.nombreCliente}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cedulaCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Cédula</th>
      <td mat-cell *matCellDef="let row"> {{row.cedulaCliente}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>

<!--Timeline de actuaciones del servicio-->
<mgl-timeline [toggle]="toggle" [alternate]="alternate">
  <mgl-timeline-entry *ngFor="let entry of entries; let i = index;" (expand)="onExpandEntry($event, i)">
    <mgl-timeline-entry-header (click)="onHeaderClick($event)">
      <div>{{entry.nombre}}</div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <div>
        <div>
          <p>
            {{entry.descripcion}}
          </p>
        </div>
      </div>
    </mgl-timeline-entry-content>
    
    <mgl-timeline-entry-dot mat-button [class]="color ? 'primary' : 'accent'" 
                            [size]="size"
                            (click)="onDotClick($event)"><mat-icon>add</mat-icon></mgl-timeline-entry-dot>
          
   
                            <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>
