<mat-card>
  <mat-card-header style="background-color: #5e2129">
      <mat-card-title style="color: white"> 
        <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" (click)="inicio()">
          <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
        </a>Sugerencias por Atender
      </mat-card-title>
    </mat-card-header>
<mat-toolbar style="background: none">
 
  <span class="espac"></span>
<mat-icon matSuffix>search</mat-icon>
<mat-form-field class="search-input">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()"></button>
        <mat-icon>close</mat-icon>
  </mat-form-field>
</mat-toolbar>


<div >
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="cliente_cedula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cédula Cliente </th>
      <td mat-cell *matCellDef="let row"> {{row.cliente_cedula}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="cliente_nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre Cliente </th>
      <td mat-cell *matCellDef="let row"> {{row.cliente_nombre}} {{row.cliente_apellido}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="ver">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Evaluar</th>
      <td mat-cell *matCellDef="let row">
        <a>
          <button mat-mini-fab color="accent" (click)="openDialogAtenderSugerencia(row)">
            <mat-icon>assignment</mat-icon>
          </button>
        </a>
      </td>
    </ng-container>

    <!-- Color Column
    <ng-container matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"><mat-icon>{{row.estatus}}</mat-icon><span style="margin-top: -5px"> {{row.estado}}</span> </td>
      <mat-icon>close</mat-icon>
    </ng-container> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>
 