<mat-card>
  <mat-card-header style="background-color: #5e2129;  justify-content: center">

    <div mat-card-avatar class="example-header-image">
      <mat-icon style="color:white">account_balance</mat-icon>
    </div>
    <mat-card-title style="color: white;">
      Solicitudes
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar style="background: none">
    <button mat-mini-fab matTooltip="Nueva Solicitud" color="primary" style="float: left;" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <span class="espac"></span>
    <mat-icon>search</mat-icon>
    <mat-form-field class="search-input">
      
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
        <mat-icon>close</mat-icon>
      </button>


    </mat-form-field>
  </mat-toolbar>

  <div>

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Tipo de Servicio Column -->
      <ng-container matColumnDef="tipoServicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo Servicio </th>
        <td mat-cell *matCellDef="let row"> {{row.tipoServicio}} </td>
      </ng-container>

      <!-- fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
      </ng-container>

      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Detalle</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button color="primary" (click)="openDialogActualizar(row)">
            <mat-icon color="primary">remove_red_eye</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Estado </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">

          <div fxFlexLayout="row">
            
              <mat-icon>{{row.ver}}</mat-icon>
              <span>
                <strong>{{row.estatus}}</strong>
              </span>
                                
          </div>       

        </td>
      </ng-container>

      <ng-container matColumnDef="anular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Anular </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color">
                  
                  <a *ngIf="row.cancelar" mat-icon-button style="color: red" matTooltip="Anular Solicitud" (click)="openDialogCancelar(row)">
                  <mat-icon>highlight_off</mat-icon>
                </a>             
  
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>