<mat-card>
  <mat-card-header style="background-color: #5e2129; justify-content: center">
    <div mat-card-avatar class="example-header-image">
      <mat-icon style="color:white">account_balance</mat-icon>

    </div>
   <mat-card-title style="color: white;">Casos Cerrados</mat-card-title>
  </mat-card-header>
  <mat-toolbar style="background: none">
    <span class="espac"></span>
    <mat-icon matSuffix>search</mat-icon>
    <mat-form-field class="search-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()"><mat-icon>close</mat-icon></button>
      

    </mat-form-field>
  </mat-toolbar>
  <div>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="abogado_nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Nombre del abogado </th>
        <td mat-cell *matCellDef="let row"> {{row.abogado_nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tipo_Servicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo de Servicio </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo_servicio}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fecha_creado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha de Inicio </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_creado}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="valoracion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Valorar Servicio </th>
        <td mat-cell *matCellDef="let row" style="text-align: center">
          <a mat-icon-button matTooltip="Valorar" color="accent" (click)="openDialogValorar(row)">
            <mat-icon color="accent">grade</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>