<mat-card-header style="background-color: #5e2129;margin-bottom: 20px">
  <mat-card-title style="color: white;font-size: 20px">Nuevo Reclamo</mat-card-title>
</mat-card-header> 

  <mat-card-content>
    
     <!-- <div fxLayout="row">
        <div fxFlex="48%">
          <mat-form-field>
            <mat-select placeholder="Nivel de Instrucción">
              <mat-option>Ninguno</mat-option>
              <mat-option *ngFor="let nivel of instruccion" [value]="nivel">{{nivel}}</mat-option>
            </mat-select>
          </mat-form-field>  
        </div>

        <div fxFlex="4%"></div>

        <div fxFlex="48%">
            <mat-form-field>
                <mat-select placeholder="Estado Civil">
                  <mat-option *ngFor="let civilstate of estadoscivil" [value]="civilstate">{{civilstate}}</mat-option>
                </mat-select>
              </mat-form-field>
         </div>
      </div>-->
    
      <!-- 
        ======= SELECT AUTOCOMPLETAR
     
      <div fxLayout="row">
        <div fxFlex="48%">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let abogado of abogados"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(abogado)">
                {{abogado}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
              placeholder="Escoge un Servicio"
              #abogadoInput
              [formControl]="abogadoCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let abogado of filteredAbogados | async" [value]="abogado">
                {{abogado}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div> -->
        
        <div fxLayout="row">
            <div fxFlex="48%">


                <mat-form-field class="example-form-field2">
                    <mat-select placeholder="Tipo de Reclamo" [formControl]="tipoReclamoFormControl">
                      <mat-option *ngFor="let tiporeclamo of listaTipoReclamo" [value]="tiporeclamo.id" (click)="ObtenerIdReclamo(tiporeclamo.id)">
                        {{tiporeclamo.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipoReclamoFormControl.hasError('required')">
                      Reclamo
                      <strong>Requerida</strong>
                    </mat-error>
                  </mat-form-field>




      <!--  <mat-form-field >
            <input type="text" placeholder="Tipo de reclamo" aria-label="Number" matInput [formControl]="myControlReclamo" [matAutocomplete]="autoReclamo">
            <mat-autocomplete #autoReclamo="matAutocomplete">
              <mat-option *ngFor="let tiporeclamos of filteredOptionsReclamo | async" [value]="tiporeclamos">
                {{tiporeclamos}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field> -->
      </div> 
        <div fxFlex="4%"></div>
    
    
      </div>
      
      <mat-form-field>
          <textarea matInput placeholder="Descripción del reclamo" [formControl]="descripcionFormControl"></textarea>
      </mat-form-field>
  
      <!--<section class="example-section">
        <mat-checkbox [formControl]="disableSelect">Desmarca, si deseas elegir un abogado</mat-checkbox>
      </section>
      
      <div fxLayout="row">
        <div fxFlex="48%">
            <mat-form-field>
                <mat-select placeholder="Abogado" [disabled]="disableSelect.value">
                  <mat-option value="option1">Ninguno</mat-option>
                  <mat-option *ngFor="let abo of abogados" [value]="abo">{{abo}}</mat-option>              
                </mat-select>
              </mat-form-field>
        </div>
      </div>-->
      
    <mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" style="float:right" (click)="Registrar()">Agregar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card-content>

  <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
