<mat-card class="example-card">
  <mat-card-header style="background-color:#5e2129">
    <mat-card-title style="color: white">
      <a *ngIf="incluir" mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/listaUsuario']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Datos del Empleado
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <form>
      <mat-tab-group style="padding-bottom: 30px" [selectedIndex]="selected.value" (selectedIndexChange)="Mover2($event)">
        <mat-tab label="Empleado">
          <br>
          <div fxFlex="100%">
            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-form-field class="my-form-field">
                  <mat-select placeholder="Tipo de Empleado" [formControl]="myControlTipoEmpleado">
                    <mat-option *ngFor="let tipoEmp of comboTipoEmpleado" [value]="tipoEmp.id">
                      {{tipoEmp.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myControlTipoEmpleado.hasError('required')">
                    Tipo de Empleado <strong>Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="33%"></div>
              <div fxFlex='33%'>
                <mat-form-field>
                  <mat-select placeholder="Especialidad" [formControl]="myControlEspecialidad">
                    <mat-option *ngFor="let esp of comboEspecialidad" [value]="esp.id">
                      {{esp.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div style="columns: #9b9b9b; font-size: 10px; margin-top: -10px">
                  Solo el Abogado posee, especialidad
                </div>
              </div>
            </div>

            <h3 style="text-align:center; color:#5e2129">Datos Básicos del Empleado</h3>
            <div fxLayout="row">
              <div fxFlex="23%">
                <mat-form-field>
                  <mat-select placeholder="Nacionalidad" [formControl]="myControlNacionalidad">
                    <mat-option *ngFor="let nac of nacionalidad" [value]="nac.id">
                      {{nac.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myControlNacionalidad.hasError('required')">
                    Nacionalidad <strong>Requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="23%">
                <mat-form-field>
                  <input matInput placeholder="Cédula" [formControl]="myControlCedula">
                  <mat-error *ngIf="myControlCedula.hasError('required')">
                    Cedula <strong>Requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="23%">
                <mat-form-field>
                  <input matInput placeholder="Primer Nombre" [formControl]="myControlNombre">
                  <mat-error *ngIf="myControlNombre.hasError('required')">
                    Primer Nombre <strong>Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>

              <div fxFlex="23%">
                <mat-form-field>
                  <input matInput placeholder="Segundo Nombre" [formControl]="myControlSegundoNomb">
                </mat-form-field>
              </div>

            </div>

            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-form-field>
                  <input matInput placeholder="Primer Apellido" [formControl]="myControlPrimerApellido">
                  <mat-error *ngIf="myControlPrimerApellido.hasError('required')">
                    Primer Apellido<strong>Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="33%">
                <mat-form-field>
                  <input matInput placeholder="Segundo Apellido" [formControl]="myControlSegundoApellido">
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="33%">
                <mat-form-field>
                  <mat-select placeholder="Sexo" [formControl]="myControlSexo">
                    <mat-option *ngFor="let sex of sexo" [value]="sex.value">
                      {{sex.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myControlSexo.hasError('required')">
                    Sexo <strong>Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxFlex="49%">
                <mat-form-field>
                  <input matInput placeholder="Teléfono" type="number" [formControl]="myControlTelefono">
                  <mat-error *ngIf="myControlTelefono.hasError('required')">
                    Teléfono <strong>Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="49%">
                <mat-form-field>
                  <mat-select placeholder="Estado Civil" [formControl]="myControlEstadoCivil">
                    <mat-option *ngFor="let estCivil of estadoCivil" [value]="estCivil.id">
                      {{estCivil.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myControlEstadoCivil.hasError('required')">
                    Estado Civil <strong>Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxFlex="33%">
                <mat-form-field>
                  <input matInput [matDatepicker]="dtpCalendario" placeholder="Fecha de Nacimiento" disabled
                    [formControl]="myControlFecha">
                  <mat-datepicker-toggle matSuffix [for]="dtpCalendario"></mat-datepicker-toggle>
                  <mat-datepicker #dtpCalendario color="primary" disabled="false"></mat-datepicker>
                  <mat-error *ngIf="myControlFecha.hasError('required')">
                    Fecha de Nacimiento <strong>Requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="33%">
                <mat-form-field class="my-form-field">
                  <mat-select placeholder="Estado" [formControl]="myControlEstado">
                    <mat-option *ngFor="let estado of comboEstados" [value]="estado.id">
                      {{estado.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myControlEstado.hasError('required')">
                    Estado <strong> Requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="33%">
                <mat-form-field class="my-form-field">
                  <input matInput placeholder="Ciudad" [formControl]="myControlCiudad">
                  <mat-error *ngIf="myControlCiudad.hasError('required')">
                    Ciudad <strong> Requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
              <div fxFlex="100%">
                <mat-form-field class="my-form-field">
                  <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Lugar de Residencia"
                    [formControl]="myControlDireccion"></textarea>
                  <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                  <mat-error *ngIf="myControlCiudad.hasError('required')">
                    Lugar de Residencia <strong> Requerido </strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Usuario">
          <div fxFlex="100%">
            <h3 style="text-align:center; color:#5e2129">Datos de Usuario</h3>
            <br><br>

            <div fxLayout="row">
              <div fxFlex="49%">
                <div class="profile-img">
                  <div>
                    <input type="file" style="display: none" #fileInput (change)="imagenEntrada($event.target.files)"
                      accept="image/*" placeholder="Seleccione una imagen" [formControl]="imagenFormControl">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Seleccionar Imagen</button>
                  </div>
                  <br>
                  <div *ngIf="incluir; else actImagen">
                    <img mat-card-image [src]="imagenDefecto" style="width:250px;height: 200px;border-radius: 100%">
                  </div>
                  <ng-template #actImagen>
                    <img mat-card-image [src]="imagen" style="width:250px;height: 200px; border-radius: 100%">
                  </ng-template>
                </div>
              </div>

              <div fxFlex="2%"></div>
              <div fxFlex="49%">
                <div fxLayout="row">
                  <mat-form-field>
                    <mat-select placeholder="Rol de Usuario" [formControl]="myControlRol">
                      <mat-option *ngFor="let rol of comboRol" [value]="rol.id">
                        {{rol.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="myControlRol.hasError('required')">
                      Rol <strong>Requerido</strong>
                    </mat-error>
                  </mat-form-field>

                </div>
                <div fxLayout="row">

                  <mat-form-field>
                    <input matInput placeholder="Correo Electrónico" [formControl]="myControlCorreo">
                    <mat-error *ngIf="myControlCorreo.hasError('email') && !myControlCorreo.hasError('required')">
                      Por favor, introduce una dirección de correo Electrónico válida
                    </mat-error>
                    <mat-error *ngIf="myControlCorreo.hasError('required')">
                      Correo Electrónico <strong>Requerido</strong>
                    </mat-error>
                  </mat-form-field>

                </div>

                <div *ngIf="ocultarPassword">
                  <div fxLayout="row">

                    <mat-form-field>
                      <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'password' : 'text'" [formControl]="myControlContrasena" (keyup)="validarPassWord()">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row">

                    <mat-form-field>
                      <input matInput placeholder="Confirmar Nueva Contraseña" [type]="hide2 ? 'password' : 'text'"
                        [formControl]="myControlConfirmar" (keyup)="validarPassWord()">
                      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    </mat-form-field>
                  </div>
                  <div *ngIf="confirmar" style="color: red; font-size: 13px; margin-top: -10px">
                    No coinciden las contraseñas
                  </div>
                </div>

              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="example-button-row" style=" float: left; margin-top: -20px">
        <button mat-raised-button color="primary" style="margin-right: 5px" (click)="Mover()">
          <mat-icon>{{iconoMoverR}}</mat-icon>
          {{mover}}
          <mat-icon>{{iconoMoverS}}</mat-icon>
        </button>
      </div>

      <div class="example-button-row" style=" float: right; margin-top: -20px" *ngIf="incluir; else modificar">
        <button mat-raised-button color="primary" style="margin-right: 5px" (click)="Registrar()">Registrar</button>
        <button mat-raised-button color="accent">Cancelar</button>
      </div>
      <ng-template #modificar>
        <div class="example-button-row" style=" float: right; margin-top: -20px">
          <button mat-raised-button color="primary" style="margin-right: 5px" (click)="Actualizar()">Actualizar</button>
          <button mat-raised-button color="accent">Cancelar</button>
        </div>
      </ng-template>
    </form>
  </mat-card-content>

</mat-card>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>