<div class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>{{titulo}} Función</mat-card-title>
  </mat-card-header>
  <div fxLayout="row">
    <form fxFlex="100%">
      <div fxLayout="column">
        <div fxFlex="100%">
          <mat-form-field>
            <input matInput #nombre placeholder="Nombre" maxlength="50" [formControl]="nombreFormControl">
            <mat-error *ngIf="nombreFormControl.hasError('required')">
              El nombre es <strong>Requerido</strong>
            </mat-error>
            <mat-hint align="end">{{nombre.value?.length || 0}}/50</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field>
              <input matInput placeholder="Icono" aria-label="Icono" [matAutocomplete]="auto" [formControl]="iconoCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let icono of filteredIconos | async" [value]="icono.nombre">
                  <mat-icon>{{icono.imagen}}</mat-icon>
                  {{icono.nombre}}
                </mat-option>
              </mat-autocomplete>
            <!-- <input matInput #icono placeholder="Icono" maxlength="50" [formControl]="iconoFormControl"> -->
            <!-- <mat-error *ngIf="iconoFormControl.hasError('required')">
              El icono es <strong>Requerido</strong>
            </mat-error> -->
            <!-- <mat-hint align="end">{{icono.value?.length || 0}}/50</mat-hint> -->
          </mat-form-field>
          <div fxFlex="50%">
            <mat-form-field>
              <input matInput placeholder="posición" type="number" min="0" [formControl]="posicionFormControl">
              <mat-error *ngIf="posicionFormControl.hasError('required')">
                La posicíon es <strong>Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100%">
          <mat-form-field>
            <mat-select #funcion placeholder="Función padre" [formControl]="funcionFormControl">
              <mat-option >Ninguna</mat-option>
              <mat-option *ngFor="let p of padre" [value]="p.id">
                {{p.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="100%">
            <mat-form-field>
              <mat-select #ruta placeholder="Ruta de acceso" [formControl]="rutaFormControl">
                <mat-option >Ninguna</mat-option>
                <mat-option *ngFor="let p of rutas" [value]="p.id">
                  {{p.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlex="74%"></div>
        <div *ngIf="incluir; else act">
          <button mat-raised-button color="primary" style="float: right;" (click)=Registrar() cdkFocusInitial>Agregar</button>
        </div>
        <ng-template #act>
          <button mat-raised-button color="primary" style="float: right;width: 160px" (click)=Actualizar()
            cdkFocusInitial>Actualizar</button>
        </ng-template>
        <div fxFlex="2%"></div>
        <button mat-raised-button color="accent" style="float: right; width: 160px" (click)="onNoClick()">Cancelar</button>
      </div>
    </form>
  </div>
</div>


<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
