<div class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>Actuaciones</mat-card-title>
  </mat-card-header>
  <div fxLayout="row">
    <form fxFlex="100%">
      <!--Combo-->
      <div fxLayout="row">
        <div fxFlex="100%">
          <div fxLayout="row">
            <div fxFlex="17%"></div>
            <div fxFlex="60%">
              <mat-form-field>
                <mat-select placeholder="Actuacion" [formControl]="actuacionFormControl">
                  <mat-option>Ninguno</mat-option>
                  <mat-option *ngFor="let act of listaActuacion" [value]="act.id" (click)="ObtenerId(act.id)">
                    {{act.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="actuacionFormControl.hasError('required')">
                  Actuación <strong>Requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="3%">
              <button mat-mini-fab matTooltip="Agregar Actuación" style="margin-top:40px" color="primary" (click)="Registrar()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div fxFlex="17%"></div>

          </div>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlex="100%">
          <div fxLayout="row">
            <div fxFlex="5%"> </div>
            <div fxFlex="90%">
              <div style="margin-top:4px">
                <table mat-table [dataSource]="dataSource" matSort>

                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre Actuación</th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Eliminar</th>
                    <td mat-cell *matCellDef="let row">
                      <a mat-icon-button color="primary">
                        <mat-icon color="primary" (click)="Eliminar(row.actuacion_catalogo_id)">delete</mat-icon>
                      </a></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[4]"></mat-paginator>
              </div>
            </div>
            <div fxFlex="5%">
            </div>
          </div>
        </div>
      </div>


      <div fxLayout="row">
        <div fxFlex="76%"></div>
        <button mat-raised-button color="accent" style="float: right" (click)="onclick()">Cancelar</button>
      </div>
    </form>
  </div>
</div>