<div class="example-card">

<!--<a mat-icon-button color="primary"  (click)="onNoClick()" style="float: right;">
    <mat-icon aria-label="Example icon-button with a heart icon" color="accent">cancel</mat-icon>
  </a>-->
<mat-card-header>
  <div mat-card-avatar class="example-header-image">
    <mat-icon>local_library</mat-icon>
  </div>
  <mat-card-title>Detalle del Reclamo</mat-card-title>
</mat-card-header>


<div>

  <div fxLayout="row">
    <form fxFlex="100%">
      <div fxLayout="row">
        <div fxFlex="25%">
          <label>
            <strong>Cliente:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="1%"></div>
        <div fxFlex="74%">
          <label>{{form.cliente_nombre}} {{form.cliente_apellido}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="25%">
          <label>
            <strong>Cedula:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="1%"></div>
        <div fxFlex="74%">
          <label>{{form.cliente_cedula}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="25%">
          <label>
            <strong>Fecha:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="1%"></div>
        <div fxFlex="74%">
          <label>{{form.fecha}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="25%">
          <label>
            <strong>Tipo de Reclamo:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="1%"></div>
        <div fxFlex="74%">
          <label>{{form.tiporeclamo}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="25%">
          <label>
            <strong>Estatus:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="1%"></div>
        <div fxFlex="74%">
          <label>{{form.estatus}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="25%">
          <label>
            <strong>Descripción:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="1%"></div>
        <div fxFlex="74%">
          <label>{{form.descripcion}}</label>
        </div>
      </div>



  <!--<div fxLayout="row">
      <form  fxFlex="100%">
          <div  fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100%">
              <label>Cédula del cliente:</label>&nbsp;
              <label>{{form.cliente_cedula}}</label>
            </div>
          </div>
          <div  fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100%">
              <label>Nombre del cliente:</label>&nbsp;
              <label>{{form.cliente_nombre}}</label>
            </div>
          </div>
          <div  fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100%">
              <label>Apellido del cliente:</label>&nbsp;
              <label>{{form.cliente_apellido}}</label>
            </div>
          </div>
          <div  fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100%">
              <label>Fecha de la Sugerencia:</label>&nbsp;
              <label>{{form.fecha}}</label>
            </div>
          </div>-->

  <br>

  <mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cancelar</button>>
    </mat-card-actions>
  </mat-card-content>


  </form>
</div>
</div>
</div>