<mat-card>
  <mat-card-header style="background-color: #5e2129">
    <mat-card-title style="color: white"> 
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/depuracion']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Valor Caracteristica
    </mat-card-title>
  </mat-card-header>
<mat-toolbar style="background: none">
<span class="espac"></span>
<mat-icon matSuffix>search</mat-icon>
<mat-form-field class="search-input">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()"></button>
        <mat-icon>close</mat-icon>
  </mat-form-field>
</mat-toolbar>
<div>
<table mat-table [dataSource]="dataSource" matSort>

<!-- ID Column -->
<ng-container matColumnDef="nombre">
<th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre Valor Caracterítica </th>
<td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="estatus">
=======
<th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Característica</th>
<td mat-cell *matCellDef="let row"> {{row.nombreCaracteristica}} </td>
</ng-container>


<ng-container matColumnDef="eliminar">
  <th mat-header-cell *matHeaderCellDef  style="font-size:1rem"></th>
  <td mat-cell *matCellDef="let row">
      <a mat-icon-button color="primary" matTooltip="Eliminar" (click)="openDialogEliminar(row.id)">
        <mat-icon color="primary">delete</mat-icon>                   
      </a></td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;">
</tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>