<mat-card>
    <mat-card-header style="background-color: #5e2129">
      <mat-card-title style="color: white"> 
        Recaudos Solicitados para el Servicio
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-selection-list *ngFor="let recaudo of recaudos">
            <mat-list-option disabled>
              {{ recaudo.documento }}
            </mat-list-option>
          </mat-selection-list>

    </mat-card-content>
          <button mat-raised-button color="primary" style="float: right;" (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
  </mat-card>