.carta{
  background-color: white;
  margin-right: 5px;
}

.dashboard-card {
    position: absolute;
   
  }
  
  #dona{
    margin-left: -30px;  
    width: 36%;  
  }
  
  mat-card-header{
    background-color: white;
  }
  
  .titleChart{
    padding: 6px 0 0 20px;
  }
  
  .opciones{
    padding: 30px 0 30px 17px;
    height: 120px;
    width: 250px
  }
  
  .boton{
   margin: -20px 0 0 -20px;
    background-color: #5e2129;
    padding-right: -50px;
  }
  
  .more-button {
    position: absolute; 
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  mat-card-header{
    
    background-color: #5e2129;
  }
  
  mat-card-title{
    color:white;
  }