<mat-card>
  <mat-card-header style="background-color: #5e2129">
      <mat-card-title style="color: white"> 
        <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" (click)="volver()">
          <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
        </a>Sección de Imágenes Componente Web
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
      <div fxFlex="23%">
        <mat-form-field >
            <mat-select placeholder="Seleccione una opción" [(ngModel)]="selectedValue1" name="cmbNacionalidad">
                <mat-option *ngFor="let op of opciones" [value]="op.value">
                {{op.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>
    </div>
    </div>
      <br>
      <span >Seleccione Una Imagen</span>
      <br>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card class="card-picture" *ngFor="let picture of pictures">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%">{{picture.title}}</span>
            <mat-icon fxFlex="20%">check_circle</mat-icon>
          </mat-card-title>
          <img mat-card-image [src]="picture.img">
        </mat-card>
      </div>
      <mat-card-actions>
          <button mat-raised-button color="accent" style="float: right; width: 150px" (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
            <button mat-raised-button color="primary" style="float: right;width: 150px" (click)=Actualizar() cdkFocusInitial>Guardar Cambios</button>
      </mat-card-actions>
      <br>

    </mat-card-content>

</mat-card>