<div class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>{{titulo}} Servicio</mat-card-title>
  </mat-card-header>
  <div fxLayout="row">
    <div fxFlex="50%">
      <div fxLayout="row">
        <form fxFlex="100%">
          <div fxLayout="row">
            <div fxFlex="100%">
              <mat-form-field class="example-form-field2">
                <mat-select placeholder="Categoria" [formControl]="categoriaFormControl">
                  <mat-option>Ninguno</mat-option>
                  <mat-option *ngFor="let cat of listaCategoria" [value]="cat.id" (click)="ObtenerIdCat(cat.id)">
                    {{cat.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="categoriaFormControl.hasError('required')">
                  Categoria <strong>Requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="100%">
              <mat-form-field>
                <input matInput #nombre placeholder="Nombre" maxlength="50" [formControl]="nombreFormControl">
                <mat-error *ngIf="nombreFormControl.hasError('required')">
                  Nombre <strong>Requerido</strong>
                </mat-error>
                <mat-hint align="end">{{nombre.value?.length || 0}}/50</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100%">
              <mat-form-field class="my-form-field">
                <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Descripción" [formControl]="descripcionFormControl"></textarea>
                <mat-error *ngIf="descripcionFormControl.hasError('required')">
                  Descripción <strong>Requerida</strong>
                </mat-error>
                <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- FILA IMAGEN -->
    <div fxFlex="50%">
      <div fxLayout="row">
        <div fxFlex="100%">
          <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15%"> </div>
            <div fxFlex="100%">
              <input type="file" (change)="imagenEntrada($event.target.files)" accept="image/*" [formControl]="imagenFormControl" style="display: none;width: 100%"
                placeholder="Seleccione una imagen" #fileInput>
                <button mat-flat-button (click)="fileInput.click()">Seleccione una imagen</button>
              <div *ngIf="imagenSeleccionada!=null">
                <div style="color:red" *ngIf="imagenFormControl.hasError('required')">
                  Imagen <strong>Requerida</strong>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div fxLayout="row">
            <div fxFlex="15%"> </div>
            <div fxFlex="60%">
              <mat-card class="example-card">
                <div *ngIf="incluir; else actImagen">
                  <img mat-card-image [src]="imagenDefecto" style="width:250px;height: 200px;">
                </div>
                <ng-template #actImagen>
                  <img mat-card-image [src]="imagen" style="width:250px;height: 200px;">
                </ng-template>
              </mat-card>
            </div>
            <div fxFlex="15%"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-card-actions>

    <button mat-raised-button color="accent" style="float: right; width: 150px" (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <div *ngIf="incluir; else act">
      <button mat-raised-button color="primary" style="float: right;width: 150px; margin-right:5px" (click)=Registrar()>Agregar</button>
    </div>
    <ng-template #act>
      <button mat-raised-button color="primary" style="float: right;width: 150px" (click)="Actualizar()"
        cdkFocusInitial>Actualizar</button>
    </ng-template>
  </mat-card-actions>

</div>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
