<form>
  <div class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>local_library</mat-icon>
      </div>
      <mat-card-title>{{titulo}} Promoción</mat-card-title>
    </mat-card-header>

    <div fxLayout="row">
      <div fxFlex="50%">
        <div fxLayout="row">
          <div fxFlex="100%">

            <div fxLayout="row">
              <div fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Título de Promoción" [formControl]="tituloFormControl">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxFlex="100%">
                <mat-form-field class="my-form-field">
                  <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Descripción" [formControl]="descripcionFormControl"></textarea>
                  <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="20%"></div>

              <div fxFlex="38%">
                <mat-form-field class="my-form-field">
                  <input matInput [matDatepicker]="dtpCalendario" placeholder="Fecha Inicial" matdateFormat="dd-MMM-yyyy" [formControl]="fechaIFormControl">
                  <mat-datepicker-toggle matSuffix [for]="dtpCalendario"></mat-datepicker-toggle>
                  <mat-datepicker #dtpCalendario color="primary"></mat-datepicker>
                </mat-form-field>

              </div>
              <div fxFlex="3%"></div>
              <div fxFlex="38%">
                <mat-form-field class="my-form-field">
                  <input matInput [matDatepicker]="dtpCalendario2" placeholder="Fecha Final" matdateFormat="dd-MMM-yyyy" [formControl]="fechaFFormControl">
                  <mat-datepicker-toggle matSuffix [for]="dtpCalendario2"></mat-datepicker-toggle>
                  <mat-datepicker #dtpCalendario2 color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex="30%"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- FILA IMAGEN -->
      <div fxFlex="50%">
        <div fxLayout="row">
          <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="15%"> </div>
              <mat-form-field class="example-form-field2">
                <mat-select placeholder="Filtrar por tipo de Servicio" [formControl]="tipoServFormControl">
                  <mat-option>Ninguno</mat-option>
                  <mat-option *ngFor="let categoria of listaCatalogo" [value]="categoria.id">
                    {{categoria.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="15%"> </div>
              <div fxFlex="100%">
                <input type="file" (change)="imagenEntrada($event.target.files)" accept="image/*" placeholder="Seleccione una imagen" [formControl]="imagenFormControl"
                  style="display: none;width: 100%" #fileInput>
                <button mat-flat-button (click)="fileInput.click()">Seleccione una imagen</button>
              </div>
            </div>
            <br>
            <br>
            <div fxLayout="row">
              <div fxFlex="15%"> </div>
              <div fxFlex="60%">
                <mat-card class="example-card">
                  <div *ngIf="incluir; else actImagen">
                    <img mat-card-image [src]="imagenDefecto" style="width:250px;height: 200px;">
                  </div>
                  <ng-template #actImagen>
                    <img mat-card-image [src]="imagen" style="width:250px;height: 200px;">
                  </ng-template>

                </mat-card>
              </div>
              <div fxFlex="15%"> </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <mat-card-actions>

      <button mat-raised-button color="accent" style="float: right; width: 150px" (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
      <div *ngIf="incluir; else act">
        <button mat-raised-button color="primary" style="float: right;width: 150px; margin-right:5px" (click)="Registrar()">Agregar</button>
      </div>
      <ng-template #act>
        <button mat-raised-button color="primary" style="float: right;width: 150px" (click)=Actualizar() cdkFocusInitial>Actualizar</button>
      </ng-template>
    </mat-card-actions>

  </div>
</form>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>