<mat-card>
  <mat-card-header style="background-color:#5e2129">
    <mat-card-title style="color:white">
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/citas']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Registrar Servicio
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <div fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="45%">
            <mat-card-header style="justify-content:center; background-color:white">
              <mat-card-title style="color:#5e2129">Datos del Cliente</mat-card-title>
            </mat-card-header>
            <mat-form-field>
              <input matInput placeholder="Documento de identidad" [formControl]="cedula">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nombre" [formControl]="nombre">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Teléfono" [formControl]="telefono">
            </mat-form-field>
          </div>
          <div fxFlex="auto"></div>
          <div fxFlex="45%">
            <mat-card-header style="justify-content:center; background-color:white">
              <mat-card-title style="color:#5e2129">Datos del Abogado</mat-card-title>
            </mat-card-header>
            <mat-form-field>

                <mat-select [(ngModel)]="abogado_id" placeholder="Documento de identidad" [formControl]="cedulaA">
                  <mat-option *ngFor="let emp of Abogado" [value]="emp.id" (click)="obtenerAbogado(emp.id)">
                      {{emp.cedula}} - {{emp.nombre}} {{emp.apellido}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="cedulaA.hasError('required')">
                  Rol <strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Teléfono" [formControl]="telefonoA">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Correo Electrónico" [formControl]="correoA">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%">
            <mat-card-header style="justify-content:center; background-color:white">
              <mat-card-title style="color:#5e2129">Datos del Servicio</mat-card-title>
            </mat-card-header>
            <div fxLayout="row">
              <div fxFlex="45%">
                  
                <mat-form-field class="example-form-field2"> 
                  <mat-select [(ngModel)]="categoria_id" placeholder="Categoría de servicio" [formControl]="categoriaFormControl">
                    <mat-option *ngFor="let categoria of listaCategoria" [value]="categoria.id" (click)="ObtenerIdCat(categoria.id)">
                      {{categoria.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="auto"></div>
              <div fxFlex="45%">
                <mat-form-field>
                    <mat-select [(ngModel)]="catalogo_id" placeholder="Tipo de servicio" [formControl]="tipoServFormControl">
                      <mat-option *ngFor="let catalogo of listaCatalogo" [value]="catalogo.id" >
                        {{catalogo.nombre}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Descripción" [formControl]="descripcion"></textarea>
              <mat-error *ngIf="descripcion.hasError('required')">
                Descripción <strong>Requerida</strong>
              </mat-error>
            </mat-form-field>

            <mat-radio-group>
              <mat-radio-button style="margin-left: 5px" *ngFor="let canc of cancelarServicio" [value]="canc.id"
                (click)="obtenerValor(canc.id)">
                {{canc.nombre}}
              </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="radioButton" style="color: red; font-size: 13px; margin-left: 5px">
              Debe Seleccionar una opción
            </div>
          </div>
        </div>
        <div fxLayout="row" >
          <div fxFlex="80%"></div>
          <button mat-raised-button color="primary" style="float: right;" (click)="Actualizar(id)">Registrar</button>
          <div fxFlex="2%"></div>
          <button mat-raised-button color="accent" style="float: right;" [routerLink]="['/citas']">Cancelar</button>
        </div>
      </div>
    </form>
  </mat-card-content>

</mat-card>