.example-card{
    max-width: 80%;
    margin: 0 auto;
    float: center;
    
}

.card-container-center{
    text-align: center;
}
.container{
    text-align: center;
    
}


h1{
    font-family:Arial;
    font-size: 15px;
    float:left;
    
}
h4, h5{
    font-family:Arial;
    font-size: 30px;
    text-align: center; 
}

label{
    font-family:Arial;
    font-size: 15px;
    float: left;
    color: black;
}
.example-form{
    font-family:Arial;
    font-size: 15px;
    text-align: center;

}
h2{
    font-family:Arial;
    font-size: 15px;
    float: left;
    color: rgb(80, 6, 6);
}


 .Opciones_Avanzadas{
    color:  #a5a5a5;
    }

    mat-error{
        color: red;
      }