<div fxLayout="column">
  <div>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h3>Oops! Acceso denegado</h3>
          <h1><span>4</span><span>0</span><span>3</span></h1>
        </div>
        <h2>Lo sentimos, no es posible acceder a esta página con su nivel de acceso.</h2>
      </div>
      <div> <img src="../../../../assets/images/pic.png" alt="user" class="imglogo"> </div>  
    </div>
  </div>

</div>