<form [formGroup]="firstFormGroup">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Datos Básicos</ng-template>

      <div fxLayout="row">
        <div fxFlex="33%">
          <mat-form-field>
            <input matInput placeholder="Cédula" [formControl]="myControlCedula">
            <mat-error *ngIf="myControlCedula.hasError('required')">
              Cédula
              <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="2%"></div>
        <div fxFlex="23%">
          <mat-form-field>
            <input matInput placeholder=" Nombre" [formControl]="myControlNombre">
            <mat-error *ngIf="myControlNombre.hasError('required')">
              Nombre
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="2%"></div>
        <div fxFlex="33%">
          <mat-form-field>
            <input matInput placeholder="Apellido" [formControl]="myControlApellido">
            <mat-error *ngIf="myControlApellido.hasError('required')">
              Apellido
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="33%">
          <mat-form-field>
            <input matInput [matDatepicker]="dtpCalendario" placeholder="Fecha de Nacimiento" disabled [formControl]="myControlFecha">
            <mat-datepicker-toggle matSuffix [for]="dtpCalendario"></mat-datepicker-toggle>
            <mat-datepicker #dtpCalendario color="primary" disabled="false"></mat-datepicker>
            <mat-error *ngIf="myControlFecha.hasError('required')">
              Fecha de Nacimiento
              <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="2%"></div>
        <div fxFlex="23%">
          <mat-form-field>
            <mat-select placeholder="Nacionalidad" [formControl]="myControlNacionalidad">
              <mat-option *ngFor="let nac of nacionalidad" [value]="nac.value">
                {{nac.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myControlNacionalidad.hasError('required')">
              Nacionalidad
              <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="2%"></div>
        <div fxFlex="33%">
          <mat-form-field class="my-form-field">
            <mat-select placeholder="Estado" [formControl]="myControlEstado">
              <mat-option *ngFor="let estado of comboEstados" [value]="estado.id">
                {{estado.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myControlEstado.hasError('required')">
              Estado
              <strong> Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="33%">
          <mat-form-field class="my-form-field">
            <input matInput placeholder="Ciudad" [formControl]="myControlCiudad">
            <mat-error *ngIf="myControlCiudad.hasError('required')">
              Ciudad
              <strong> Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="2%"></div>
        <div fxFlex="23%">
          <mat-form-field>
            <mat-select placeholder="Sexo" [formControl]="myControlSexo">
              <mat-option *ngFor="let sex of sexo" [value]="sex.value">
                {{sex.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myControlSexo.hasError('required')">
              Sexo
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="2%"></div>
        <div fxFlex="33%">
          <mat-form-field>
            <input matInput placeholder="Teléfono" type="number" [formControl]="myControlTelefono">
            <mat-error *ngIf="myControlTelefono.hasError('required')">
              Teléfono
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
        <div fxFlex="100%">
          <mat-form-field class="my-form-field">
            <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Lugar de Residencia" [formControl]="myControlDireccion"></textarea>
            <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
            <mat-error *ngIf="myControlCiudad.hasError('required')">
              Lugar de Residencia
              <strong> Requerido </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Datos Personales</ng-template>

      <div fxLayout="row">

        <h3 style="margin-top: 25px">{{completitud}}</h3>
        <h3 style="margin-right:-120px;padding-left: 50px;margin-top: 25px; font-size: 18px">{{porcentaje}}%</h3>
        <div>
          <div [hidden]="!chart" style="margin-top: 5px;width: 200px">
            <canvas id="canvas-dona" height="100vh">{{chart}}</canvas>
          </div>
        </div>
        <span class="espac"></span>
        <div>
          <button style="padding: -5px 0 -5px 0; margin-top: 15px" mat-raised-button color="primary" (click)="Actualizar()">Guardar Cambios</button>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="45%">
          <mat-card>
            <mat-card-header>
              <mat-card-title style="color:#5e2129">
                <div flxLayout="row">
                  <div fxFlex="98%">
                    Característica base
                  </div>
                  <span class="espac"></span>
                  <div fxFlex="2%">
                    <mat-icon style="color: grey" matTooltip="Seleccione una opción haciendo click en la palabra">help</mat-icon>
                  </div>
                </div>
              </mat-card-title>

            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="center">
                <div fxFlex="100%">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="95%">
                      <div *ngFor="let lista of listaParametros">
                        <mat-nav-list>
                          <div fxLayout="row">
                            <a mat-list-item (click)="CargarValor(lista.id,lista.nombre)" style="width: 80%" class="item">
                              {{lista.nombre}}
                            </a>
                            <mat-checkbox style="margin-top: 12px;margin-left: 5px" [checked]="lista.checked" disabled="true">
                            </mat-checkbox>
                          </div>
                        </mat-nav-list>
                      </div>
                      <div style="color: red" *ngIf="completar">
                        completar el perfil
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>

          </mat-card>
        </div>
        <div fxFlex="3%"></div>
        <div fxFlex="47%">

          <mat-card *ngIf="!mostrar; else valorCaracteristica">
            <mat-card-content>
              <p *ngIf="!elementoTabla; else tabla">Seleccione las caracteríticas y luego su valor correspondiente para así completar su perfil</p>
              <ng-template #tabla>
                <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
                  <ng-container matColumnDef="caracteristica">
                    <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Característica</th>
                    <td mat-cell *matCellDef="let row"> {{row.caracteristica}} </td>
                  </ng-container>

                  <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Valor</th>
                    <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
              </ng-template>
            </mat-card-content>
          </mat-card>

          <ng-template #valorCaracteristica>
            <mat-card>
              <mat-card-header>

                <span class="espac"></span>
                <mat-card-title style="color: #5e2129">
                  <div flxLayout="row">
                    <div fxFlex="98%">
                      Valor Característica
                    </div>
                    <span class="espac"></span>
                    <div fxFlex="2%">
                      <mat-icon style="color: grey" matTooltip="Seleccione una opción y luego presione el botón + para agregar la característica a su perfil">help</mat-icon>
                    </div>
                  </div>
                </mat-card-title>


              </mat-card-header>
              <mat-card-content style="margin-top: -10px">
                <div fxFlex="100%">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="95%">
                      <mat-radio-group class="example-radio-group">
                        <mat-radio-button class="example-radio-button" *ngFor="let lista of listaValores" (change)="SeleccionarCaracValor(lista.id,lista.nombre)"
                          [value]="lista.id">
                          {{lista.nombre}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </ng-template>
        </div>
      </div>

      <div fxLayout="row">
        <button mat-raised-button color="accent" matStepperPrevious>Volver</button>
        <span class="espac"></span>

      </div>
    </mat-step>
  </mat-horizontal-stepper>

</form>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>