<div class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>Configurar la valoración del servicio</mat-card-title>
  </mat-card-header>
  <div fxLayout="row">
    <form fxFlex="100%">

      <!--Combo-->
      <div fxLayout="row">
        <div fxFlex="100%">
          <div fxLayout="row">
            <div fxFlex="5%"></div>
            <div fxFlex="40%">
              <mat-form-field>
                <mat-select placeholder="Pregunta" [formControl]="preguntaFormControl">
                  <mat-option value='-1'>Ninguno</mat-option>
                  <mat-option *ngFor="let doc of listaPregunta" [value]="doc.id" (click)="ObtenerIdCat(doc.id)">
                    {{doc.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="preguntaFormControl.hasError('required')">
                  Pregunta <strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="5%"></div>
            <div fxFlex="40%">
              <mat-form-field>
                <mat-select placeholder="Respuesta" [formControl]="respuestaFormControl">
                  <mat-option value='-1'>Ninguno</mat-option>
                  <mat-option *ngFor="let resp of listaRespuesta" [value]="resp.id" (click)="ObtenerIdPreg(resp.id)">
                    {{resp.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="respuestaFormControl.hasError('required')">
                  Respuestas <strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="3%">
              <button mat-mini-fab matTooltip="Agregar Respuesta" style="margin-top:40px" color="primary" (click)="Registrar()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div fxFlex="5%"></div>
          </div>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlex="100%">
          <div fxLayout="row">
            <div fxFlex="5%"> </div>
            <div fxFlex="90%">
              <div style="margin-top:4px">
                <table mat-table [dataSource]="dataSource" matSort>

                  <ng-container matColumnDef="pregunta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Pregunta</th>
                    <td mat-cell *matCellDef="let row"> {{row.tipo_valoracion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombreResp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Respuesta Asociada</th>
                    <td mat-cell *matCellDef="let row"> {{row.rango_descripcion}} </td>
                  </ng-container>

                  <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Eliminar</th>
                    <td mat-cell *matCellDef="let row">
                      <a mat-icon-button color="primary" (click)="Eliminar(row.tr_valoracion_id)">
                        <mat-icon color="primary">delete</mat-icon>
                      </a></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[4]"></mat-paginator>
              </div>
            </div>
            <div fxFlex="5%">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="76%"></div>
        <button mat-raised-button color="accent" style="float: right" (click)="onclick()">Cancelar</button>
      </div>
    </form>
  </div>
</div>