<div class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>Solicitud por Atender</mat-card-title>
  </mat-card-header>



  <div fxLayout="row">
    <form fxFlex="100%">
      <div fxLayout="row">
        <div fxFlex="35%">
          <label style="margin: 10px 0 10px 0">
            <strong>Cédula del cliente:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="61%">
          <label style="margin: 10px 0 10px 0">{{form.cedula}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="35%">
          <label style="margin-bottom: 10px">
            <strong>Nombre del cliente:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="61%">
          <label style="margin-bottom: 10px">{{form.nombre}} {{form.apellido}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="35%">
          <label style="margin-bottom: 10px">
            <strong>Fecha de la solicitud:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="61%">
          <label style="margin-bottom: 10px">{{form.fecha}}</label>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="35%">
          <label>
            <strong>Tipo de Servicio:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="61%">
          <label>{{form.servicio}}</label>
        </div>
      </div>
      
      <div fxLayout="row">
        <div fxFlex="35%">
          <label>
            <strong>Descripción:</strong>
          </label>&nbsp;
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="61%">
          <label>{{form.descripcion}}</label>
        </div>
      </div>

      <mat-card-content>
        <mat-card-actions style="margin-top: 20px">
          <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cerrar</button>
        </mat-card-actions>
      </mat-card-content>


    </form>
  </div>
</div>