<mat-card>
    <mat-card-header style="background-color: #5e2129">
        <mat-card-title style="color: white">
            <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/reportes']">
                <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
            </a>Servicios más demandados</mat-card-title>

    </mat-card-header>

    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div fxFlex="25%">

                <mat-form-field>
                    <mat-select [(ngModel)]="tmes" placeholder="Mes">
                            <mat-option value="01">Enero</mat-option>
                            <mat-option value="02">Febrero</mat-option>
                            <mat-option value="03">Marzo</mat-option>
                            <mat-option value="04">Abril</mat-option>
                            <mat-option value="05">Mayo</mat-option>
                            <mat-option value="06">Junio</mat-option>    
                            <mat-option value="07">Julio</mat-option>
                            <mat-option value="08">Agosto</mat-option>
                            <mat-option value="09">Septiembre</mat-option>
                            <mat-option value="10">Octubre</mat-option>
                            <mat-option value="11">Noviembre</mat-option>
                            <mat-option value="12">Diciembre</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="25%">

                <mat-form-field>
                    <mat-select [(ngModel)]="tyear" placeholder="2019">
                        <mat-option *ngFor="let years of year" [value]="years" >{{years}}</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              
              <div fxFlex="10%">
                <button (click)="barra()" mat-raised-button color="primary">Informe de barras</button>
                </div>
                <div fxFlex="5%"></div>
                <div fxFlex="10%">
                <button (click)="torta()" mat-raised-button color="primary">Informe de torta</button>
                </div>
        </div>

        <div class="mat-elevation-z8">
            <hr>

            <div fxLayout="row" fxLayoutAlign="center center" [hidden]="!chart">
                <canvas class="my-4 w-100" id="canvas-doughnut" width="700" height="350">{{chart}}</canvas>
            </div>

            <hr>

            <div id="content" fxLayout="row" fxLayoutAlign="center center">
                <canvas class="my-4 w-100" id="canvas-barra" width="700" height="300" >{{myChart}}</canvas>
            </div>
        </div>
        <br><div fxLayoutAlign="center">
            <button (click)="downloadImagePDF()" mat-raised-button color="primary">Imprimir pdf</button>
        </div>
        <br>
    </mat-card-content>
</mat-card>