<mat-card>
  <mat-card-header style="background-color: #5e2129; justify-content: center">
      <div mat-card-avatar class="example-header-image">
          <mat-icon style="color:white">account_balance</mat-icon>
        </div>
        <mat-card-title style="color: white;">Difusión
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="50%">
        <mat-form-field>
          <mat-select placeholder="Seleccione una promoción">
            <mat-option *ngFor="let op of listaPromocion" [value]="op.id" (click)="CargarDatosPromocion(op.id)">
              {{op.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>

    <div fxLayout="row">
      <div fxFlex="50%">
        <h3>Características de Difusión</h3>
        <br>
        <br>
        <mat-accordion >
        <mat-expansion-panel *ngFor="let carBase of listaCaracteristicaB; index as i" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{carBase.nombre}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-selection-list>
            <mat-list-option [value]="caracteristica.id" *ngFor="let caracteristica of listaCaracteristicaB[i].caracteristicas" (click)="seleccionar(caracteristica.id, carBase.id)">
              {{caracteristica.nombre}}
            </mat-list-option>
          </mat-selection-list>

        </mat-expansion-panel>
      </mat-accordion>
      
      </div>
      <div fxFlex="3%"></div>
      <div fxFlex="47%">
        <h3>Datos de la Promoción</h3>
        <br>
        <br>
        <div  fxLayout="row" >
          
            <div fxFlex="49%">
                
                <mat-form-field class="my-form-field">
                    <input matInput disabled placeholder="Fecha Inicial" [formControl]="myControlFecha">
              </mat-form-field>
    
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="49%">
                <mat-form-field class="my-form-field">
                    <input matInput disabled placeholder="Fecha Final" [formControl]="myControlFechaF">
              </mat-form-field>
            </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="95%">
                <mat-form-field  class="my-form-field">
                    <textarea matInput disabled #descripcion maxlength="500" rows="5" placeholder="Descripción" [formControl]="myControlDescripcion"></textarea>
                    <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                    </mat-form-field>
            </div>
          </div>
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button color="accent" style="float: right; width: 150px" (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
      <button mat-raised-button color="primary" style="float: right;width: 150px" (click)="difundir()" cdkFocusInitial>Difundir</button>
    </mat-card-actions>
    <br>

  </mat-card-content>

</mat-card>