<mat-card>
    <mat-card-header style="background-color:#5e2129">
            <mat-card-title style="color: white"> 
                    <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
                      <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
                    </a>Información de tu Organización
                  </mat-card-title>
        
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="60%">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="color:#5e2129">Información Básica</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <form fxFlex="100%">
                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre de la Organización" id="txtNomb">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field>
                                            <input matInput placeholder="Correo de Contacto" id="txtCorreo">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field>
                                            <input matInput placeholder="Teléfono de Contacto" id="txtTelefono">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field class="my-form-field">
                                            <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Dirección"></textarea>
                                            <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field class="my-form-field">
                                            <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Misión"></textarea>
                                            <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field class="my-form-field">
                                            <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Visión"></textarea>
                                            <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="center">
                                    <div fxFlex="95%">
                                        <mat-form-field class="my-form-field">
                                            <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Objetivos"></textarea>
                                            <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <mat-card-title style="text-align:center; color:#5e2129">Horarios de Trabajo (Lunes a
                                    Viernes)</mat-card-title>
                                <br>
                                <div fxLayout="row">
                                    <div fxFlex="30%"></div>

                                    <div fxFlex="33%">

                                        <mat-form-field class="my-form-field">

                                            <input matInput [ngxTimepicker]="dtpTimer" [disableClick]="true" readonly
                                                placeholder="Desde: ">
                                            <ngx-material-timepicker-toggle matSuffix [for]="dtpTimer"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker style="background-color: #5e2129" #dtpTimer></ngx-material-timepicker>

                                        </mat-form-field>

                                    </div>
                                    <div fxFlex="3%"></div>
                                    <div fxFlex="33%">
                                        <mat-form-field class="my-form-field">

                                            <input matInput [ngxTimepicker]="dtpHasta" [disableClick]="true" readonly
                                                placeholder="Hasta: ">
                                            <ngx-material-timepicker-toggle matSuffix [for]="dtpHasta"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker style="background-color: #5e2129" #dtpHasta></ngx-material-timepicker>

                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="30%"></div>
                                </div>

                                <br>
                                <mat-card-title style="text-align:center; color:#5e2129">Horarios de Trabajo (Sábado y
                                    Domingo)</mat-card-title>
                                <br>

                                <div fxLayout="row">
                                    <div fxFlex="30%"></div>

                                    <div fxFlex="33%">

                                        <mat-form-field class="my-form-field">

                                            <input matInput [ngxTimepicker]="dtpTimer2" [disableClick]="true" readonly
                                                placeholder="Desde: ">
                                            <ngx-material-timepicker-toggle matSuffix [for]="dtpTimer2"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker style="background-color: #5e2129" #dtpTimer2></ngx-material-timepicker>

                                        </mat-form-field>

                                    </div>
                                    <div fxFlex="3%"></div>
                                    <div fxFlex="33%">
                                        <mat-form-field class="my-form-field">

                                            <input matInput [ngxTimepicker]="dtpHasta2" [disableClick]="true" readonly
                                                placeholder="Hasta: ">
                                            <ngx-material-timepicker-toggle matSuffix [for]="dtpHasta2"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker style="background-color: #5e2129" #dtpHasta2></ngx-material-timepicker>

                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="30%"></div>
                                </div>
                            </form>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>

                    </mat-card-actions>

                </mat-card>
            </div>

            <div fxFlex="40%">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="color: #5e2129">Redes Sociales</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <form fxFlex="100%">
                            <div fxLayout="row" fxLayoutAlign="center">
                                <div fxFlex="95%">
                                    <mat-list role="list">
                                        <mat-list-item *ngFor="let red of RedSocial" role="listitem">
                                            <mat-form-field>
                                                <input matInput [placeholder]="red" [id]="red">
                                            </mat-form-field>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>

                        </form>
                    </mat-card-content>
                
                </mat-card>
            </div>
        </div>
        <div class="example-button-row" style=" float: right; margin-top: -20px;">
                <button mat-raised-button color="primary" style="margin-right: 5px">Guardar Cambios</button> 
                <button mat-raised-button color="accent">Cancelar</button>        
            </div>
    </mat-card-content>
    
</mat-card>