<mat-card>
    <mat-card-header style="background-color: #5e2129">
      <mat-card-title style="color: white"> 
        <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/maestros']">
          <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
        </a>Tipos de Empleados
      </mat-card-title>
    </mat-card-header>
  <!--<mat-toolbar color="primary">
    <mat-card-title style="color: white">Especialidades</mat-card-title>          
  </mat-toolbar> -->
  <mat-toolbar style="background: none">
    <button mat-mini-fab matTooltip="Nuevo Empleado" color="primary" style="float: left;" (click)="openDialogRegistrar()"> <mat-icon>add</mat-icon></button>
    <span class="espac"></span>
  <mat-icon matSuffix>search</mat-icon>
  <mat-form-field class="search-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar>
  <div >
  <table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="ver">
    <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Detalle </th>
    <td mat-cell *matCellDef="let row">
        <a mat-icon-button color="primary" (click)="openDialogActualizar(row)" >
          <mat-icon color="primary">remove_red_eye</mat-icon>                   
        </a></td>
  </ng-container>
  <!-- ID Column -->
  <ng-container matColumnDef="nombre">
  <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Tipo Empleado</th>
  <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
  </ng-container>


  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef  style="font-size:1rem" >Eliminar</th>
    <td mat-cell *matCellDef="let row">
        <a mat-icon-button color="primary" (click)="openDialogEliminar(row.id)">
          <mat-icon color="primary">delete</mat-icon>                   
        </a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>

