<mat-card>
  <mat-card-header style="background-color: #5e2129">
      <mat-card-title style="color: white"> 
        <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" (click)="inicio()">
          <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
        </a>Reclamos
      </mat-card-title>
    </mat-card-header>
<mat-toolbar style="background: none">
  <button mat-mini-fab matTooltip="Agregar" color="primary" style="float: left;" (click)="ListaCasosFinalizados()"> <mat-icon>add</mat-icon></button>
  <span class="espac"></span>
<mat-icon matSuffix>search</mat-icon>
<mat-form-field class="search-input">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
    <mat-icon>close</mat-icon></button>

  </mat-form-field>
</mat-toolbar>

<div >

<table mat-table [dataSource]="dataSource" matSort>

<!-- Tipo de Servicio Column -->
<ng-container matColumnDef="tipo_reclamo">
<th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo Reclamo </th>
<td mat-cell *matCellDef="let row"> {{row.tipo_reclamo}} </td>
</ng-container>

<!-- fecha Column -->
<ng-container matColumnDef="fecha">
<th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha </th>
<td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
</ng-container>

<ng-container matColumnDef="ver">
<th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Detalle</th>
<td mat-cell *matCellDef="let row">
    <a mat-icon-button   matTooltip="Ver detalle" color="primary" (click)="openDialogDetalle(row)" >
      <mat-icon color="primary">remove_red_eye</mat-icon>                   
    </a></td>
</ng-container>>

<!-- Color Column 
<ng-container matColumnDef="estatus">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
<td mat-cell *matCellDef="let row" [style.color]="row.color"><mat-icon>{{row.ver}}</mat-icon><span style="margin-top: -5px"> {{row.estatus}}</span> </td>
</ng-container>-->

<!-- Color Column -->
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Estado </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">
          
          <div fxFlexLayout="row">
          <mat-icon >{{row.ver}}</mat-icon>

          <span ><strong>{{row.estatus}}</strong></span></div>
        </td>
      </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;">
</tr>

</table>


<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>
