.example-card {
  max-width: 100%;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

table {
  padding: 2em;
  padding-top: 0em;
  width: 100%;
}


mat-form-field{
  padding: 2em;
  padding-bottom: 0em;
}
.search-input{
  width: 30% ;
  float: right ;
 
}

.mat-form-field {
  font-size: 14px;
 
}

.mat-row, .mat-header-row {
  min-width: 1123px; 
  width:100%;
}
.espac{
  flex: 1 1 auto;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }
}
