.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: -2%;
    top: 0;
}

.example-card {
    max-width: 80%;
    margin: 0 auto;
  }
  
  mat-error {
    color: red;
  }
  
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 15px;
  }
  
  .espac {
    flex: 1 1 auto;
  }
  .item{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
  }
  
  .item:hover {
    background-color: rgb(44, 46, 44); /* Green */
    color: white;
  }