<mat-card>
  <mat-card-header style="background-color:#5e2129">
    <mat-card-title style="color:white">
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/DashC']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Perfil
    </mat-card-title>
  </mat-card-header>
  <!-- <div  fxLayout="row">
    <span class="espac"></span>
    <h3 style="margin-top: 25px" >{{completitud}}</h3>
    <h3 style="margin-right:-120px;padding-left: 50px;margin-top: 25px">{{porcentaje}}%</h3>
    <div>
      <div [hidden]="!chart" style="margin-top: 5px;width: 200px">
        <canvas  id="canvas-dona"  height="100vh">{{chart}}</canvas>
      </div>
    </div>
  </div> -->
  <mat-card-content>
    <form [formGroup]="firstFormGroup">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>  
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Datos Básicos</ng-template>
    
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-form-field>
                <input matInput placeholder="Cédula" [formControl]="myControlCedula">
                <mat-error *ngIf="myControlCedula.hasError('required')">
                  Cédula <strong>Requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="23%">
              <mat-form-field>
                <input matInput placeholder=" Nombre" [formControl]="myControlNombre">
                <mat-error *ngIf="myControlNombre.hasError('required')">
                  Nombre <strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="33%">
              <mat-form-field>
                <input matInput placeholder="Apellido" [formControl]="myControlApellido">
                <mat-error *ngIf="myControlApellido.hasError('required')">
                  Apellido<strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-form-field>
                <input matInput [matDatepicker]="dtpCalendario" placeholder="Fecha de Nacimiento" disabled [formControl]="myControlFecha">
                <mat-datepicker-toggle matSuffix [for]="dtpCalendario"></mat-datepicker-toggle>
                <mat-datepicker #dtpCalendario color="primary" disabled="false"></mat-datepicker>
                <mat-error *ngIf="myControlFecha.hasError('required')">
                  Fecha de Nacimiento <strong>Requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="23%">
              <mat-form-field>
                <mat-select placeholder="Nacionalidad" [formControl]="myControlNacionalidad">
                  <mat-option *ngFor="let nac of nacionalidad" [value]="nac.value">
                    {{nac.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myControlNacionalidad.hasError('required')">
                  Nacionalidad <strong>Requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="33%">
              <mat-form-field class="my-form-field">
                <mat-select placeholder="Estado" [formControl]="myControlEstado">
                  <mat-option *ngFor="let estado of comboEstados" [value]="estado.id">
                    {{estado.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myControlEstado.hasError('required')">
                  Estado <strong> Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-form-field class="my-form-field">
                <input matInput placeholder="Ciudad" [formControl]="myControlCiudad">
                <mat-error *ngIf="myControlCiudad.hasError('required')">
                  Ciudad <strong> Requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="23%">
              <mat-form-field>
                <mat-select placeholder="Sexo" [formControl]="myControlSexo">
                  <mat-option *ngFor="let sex of sexo" [value]="sex.value">
                    {{sex.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myControlSexo.hasError('required')">
                  Sexo <strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="33%">
              <mat-form-field>
                <input matInput placeholder="Teléfono" type="number" [formControl]="myControlTelefono">
                <mat-error *ngIf="myControlTelefono.hasError('required')">
                  Teléfono <strong>Requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
            <div fxFlex="100%">
              <mat-form-field class="my-form-field">
                <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Lugar de Residencia" [formControl]="myControlDireccion"></textarea>
                <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="myControlCiudad.hasError('required')">
                  Lugar de Residencia <strong> Requerido </strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
          <div>
            <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
          </div>
    
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Datos Usuario</ng-template>
            
            <div fxLayout="row">
              <div fxFlex="49%">
                <div class="profile-img">
                  <div>
                    <input type="file" style="display: none" #fileInput (change)="imagenEntrada($event.target.files)"
                      accept="image/*" placeholder="Seleccione una imagen" [formControl]="imagenFormControl">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Seleccionar Imagen</button>
                  </div>
                  <br>
                    <img mat-card-image [src]="imagen" style="width:200px;height: 200px; border-radius: 100%">  
                  <br>             
                </div>
              </div>

              <div fxFlex="2%"></div>
              <div fxFlex="49%">
                <div fxLayout="row">

                  <mat-form-field>
                    <input matInput placeholder="Correo Electrónico" [formControl]="myControlCorreo">
                    <mat-error *ngIf="myControlCorreo.hasError('email') && !myControlCorreo.hasError('required')">
                      Por favor, introduce una dirección de correo Electrónico válida
                    </mat-error>
                    <mat-error *ngIf="myControlCorreo.hasError('required')">
                      Correo Electrónico <strong>Requerido</strong>
                    </mat-error>
                  </mat-form-field>

                </div>

                  <div fxLayout="row">

                    <mat-form-field>
                      <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'password' : 'text'" [formControl]="myControlContrasena" (keyup)="validarPassWord()">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row">

                    <mat-form-field>
                      <input matInput placeholder="Confirmar Nueva Contraseña" [type]="hide2 ? 'password' : 'text'"
                        [formControl]="myControlConfirmar" (keyup)="validarPassWord()">
                      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    </mat-form-field>
                  </div>
                  <div *ngIf="confirmar" style="color: red; font-size: 13px; margin-top: -10px">
                    No coinciden las contraseñas
                  </div>

              </div>
            </div>
            <br>
            <div>
              <button mat-raised-button color="accent" matStepperNext>Back</button>
              <button mat-raised-button color="accent" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Datos Personales</ng-template>
    
          <div fxLayout="row">
            <span class="espac"></span>
            <h3 style="margin-top: 25px">{{completitud}}</h3>
            <h3 style="margin-right:-120px;padding-left: 50px;margin-top: 25px; font-size: 18px">{{porcentaje}}%</h3>
            <div>
              <div [hidden]="!chart" style="margin-top: 5px;width: 200px">
                <canvas id="canvas-dona" height="100vh">{{chart}}</canvas>
              </div>
            </div>
          </div>
    
          <div fxLayout="row">
            <div fxFlex="45%">
              <mat-card>
                <mat-card-header>
                  <mat-card-title style="color:#5e2129">Característica base</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="100%">
                      <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex="95%">
                          <div *ngFor="let lista of listaParametros">
                            <mat-nav-list>
                              <div fxLayout="row">
                                <a mat-list-item (click)="CargarValor(lista.id,lista.nombre,lista.checked)" style="width: 80%" [style.background-color]="lista.color" class="item">
                                  {{lista.nombre}}
                                </a>
                                <mat-checkbox style="margin-top: 12px;margin-left: 5px" [checked]="lista.checked"
                                  disabled="true">
                                </mat-checkbox>
                              </div>
                            </mat-nav-list>
                          </div>
                          <div style="color: red" *ngIf="completar">
                            completar el perfil
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-actions>
    
                </mat-card-actions>
    
              </mat-card>
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="47%">
    
              <mat-card *ngIf="!mostrar; else valorCaracteristica">
                <mat-card-content>
                  <p *ngIf="!elementoTabla; else tabla">Seleccione las caracteríticas y luego su valor correspondiente para
                    así completar su perfil</p>
                  <ng-template #tabla>
                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
                      <ng-container matColumnDef="caracteristica">
                        <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Característica</th>
                        <td mat-cell *matCellDef="let row"> {{row.caracteristica}} </td>
                      </ng-container>
    
                      <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Valor</th>
                        <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
                      </ng-container>
    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                      </tr>
                    </table>
                  </ng-template>
                </mat-card-content>
              </mat-card>
    
              <ng-template #valorCaracteristica>
                <mat-card>
                  <mat-card-header>
                    <mat-card-title style="color: #5e2129">Valor Característica</mat-card-title>
                    <span class="espac"></span>
                    <button mat-mini-fab color="primary" matTooltip="Agregar Característica" (click)="AgregarCaracteristica()" [disabled]="agregar">
                      <mat-icon>add</mat-icon>
                    </button>
                  </mat-card-header>
                  <mat-card-content style="margin-top: -10px">
                    <div fxFlex="100%">
                      <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex="95%">
                          <mat-radio-group class="example-radio-group">
                            <mat-radio-button class="example-radio-button" *ngFor="let lista of listaValores" (change)="SeleccionarCaracValor(lista.id,lista.nombre)" [value]="lista.id">
                              {{lista.nombre}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-template>
            </div>
          </div>
    
          <div fxLayout="row">
            <button mat-raised-button color="accent" matStepperPrevious>Volver</button>
            <span class="espac"></span>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <button mat-raised-button color="primary" (click)="Actualizar()">Guardar Cambios</button>
    
    </form>    
  </mat-card-content>
  
</mat-card>
    <div class="my-container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    </div>