.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  
  .example-radio-button:hover {
    background-color: rgb(232, 236, 232); /* Green */
  }