<mat-card>
  <mat-card-header style="background-color: #5e2129; color: white">

    <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px; float: left;" [routerLink]="['/valorar-cliente']">
      <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
    </a>
    <mat-icon style=" margin-left: 50%;margin-right: 2px">star_half</mat-icon>
    Valorar Servicio

  </mat-card-header>
 
  <form>
    <mat-card-content style="color: white;">
      <div fxLayout="row">
        <div fxFlex="100%">
          <mat-card-content style="border-radius: 1.5%; color:rgba(0, 0, 0, 0.589)" class="mat-elevation-z8" *ngFor="let preg of listaPregunta index as i">
            <label><strong>Pregunta:</strong></label>
            <div>
              <br>
              <label style="margin-left:5px">{{preg.nombre}}</label>
              <br>
              <br>
              <label><strong>Respuestas:</strong></label>
              <br>
              <br>
              <mat-radio-group class="example-radio-group">
                <mat-radio-button class="example-radio-button" (click)="obtIdRespuesta(preg.id,resp.id)" [value]="resp.rango_valoracion_id"
                 *ngFor="let resp of listaPregunta[i].rangos">{{resp.descripcion}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-card-content>
          <br>
        </div>
      </div>
      <div style="float:right;color: white;">
        <button mat-raised-button color="primary" style="margin-right: 5px;margin-right: 2px" (click)="Registrar()">
          Enviar
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/valorar-cliente']">Cancelar</button>
      </div>
      <br>
    </mat-card-content>
  </form>
</mat-card>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>