<div fxLayout="column">
  <mat-card class="example-card" style="width: 70%">
    <mat-card-header style="background-color:#5e2129">
      <mat-card-title style="color: white">
        <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
          <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
        </a>Funcionalidades de Rol
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
      <div fxLayout="row">
        <div fxFlex="100%">

          <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="70%">
              <mat-form-field>
                <mat-select placeholder="Seleccione un Rol" [formControl]="rolFormControl">
                  <mat-option [value]="-1" (click)="limpiarArreglo()" >Ninguno</mat-option>
                  <mat-option *ngFor="let rol of listaRol" [value]="rol.id" (click)="cargarAccesoRol()">
                    {{rol.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <div fxLayout="row">

            <div fxFlex="50%">
              <mat-selection-list #funcion >
                <mat-list-option *ngFor="let lista1 of listaConfiguracion1"  [selected]="verdadero[lista1.id]" [value]='lista1.id' (click)="onAreaListControlChanged(funcion)" >
                  <mat-icon mat-list-icon color="primary">folder</mat-icon>
                  {{lista1.nombre}}
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div fxFlex="50%">
              <mat-selection-list  #funcion2>
                <mat-list-option *ngFor="let lista2 of listaConfiguracion2"  [value]="lista2.id" [selected]="verdadero[lista2.id]"  (click)="onAreaListControlChanged2(funcion2)">
                  <mat-icon mat-list-icon color="primary">folder</mat-icon> {{lista2.nombre}}
                </mat-list-option>
              </mat-selection-list>
            </div>

          </div>
        </div>
      </div>
      <div class="example-button-row" style=" float: right; margin: 15px 0 15px 0">
        <button mat-raised-button color="primary" style="margin-right: 5px" [disabled]="bloquear" (click)="Registrar()">Guardar Cambios</button>
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
    </mat-card-content>

  </mat-card>
</div>
