<mat-card>
  <mat-card-header style="background-color:#5e2129">
    <mat-card-title style="color: white">
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Lista de Empleados
    </mat-card-title>
  </mat-card-header>
  <div class="barra">
    <button [routerLink]="['/empleado']" mat-mini-fab matTooltip="Nuevo Empleado" color="primary" style="float: left;">
      <mat-icon>add</mat-icon>
    </button>

    <span class="espac"></span>
    <mat-icon matSuffix>search</mat-icon>
    <mat-form-field class="search-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div style="margin-top:4px">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Detalle </th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button color="primary" [routerLink]="['/empleado',row.idUsuario]">
            <mat-icon color="primary">remove_red_eye</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="imagenUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Foto</th>
        <td mat-cell *matCellDef="let row">
          <div class="profile-img"> <img [src]="row.imagenUsuario" alt="user" style="width: 50px; height: 50px;"> </div>
        </td> 
      </ng-container>

      <ng-container matColumnDef="nombreUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre de Usuario</th>
        <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cedulaUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Cédula</th>
        <td mat-cell *matCellDef="let row"> {{row.cedulaUsuario}} </td>
      </ng-container>

      <ng-container matColumnDef="correoUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Correo Electrónico</th>
        <td mat-cell *matCellDef="let row"> {{row.correoUsuario}} </td>
      </ng-container>

      <ng-container matColumnDef="rolUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Rol</th>
        <td mat-cell *matCellDef="let row"> {{row.rolUsuario}} </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem" (click)="openDialogEliminar(row)">Eliminar</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button color="primary">
            <mat-icon color="primary">delete</mat-icon>
          </a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>