<mat-card-header>
  <div mat-card-avatar class="example-header-image">
    <mat-icon>local_library</mat-icon>
  </div>
  <mat-card-title>Registrar Solicitud</mat-card-title>
</mat-card-header>

<mat-card-content>

  <div fxLayout="row">
    <div fxFlex="48%">

      <mat-form-field class="example-form-field2">
        <mat-select (selectionChange)="habilitarServicios($event.value)" placeholder="Categoría de servicio" [formControl]="categoriaFormControl">
          <mat-option *ngFor="let categoria of listaCategoria" [value]="categoria.id" (click)="ObtenerIdCat(categoria.id)">
            {{categoria.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoriaFormControl.hasError('required')">
          Categoria
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>



    </div>
    <div fxFlex="auto"> </div>
    <div fxFlex="48%">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-select [disabled]="disableServ" placeholder="Tipo de servicio" [formControl]="tipoServFormControl">
            <mat-option *ngFor="let catalogo of listaCatalogo" [value]="catalogo.id" (click)="ObtenerIdCatalogo(catalogo.id)">
              {{catalogo.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tipoServFormControl.hasError('required')">
            Tipo de Servicio 
            <strong>Requerido</strong>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Descripción de la Solicitud" maxlength="500" rows="5" [formControl]="descripcionFormControl"></textarea>
    <mat-error *ngIf="descripcionFormControl.hasError('required')">
      Descripción 
      <strong>Requerida</strong>
    </mat-error>
  </mat-form-field>

  <mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" style="float:right" (click)=Registrar()>Registrar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card-content>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>