<div fxLayout="column">

    <div fxLayout="row" id="barra">
  
      <div fxFlex="50%">
  
        <mat-card id="arriba">
          <mat-card-content class="mat-card-content">
            <h4 class="m-0">
              <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">assignment</mat-icon>
              Mis Casos</h4>
  
            <a mat-icon-button [routerLink]="['/casos']">
              <h6 class="text-muted m-t-0 m-b-10">Ver Detalles</h6>
            </a>
            <mat-progress-bar value="40" mode="indeterminate"></mat-progress-bar>
  
          </mat-card-content>
        </mat-card>
  
      </div>

      <div fxFlex="50%">
  
          <mat-card id="arriba">
            <mat-card-content class="mat-card-content">
              <h4 class="m-0">
                <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">today</mat-icon>
                Mis Citas</h4>
    
              <a mat-icon-button [routerLink]="['/citas']">
                <h6 class="text-muted m-t-0 m-b-10">Ver Detalles</h6>
              </a>
              <mat-progress-bar value="40" mode="indeterminate"></mat-progress-bar>
    
            </mat-card-content>
          </mat-card>
    
        </div>
   </div>

   <div fxLayout="row">


      <div fxFlex="50%">
          <div class="carta">
    
    
            <h3 class="text-center">
              <br>
              <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">assignment</mat-icon>
              Mis Casos</h3>
            <mat-accordion>
    
              <mat-expansion-panel *ngFor="let caso of casos">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 mat-line>{{caso.nombre}}</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <label>
                  <strong>Fecha apertura: </strong>
                </label> {{caso.fecha}}
                <br>
                <label>
                  <strong>Cédula cliente: </strong>
                </label> {{caso.cedula}}
                <br>
                <label>
                  <strong>Cliente: </strong>
                </label> {{caso.cliente}}
    
              </mat-expansion-panel>
    
            </mat-accordion>
    
          </div>
        </div>

        <div fxFlex="50%">
            <div class="carta">
      
      
              <h3 class="text-center">
                <br>
                <mat-icon class=" mat-icon material-icons" color="primary" aria-hidden="true">today</mat-icon>
                Mis Citas</h3>
              <mat-accordion>
      
                <mat-expansion-panel *ngFor="let cita of citas">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h6 mat-line>{{cita.nombre}}</h6>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <label>
                    <strong>Fecha: </strong>
                  </label> {{cita.fecha}}
                  <br>
                  <label>
                    <strong>Cliente: </strong>
                  </label> {{cita.cliente}}
      
                </mat-expansion-panel>
      
              </mat-accordion>
      
            </div>
          </div>
   </div>
</div>
      