<mat-card-header style="background-color: #5e2129;margin-bottom: 20px">
  <mat-card-title style="color: white;font-size: 20px">Nueva Incidencia</mat-card-title>
</mat-card-header> 

  <mat-card-content>
    

        <mat-form-field class="example-form-field2">
          <mat-select  placeholder="Tipo de incidencia" [formControl]="incidenciaFormControl">
            <mat-option *ngFor="let incidencia of listaIncidencia" [value]="incidencia.id" (click)="ObtenerIdIncidencia(incidencia.id)">
              {{incidencia.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="incidenciaFormControl.hasError('required')">
            Incidencia
            <strong>Requerida</strong>
          </mat-error>
        </mat-form-field>

        <div fxLayout="row">
            <div fxFlex="100%">
                <mat-form-field>
                    <textarea matInput placeholder="Descripción de la incidencia" [formControl]="descripcionFormControl"></textarea>
                </mat-form-field>
      </div>
                
         <!--  FECHA EN UN DATEPICKER 
          <mat-form-field>    
            <input matInput [matDatepicker]="dp1" [placeholder]="date" [(ngModel)]="date" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>-->

          <!--<mat-form-field class="example-full-width">
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Elige una Fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>-->
       
        </div>
      
     
  
      <!--<section class="example-section">
        <mat-checkbox [formControl]="disableSelect">Desmarca, si deseas elegir un abogado</mat-checkbox>
      </section>
      
      <div fxLayout="row">
        <div fxFlex="48%">
            <mat-form-field>
                <mat-select placeholder="Abogado" [disabled]="disableSelect.value">
                  <mat-option value="option1">Ninguno</mat-option>
                  <mat-option *ngFor="let abo of abogados" [value]="abo">{{abo}}</mat-option>              
                </mat-select>
              </mat-form-field>
        </div>
      </div>-->
      
    <mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" style="float:right" (click)="Registrar()">Agregar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card-content>

    <div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>