<div class="example-card">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <mat-icon>local_library</mat-icon>
        </div>
        <mat-card-title>Rechazar Solicitud</mat-card-title>
    </mat-card-header>

    <div fxLayout="row">
        <form fxFlex="100%">
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Cliente:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form.nombre}} {{form.apellido}}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Tipo de Servicio:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form.servicio}}</label>
                </div>
            </div>


            <div fxLayout="row">
                <mat-form-field>
                    <mat-select placeholder="Tipo de Respuesta" [formControl]="respuestaFormControl">
                        <mat-option>Ninguno</mat-option>
                        <mat-option *ngFor="let respuesta of listaRespuesta" [value]="respuesta.id" (click)="ObtIdRespuesta(respuesta.id)">
                            {{respuesta.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="respuestaFormControl.hasError('required')">
                        Seleccione un <strong>Tipo de Respuesta</strong>
                      </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
                <div fxFlex="100%">
                    <mat-form-field class="my-form-field">
                        <textarea matInput [formControl]="causaFormControl" #descripcion maxlength="500" rows="5" placeholder="Causa del Rechazo"></textarea>
                        <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                        <mat-error *ngIf="respuestaFormControl.hasError('required')">
                            Indique la causa del <strong>Rechazo</strong>
                          </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div fxLayout="row">
                <div fxFlex="80%"></div>
                <button mat-raised-button color="primary" style="float: right;" (click)="Rechazar()">Enviar</button>
                <div fxFlex="2%"></div>
                <button mat-raised-button color="accent" style="float: right" (click)="onNoClick()">Cerrar</button>
            </div>
        </form>
    </div>
</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>