<div class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"> <mat-icon >local_library</mat-icon> </div>
        <mat-card-title >{{titulo}} Bloque de Hora</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayout="row">
            <div fxFlex="30%">
             <strong> Hora de inicio: </strong>
            </div>
            <div fxFlex="auto"
            class="sombra">
                <owl-date-time-inline 
                [pickerType]="'timer'"
                [(ngModel)]="t1"
                [startAt]="t1"
              >
              </owl-date-time-inline>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="30%">
            <strong> Hora de fin:</strong> 
            </div>
            <div fxFlex="auto" 
            class="sombra">
                <owl-date-time-inline 
                [pickerType]="'timer'"
                [(ngModel)]="t2"
                [startAt]="t2"
              >
              </owl-date-time-inline>
            </div>
          </div>
          <div fxLayout="row" style="margin-top: 8px">
              <div fxFlex="74%"></div>
              <div *ngIf="incluir; else act">
                <button mat-raised-button color="primary" style="float: right;" (click)=Registrar() cdkFocusInitial>Agregar</button>
              </div>
              <ng-template #act>
                <button mat-raised-button color="primary" style="float: right;width: 160px" (click)=Actualizar() cdkFocusInitial>Actualizar</button>
              </ng-template>
              <div fxFlex="2%"></div>
              <button mat-raised-button color="accent" style="float: right; width: 160px" (click)="onNoClick()">Cancelar</button>
            </div>
        </div>
      </mat-card-content>

  </div>