<mat-card>
    <mat-card-header style="background-color: #5e2129; justify-content: center">
        <div mat-card-avatar class="example-header-image">
            <mat-icon style="color:white">account_balance</mat-icon>
          </div>
          <mat-card-title style="color: white;">Casos Cerrados</mat-card-title>
      </mat-card-header>
  <mat-toolbar style="background: none">
    <span class="espac"></span>
  
  <mat-form-field class="search-input">
      
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value"><mat-icon matSuffix>search</mat-icon>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()"></button>
          <mat-icon>close</mat-icon>
      
    </mat-form-field>
  </mat-toolbar>
  <div >
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Id Servicio -->
      <ng-container matColumnDef="idServicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Codigo del Servicio </th>
      <td mat-cell *matCellDef="let row"> {{row.idServicio}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="cedulaCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cédula del cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cedulaCliente}} </td>
        </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombreCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Nombre del cliente </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreCliente}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="cedulaAbogado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cédula del abogado </th>
        <td mat-cell *matCellDef="let row"> {{row.cedulaAbogado}} </td>
        </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombreAbogado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Nombre del abogado </th>
        <td mat-cell *matCellDef="let row"> {{row.nombreAbogado}} </td>
        </ng-container>
    
        <!-- Name Column -->
      <ng-container matColumnDef="tiposervicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo de servicio </th>
        <td mat-cell *matCellDef="let row"> {{row.tiposervicio}} </td>
        </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha de Inicio </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaInicio}} </td>
        </ng-container>
    
    
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef  style="font-size:1rem" >Detalle</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button  color="primary" (click)="iraPagina('actuaciones')" >
            <mat-icon color="primary">remove_red_eye</mat-icon>                   
          </a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>