<mat-card>
<mat-card-header style="background-color: #5e2129">
  <mat-card-title style="color: white"> 
    <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" (click)="inicio()">
      <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
    </a>Casos Finalizados
  </mat-card-title>
</mat-card-header>
<mat-toolbar style="background: none">
        <span class="espac"></span>
      <mat-icon matSuffix>search</mat-icon>
      <mat-form-field class="search-input">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()"><mat-icon>close</mat-icon> </button>
              
          
        </mat-form-field>
      </mat-toolbar>
<div>
        <table mat-table [dataSource]="dataSource" matSort>
      
        <!-- Id Servicio -->
        <ng-container matColumnDef="idServicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Codigo del Servicio </th>
        <td mat-cell *matCellDef="let row"> {{row.idServicio}} </td>
        </ng-container>
      
      
        <!-- Cedula abogado -->
        <ng-container matColumnDef="cedulaAbogado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cédula del abogado </th>
          <td mat-cell *matCellDef="let row"> {{row.cedulaAbogado}} </td>
          </ng-container>
      
        <!-- Nombre abogado -->
        <ng-container matColumnDef="nombreAbogado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Nombre del abogado </th>
          <td mat-cell *matCellDef="let row"> {{row.apellidoAbogado}} </td>
          </ng-container>
      
          <!-- Tipo servicio -->
        <ng-container matColumnDef="tiposervicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo de servicio </th>
          <td mat-cell *matCellDef="let row"> {{row.tiposervicio}} </td>
          </ng-container>
      
        <!-- fecha inicio servicio -->
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha de Inicio </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaInicio}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef> Reclamar</th>
            <td mat-cell *matCellDef="let row">
              <a>
                <button mat-mini-fab color="primary" (click)="openRealizarReclamo(row)">
                  <mat-icon>add</mat-icon>
                </button>
              </a>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </mat-card>