<div class="example-card">

  <!--<a mat-icon-button color="primary"  (click)="onNoClick()" style="float: right;">
      <mat-icon aria-label="Example icon-button with a heart icon" color="accent">cancel</mat-icon>
    </a>-->
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>local_library</mat-icon>
    </div>
    <mat-card-title>Detalle de la Cita</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <div fxLayout="row">
        <div fxFlex="33%">
          <mat-card-header style="justify-content:left; background-color:white">
            <mat-card-title style="color:#5e2129">Datos del Cliente</mat-card-title>
          </mat-card-header>
          <br>
          <label><strong>Cédula:</strong></label>
          <label style="margin-left:5px ">{{data.row.cliente_cedula}}</label>

          <br>

          <label><strong>Nombre:</strong></label>
          <label style="margin-left:5px ">{{data.row.cliente_nombre}}</label>
          <br>

          <label><strong>Apellido:</strong></label>
          <label style="margin-left:5px ">{{data.row.cliente_apellido}}</label>
          <br>
        </div>
        <div fxFlex="33%">
          <mat-card-header style="justify-content:left; background-color:white">
            <mat-card-title style="color:#5e2129">Datos del Servicio</mat-card-title>
          </mat-card-header>
          <br>
          <label><strong>Servicio:</strong></label>
          <label style="margin-left:5px ">{{data.row.catalogo_servicio_nombre}}</label>
          <br>
          <label><strong>Fecha: </strong></label>
          <label style="margin-left:5px ">{{data.row.fecha}}</label>
          <br>
        </div>
        <div fxFlex="33%">
          <mat-card-header style="justify-content:right; background-color:white">
            <mat-card-title style="color:#5e2129">Datos de la Cita</mat-card-title>
          </mat-card-header>
          <br>
          <label><strong>Nombre del Abogado: </strong></label>
          <label style="margin-left:5px ">{{data.row.abogado_nombre}}</label>
          <br>

          <label><strong>Apellido del Abogado: </strong></label>
          <label style="margin-left:5px ">{{data.row.abogado_apellido}}</label>
          <br>

        </div>
      </div>
      <br>
      <br>
      <div fxLayout="row">

        <span class="espac"></span>
        <div class="example-button-row" style=" float: right; margin-top: -20px">
          <button *ngIf="registrar" mat-raised-button color="primary" style="margin-right: 5px" [routerLink]="['/crear_servicio',data.row.cliente_id,data.row.abogado_id,data.row.servicio_id, data.row.catalogo_servicio_id, data.row.actuacion_servicio_id]"
            (click)="onNoClick()">
            Registrar Servicio
          </button>
          <button mat-raised-button color="accent" (click)="onNoClick()">Cerrar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</div>
