<mat-dialog-content>
    
<div class="container">
    <h4>Elige los servicios se mostraran de esta categoria</h4>
<div class="example-card">
    <mat-card-header>
      
      <mat-card-title>Catalogo de Servicio de {{titulo}}</mat-card-title>
    </mat-card-header>
    <div class="barra">
        <mat-form-field class="search-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
      <button mat-button *ngIf="value" mat-icon-button aria-label="Clear" (click)="valueInput()">
          <mat-icon>close</mat-icon>
      </button>
    
    </mat-form-field>
  </div>      
  </div>
  <div style="margin-top:4px" *ngIf="lleno; else act">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="nombre" matSortDirection="asc" matSortDirectionClear>
        <ng-container matColumnDef="imagenServicio">

          <th mat-header-cell *matHeaderCellDef > </th>
          <td mat-cell *matCellDef="let row">
            <div matTooltip="Ver detalle"> <img class="profile-img" [src]="row.imagen" alt="user"></div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre</th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Descripcion</th>
          <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
        </ng-container>

        
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Elegir</th>
            <td mat-cell *matCellDef="let row">  
              <div *ngIf="row.visible; else act">
                <button mat-raised-button color="accent" (click)="cambiarV(row.id, row.visible, row.idc)">Mostrado</button>
              </div>
              <ng-template #act>
                <button mat-raised-button color="primary"(click)="cambiarV(row.id, row.visible, row.idc)">Mostrar</button>
                
              </ng-template>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" >
        <div>
    <ng-template #act>
      <h2 style="margin-left: 40%; margin-right: 20%">No hay servicios</h2>
    </ng-template>
  </div>                      
</div>
    <div fxLayout="row" fxLayoutAlign="center center" >
        <div>
          <button mat-raised-button color="primary" style="float: center;" (click)="onNoClick()" >Cerrar</button>
        </div>
                      
    </div>
    
  <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</div>
</mat-dialog-content>