.example-card
{
    max-width: 100%;
    margin: 0 auto;
}

mat-error{
    color: red;
  }
  img {
    width: 50%;
    border-radius: 100%;
  }
  
  table {
    padding: 2em;
    padding-top: 0em;
    width: 100%;
  }
  .espac{
    flex: 1 1 auto;
  }
  .profile-img {
    width: 65px;
    margin-left: 30px;
    padding: 31px 0;
    border-radius: 100%;
    &::before {
        -webkit-animation: 2.5s blow 0s linear infinite;
        animation: 2.5s blow 0s linear infinite;
        position: absolute;
        content: '';
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 0;
    }
  }
  .barra{
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
  
  .search-input{
    width: 30% ;
    float: left; 
  }
  .container{
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .header{
    background: #5e2129;
    height: 110px;
  }
  .header2{
    background: #E0A801;
    height: 110px;    
  }
  .espac{
    flex: 1 1 auto;
  }