<div fxLayout="column">
  <div>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h3>Oops! Página no encontrada</h3>
          <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>Lo sentimos, Esta página esta en mantenimiento o no existe.</h2>
      </div>
      <div> <img src="../../../../assets/images/pic.png" alt="user" class="imglogo"> </div>  
      <div class="volver">
        <button mat-button mat-icon-button aria-label="Clear" class="error-btn" (click)="inicio()">
          <mat-icon>home</mat-icon>
        </button> <span class="error-btn">Inicio</span>  
      </div>
    </div>
  </div>

</div>
