<mat-card class="example-card">
    <mat-card-header style="background:#5e2129;justify-content:center;">
      <div mat-card-avatar class="example-header-image"> <mat-icon style="color:white">supervisor_account</mat-icon> </div>
      <mat-card-title style="color:white" >Registrar Empleados</mat-card-title>
      <mat-card-subtitle style="color:white"></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="row">
        <form  fxFlex="100%">
            <div fxLayout="row">
                <div fxFlex="33%">
                    <mat-form-field class="my-form-field">
                        <input type="text"  placeholder="Tipo de Empleado" aria-label="Number" matInput [formControl]="myControlEstado" [matAutocomplete]="autoTipoEmpleado">
                        <mat-autocomplete #autoTipoEmpleado="matAutocomplete">
                          <mat-option *ngFor="let listaEstados of filteredOptionsEstado | async" [value]="listaEstados">
                            {{listaEstados}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <h3 style="text-align:center; color:#5e2129">Datos Básicos del Empleado</h3>
            <mat-divider></mat-divider>
            <br><br>

          <div fxLayout="row">
              <div fxFlex="23%">
                  <mat-form-field >
                      <mat-select placeholder="Nacionalidad" [(ngModel)]="selectedValue1" name="cmbNacionalidad">
                        <mat-option *ngFor="let nac of nacionalidad" [value]="nac.value">
                          {{nac.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="23%">
                  <mat-form-field >
                      <input matInput placeholder="Cédula" id="txtCedula">
                    </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="23%">
                  <mat-form-field >
                      <input matInput placeholder="Primer Nombre" id="txtPrimerNomb">
                    </mat-form-field>
              </div>
              <div fxFlex="2%"></div>

              <div fxFlex="23%">
                  <mat-form-field>
                      <input matInput placeholder="Segundo Nombre" id="txtSegundoNomb">
                    </mat-form-field>
              </div>
                
          </div>
          
            <div  fxLayout="row">
                  <div fxFlex="23%">
                      <mat-form-field>
                          <input matInput placeholder="Primer Apellido" id="txtPrimerApellido">
                        </mat-form-field>
                  </div>
                  <div fxFlex="2%"></div>
                  <div fxFlex="23%">
                      <mat-form-field>
                          <input matInput placeholder="Segundo Apellido" id="txtSegundoApellido">
                        </mat-form-field>
                  </div>
                  <div fxFlex="2%"></div>
                  <div fxFlex="23%">
                      <mat-form-field >
                          <mat-select placeholder="Sexo" [(ngModel)]="selectedValue2" name="cmbSexo">
                            <mat-option *ngFor="let sex of sexo" [value]="sex.value">
                              {{sex.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                <div fxFlex="2%"></div>
                <div fxFlex="23%">
                    <mat-form-field >
                        <mat-select placeholder="Estado Civil" [(ngModel)]="selectedValue3" name="cmbEstadoCivil">
                          <mat-option *ngFor="let estCivil of estadoCivil" [value]="estCivil.value">
                            {{estCivil.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>      
            </div>

            <div fxLayout="row">
                <div fxFlex="49%">
                    <mat-form-field>
                        <input matInput placeholder="Teléfono" id="txtTelefono">
                      </mat-form-field>
                </div>
                <div fxFlex="2%"></div>
                <div fxFlex="49%">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" id="txtCorreo">
                      </mat-form-field>
                  </div>
            </div>

            <div fxLayout="row">
              <div fxFlex="33%">
                      <mat-form-field class="my-form-field">
                          <input matInput [matDatepicker]="dtpCalendario" placeholder="Fecha de Nacimiento" matdateFormat="dd-MMM-yyyy" disabled>
                          <mat-datepicker-toggle matSuffix [for]="dtpCalendario"></mat-datepicker-toggle>
                          <mat-datepicker #dtpCalendario color="primary" disabled="false"></mat-datepicker>
                    </mat-form-field>
              </div>
              <div fxFlex="2%"></div>
              <div fxFlex="33%">
                  <mat-form-field class="my-form-field">
                      <input type="text"  placeholder="Estado" aria-label="Number" matInput [formControl]="myControlEstado" [matAutocomplete]="autoEstado">
                      <mat-autocomplete #autoEstado="matAutocomplete">
                        <mat-option *ngFor="let listaEstados of filteredOptionsEstado | async" [value]="listaEstados">
                          {{listaEstados}}
                        </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="33%">
                <mat-form-field class="my-form-field">
                    <input type="text"  placeholder="Ciudad" aria-label="Number" matInput [formControl]="myControlEstado" [matAutocomplete]="autoEstado">
                    <mat-autocomplete #autoEstado="matAutocomplete">
                      <mat-option *ngFor="let listaEstados of filteredOptionsEstado | async" [value]="listaEstados">
                        {{listaEstados}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
          </div>
          </div>

          <div  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
              <div fxFlex="100%">
                  <mat-form-field hintLabel="Caracteres Máximos 500" class="my-form-field">
                      <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Lugar de Residencia"></textarea>
                      <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                    </mat-form-field>
              </div>
            </div>
            <h3 style="text-align:center; color:#5e2129">Datos de Usuario</h3>
            <mat-divider></mat-divider>
            <br><br>

            <div fxLayout="row">
                <div fxFlex="45%">
                    <div class="profile-img">
                        <img src="assets/images/users/5.jpg" alt=""/>
                        <div class="file">
                            Agregar Fotografía
                            <input style="left: 10px;" type="file" name="file"/>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="32%">
                    <mat-form-field >
                        <mat-select placeholder="Rol de Usuario" [(ngModel)]="selectedValue4" name="cmbRol">
                          <mat-option *ngFor="let estCivil of estadoCivil" [value]="estCivil.value">
                            {{estCivil.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div> 
                <div fxFlex="2%"></div>

                <div fxFlex="32%">
                    <mat-form-field>
                        <input matInput placeholder="Nombre de Usuario" id="txtNombreU">
                      </mat-form-field>
                </div>
                <div fxFlex="2%"></div>
                <div fxFlex="32%">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" id="txtCorreo1">
                      </mat-form-field>
                  </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="49%">
                    <mat-form-field>
                        <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </mat-form-field>
                </div>
                <div fxFlex="2%"></div>
                <div fxFlex="49%">
                    <mat-form-field>
                        <input matInput placeholder="Confirmar Contraseña" [type]="hide2 ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </mat-form-field>
                  </div>
            </div>
        </form>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" style="float: right">Cancelar</button>
        <button mat-raised-button color="primary" style="float: right;">Agregar</button>
    </mat-card-actions>
  </mat-card>