<div class="example-card">
  <mat-card-header>
    <mat-card-title>Eliminar</mat-card-title>
  </mat-card-header>
  <div fxLayout="row">
    <form fxFlex="100%">
      <div fxLayout="row">
        <div fxFlex="100%">
          <h2>Está seguro de eliminar el Registro?</h2>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlex="74%"></div>
          <button mat-raised-button color="primary" style="float: right;" (click)=Eliminar() cdkFocusInitial>Si</button>
        <div fxFlex="2%"></div>
        <button mat-raised-button color="accent" style="float: right" (click)="onNoClick()">No</button>
      </div>
    </form>
  </div>
</div>