
    <!--cliente del expediente-->
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="imagenCliente">
        <th mat-header-cell *matHeaderCellDef >Foto</th>
        <td mat-cell *matCellDef="let row">
          <div class="profile-img" > <img [src]="row.imagenCliente" width="50" height="50" alt="client"> </div>
        </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="nombreCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre de Cliente</th>
      <td mat-cell *matCellDef="let row"> {{row.nombreCliente}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="cedulaCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Cédula</th>
        <td mat-cell *matCellDef="let row"> {{row.cedulaCliente}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      </table>

      <!--Leyenda Actuaciones-->
      <mat-card>
          <mat-card-content>
            <div fxLayout="row">
              <div  class="content-box-green"></div><p> <small> <strong> Actuaciones Realizadas.</strong></small></p>
              <div  class="content-box-yellow"></div> <p><small> <strong> Actuaciones Pendientes por ejecutar.</strong></small></p>
              <div  class="content-box-red"></div> <p><small><strong>Actuacion de finalizacion del caso.</strong></small></p>
              <div  class="content-box-orange"></div><p> <small><strong> Actuaciones con Incidencia registrada. </strong> </small></p>
            </div>
          </mat-card-content>
        </mat-card>
  
  <!--Timeline de actuaciones del servicio-->
  <mgl-timeline [toggle]="toggle" [alternate]="alternate">
    <mgl-timeline-entry *ngFor="let actuacion of actuaciones; let i = index;" (expand)="onExpandEntry($event, i)">
      <mgl-timeline-entry-header (click)="onHeaderClick($event)">
        <div>{{actuacion.title}}</div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <div>
          <div>
            <p>
              {{actuacion.descripcion}}
            </p>
          </div>
        </div>
      </mgl-timeline-entry-content>
      
      <mgl-timeline-entry-dot mat-button [style.background-color]="actuacion.color" 
                              [size]="size"
                              (click)="onDotClick($event)"><mat-icon id="iconoTime">info</mat-icon></mgl-timeline-entry-dot>
            
     
                              <mgl-timeline-entry-side> 
                                  <p> <strong>Fecha Planificada:</strong> {{ actuacion.fecha_planificada }} <strong>Hora:</strong> {{ actuacion.hora_fin_planificada }} </p>
                                  <div *ngIf="actuacion.realizada">
                                    <p> <strong>Fecha realizada:</strong> {{ actuacion.fecha_realizada }} <strong>Hora:</strong> {{ actuacion.hora_realizada }} </p>
                                  </div>
                                </mgl-timeline-entry-side>
    </mgl-timeline-entry>
  </mgl-timeline>