<mat-card>
  <mat-card-header style="background-color: #5e2129">
    <mat-card-title style="color: white"> 
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/casos']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Actuaciones
    </mat-card-title>
  </mat-card-header>
<div *ngIf="Jefe">
  <detallecasoJefe></detallecasoJefe>
</div>
<div *ngIf="Cliente">
  <detallecasoCliente></detallecasoCliente>
</div>
<div *ngIf="Abogado">
  <detallecasoAbogado></detallecasoAbogado>
</div>
</mat-card>