table {
    padding: 2em;
    padding-top: 0em;
    width: 100%;
  }


  mat-form-field{
    padding: 2em;
    padding-bottom: 0em;
  }
  .search-input{
    width: 30% ;
    float: right ; 
  }

  .filtrar
  {
    width: 30% ;
    float: left ;  
  }
  
  .mat-form-field {
    font-size: 14px;
   
  }
  
  .mat-row, .mat-header-row {
    min-width: 1123px; 
    width:100%;
  }
  .espac{
    flex: 1 1 auto;
  }

  .profile-img {
    width: 50px;
    margin-left: 30px;
    padding: 31px 0;
    border-radius: 100%;
    &::before {
        -webkit-animation: 2.5s blow 0s linear infinite;
        animation: 2.5s blow 0s linear infinite;
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 0;
    }
    @-webkit-keyframes blow {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        50% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
            opacity: 0;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
    }
    @keyframes blow {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        50% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
            opacity: 0;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
    }
    img {
        width: 100%;
        border-radius: 100%;
    }
}
.barra{
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}


#iconoTime {
    padding: 8px;
    cursor: pointer;
    color: white;
}


.content-box-orange,
.content-box-green,
.content-box-red,
.content-box-yellow {
margin: 25px;
overflow: hidden;
padding: 20px;
}




.content-box-orange {
    background-color: rgb(243, 193, 132);
    border: 2px solid #FF8C00;
    border-radius: 20%;
    height: 20px;
    width: 20px;
    }

.content-box-green {
background-color: #d9edc2;
border: 2px solid #008000;
border-radius: 20%;
    height: 20px;
    width: 20px;
}

.content-box-red {
background-color: #f9dbdb;
border: 2px solid #DC143C;
border-radius: 20%;
    height: 20px;
    width: 20px; 
}

.content-box-yellow {
background-color: rgb(245, 233, 168);
border: 2px solid #fadb2d;
border-radius: 20%;
    height: 20px;
    width: 20px;
}