<mat-card>
    <mat-card-header style="background-color: #5e2129;  justify-content: center">

        <div mat-card-avatar class="example-header-image">
          <mat-icon style="color:white">account_balance</mat-icon>
        </div>
        <mat-card-title style="color: white;">
          Incidencias Por Atender
        </mat-card-title>
      </mat-card-header>
<mat-toolbar style="background: none">
 
  <span class="espac"></span>
<mat-icon matSuffix>search</mat-icon>
<mat-form-field class="search-input">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
        <mat-icon>close</mat-icon></button>
  </mat-form-field>
</mat-toolbar>


<div >
  <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Detalle</th>
          <td mat-cell *matCellDef="let row">
            <a mat-icon-button color="primary" (click)="openDialogAtenderIncidencia(row)">
              <mat-icon color="primary">remove_red_eye</mat-icon>
            </a>
          </td>
        </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cliente_cedula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cédula Cliente </th>
      <td mat-cell *matCellDef="let row"> {{row.cliente_cedula}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cliente_nombre}} {{row.cliente_apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="servicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo Servicio </th>
          <td mat-cell *matCellDef="let row"> {{row.servicio}} </td>
        </ng-container>

        <ng-container matColumnDef="incidencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo Incidencia </th>
            <td mat-cell *matCellDef="let row"> {{row.incidencia}} </td>
          </ng-container>
    <!-- Progress Column 
    <ng-container matColumnDef="nombreCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Cliente </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreCliente}} </td>
    </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
    </ng-container>

    <!-- Color Column
    <ng-container matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"><mat-icon>{{row.estatus}}</mat-icon><span style="margin-top: -5px"> {{row.estado}}</span> </td>
      <mat-icon>close</mat-icon>
    </ng-container> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>
 