table {
    width: 100%;
}

mat-form-field {
    font-size: 14px;
    //width: 18%;
    //float: right;
    margin-right: 10px;
}

#generarBtn {
    margin-right: 10px;
}


/*.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}*/


/*.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}*/