<mat-card>
    <mat-card-header style="background-color: #5e2129">
        <mat-card-title style="color: white">
            <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/reportes']">
                <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
            </a>Servicios</mat-card-title>

    </mat-card-header>

    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center">

            <mat-form-field>
                <input matInput [matDatepicker]="pickerFin" placeholder="Fecha de inicio">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de finalización ">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Tipo Servicio">
                    <mat-option>Todos</mat-option>
                    <mat-option *ngFor="let tipoS of tipoServicio" [value]="tipoS.value" (click)="filtrarCateria(tipoS.descripcion)">
                        {{tipoS.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Estado del servicio">
                    <mat-option *ngFor="let estado of estatus" [value]="estado.value">
                        {{estado.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <hr>
            <table id="tablaPDF" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="clientenombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre Cliente. </th>
                    <td mat-cell *matCellDef="let element"> {{element.clientenombre}} </td>
                </ng-container>

                <ng-container matColumnDef="telef">
                    <th mat-header-cell *matHeaderCellDef> telfCliente. </th>
                    <td mat-cell *matCellDef="let element"> {{element.telef}} </td>
                </ng-container>

                <ng-container matColumnDef="tiposervicio">
                    <th mat-header-cell *matHeaderCellDef> Tipo de servicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.tiposervicio}} </td>
                </ng-container>

                <ng-container matColumnDef="abogadonombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre Abogado </th>
                    <td mat-cell *matCellDef="let element"> {{element.abogadonombre}} </td>
                </ng-container>

                <ng-container matColumnDef="fechacreado">
                    <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechacreado}} </td>
                </ng-container>


                <ng-container matColumnDef="fechacierre">
                    <th mat-header-cell *matHeaderCellDef> Fecha Culminación </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechacierre}} </td>
                </ng-container>

                <ng-container matColumnDef="estatus">
                    <th mat-header-cell *matHeaderCellDef> Estatus de los servicios </th>
                    <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                </ng-container>


                <ng-container matColumnDef="incidencias">
                    <th mat-header-cell *matHeaderCellDef> Incidencias </th>
                    <td mat-cell *matCellDef="let element"> {{element.incidencias}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div><br>
        <div class="text-right">
            <button mat-raised-button color="primary" id="generarBtn" (click)="GenerarReporte()">Generar informe</button>
        </div>

    </mat-card-content>
</mat-card>