<mat-card>
  <mat-card-header style="background-color: #5e2129">
    <mat-card-title style="color: white"> 
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Catálogo de Servicios
    </mat-card-title>
  </mat-card-header>
  
  <mat-card-content>

    <div class="fila">
        <button mat-mini-fab matTooltip="Agregar" color="primary" style="float: left;" (click)="openDialogRegistrar()"> <mat-icon>add</mat-icon></button>

        <mat-form-field class="example-form-field2">
            <mat-select placeholder="Filtrar por Categoría de Servicio" >
                <mat-option (click)="ReiniciarCatalogo()">Todos</mat-option>
                <mat-option *ngFor="let categoria of listaCategoria" [value]="categoria.id" (click)="FiltrarCatalogo(categoria.id)">
                  {{categoria.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <span class="espac"></span>


        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
  
        <mat-form-field class="example-form-field">
          <input matInput type="text"  placeholder="Filtrar" [(ngModel)]="value" (keyup)="FiltrarCatalogoNombre()">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
   
  </mat-card-content>   
</mat-card>


<div fxLayout="row wrap" fxLayoutAlign="flex-start">
<ng-container *ngFor="let cat of listaServicios">
  <div fxFlex="0 1 calc(33.3%)" >

    <mat-card class="example-card">
      <mat-card-header class="header">
        <mat-card-title>{{cat.titulo}}</mat-card-title>
        <mat-card-subtitle>{{cat.subtitulo}}</mat-card-subtitle>
        <span class="espac" ></span>
        <!---->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialogRecaudo(cat.id)">
            <mat-icon>content_paste</mat-icon>
            <span>Recaudo</span>
          </button>
          <button mat-menu-item (click)="openDialogActuacion(cat.id)">
            <mat-icon>art_track</mat-icon>
            <span>Actuación</span>
          </button>
           <button mat-menu-item (click)="openDialogValoracion(cat.id)">
            <mat-icon>grade</mat-icon>
            <span>Valorar</span>
          </button>
          <button mat-menu-item (click)="openDialogEliminar(cat.id)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>

        <!---->
      <!--  <button matTooltip="Eliminar" mat-icon-button (click)="openDialogEliminar(cat.id)">
          <mat-icon  aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>-->
      </mat-card-header>
      <mat-card-content class="imagen">
            <img matTooltip="Actualizar" mat-card-image [src]="cat.imagen" alt="" (click)="openDialogActualizar(cat)">
      </mat-card-content>
        
     
    </mat-card>
  </div>
</ng-container>
    
</div>