.example-form-field {
    width: 200px;
  }
.example-form-field2 {
    width: 320px;
    margin-left: 40px;
}
.espac{
  flex: 1 1 auto;
}
.fila{
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.header1{
  background: #5e2129;
  color: white;
}
.header{
  background: hsl(60, 17%, 69%);
  transition: 0.3s;
  height: 110px;
}
.example-card{
  
}
img{
  cursor: pointer;
}
.example-card:hover{
  .header{
    background: #5e2129;
    color: white;
    transition: 0.3s;
  }
  mat-card-subtitle{
    color: white;
    transition: 0.3s;
  }
  .contenido{
    background: #f8f7f7;
    transition: 0.3s;
  }
}

.contenido{
  transition: 0.3s;
}
mat-card-subtitle{
  transition: 0.3s;
}


 .imagen {
  height: 200px; 
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  img{
  width: 100%;
  height: 200px;
  }
 }
