<mat-card>


    <div class="example-card">

        <mat-card-header style="background-color: #5e2129; justify-content: center">
            <mat-card-title style="color: white;">¿ Está seguro que desea aprobar el reclamo ?</mat-card-title>
        </mat-card-header>

    </div>
    <br>
    <mat-card-header style="background-color: #e0a801; justify-content: center">
        <mat-card-title>Detalle del Reclamo</mat-card-title>
    </mat-card-header>

    <div fxLayout="row">
        <form fxFlex="100%">
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Cliente:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form3.cliente_nombre}} {{form3.cliente_apellido}}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Cedula:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form3.cliente_cedula}}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Tipo de Reclamo:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form3.tipo_reclamo}}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Descripcion:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form3.descripcion}}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Fecha:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form3.fecha}}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="25%">
                    <label>
                        <strong>Tipo de Servicio:</strong>
                    </label>&nbsp;
                </div>
                <div fxFlex="1%"></div>
                <div fxFlex="74%">
                    <label>{{form3.servicio_nombre}}</label>
                </div>
            </div>
            <mat-card-header style="background-color:  #e0a801; justify-content: center">
                <mat-card-title>Detalle de la Garantía</mat-card-title>
            </mat-card-header>

            <div fxLayout="row">
                <form fxFlex="100%">
                    <div fxLayout="row">
                        <div fxFlex="25%">
                            <label>
                                <strong>Garantia:</strong>
                            </label>&nbsp;
                        </div>
                        <div fxFlex="1%"></div>
                        <div fxFlex="74%">
                            <label>{{form3.garantia_descripcion}}</label>
                        </div>
                    </div>
                    </form>
                    </div>

            <br>

            <mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" style="float:right" (click)=onNoClick()>Cancelar</button>
                    <button mat-raised-button color="primary" style="float: right" (click)="RegistrarServicio()">Aprobar</button>
                </mat-card-actions>
            </mat-card-content>

  

    </form>
</div>

</mat-card>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{backBorderRadius: '3px'}" [template]="customLoadingTemplate">
    </ngx-loading>
</div>