<div class="example-card">
  
  <!--<a mat-icon-button color="primary"  (click)="onNoClick()" style="float: right;">
    <mat-icon aria-label="Example icon-button with a heart icon" color="accent">cancel</mat-icon>
  </a>-->
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"> <mat-icon >local_library</mat-icon> </div>
        <mat-card-title >Detalle de la Incidencia</mat-card-title>
      </mat-card-header>
      

  
      <div fxLayout="row">
        <form fxFlex="100%">
          <div fxLayout="row">
            <div fxFlex="25%">
              <label>
                <strong>Cliente:</strong>
              </label>&nbsp;
            </div>
            <div fxFlex="1%"></div>
            <div fxFlex="74%">
              <label>{{form.cliente_nombre}} {{form.cliente_apellido}}</label>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="25%">
              <label>
                <strong>Cedula:</strong>
              </label>&nbsp;
            </div>
            <div fxFlex="1%"></div>
            <div fxFlex="74%">
              <label>{{form.cliente_cedula}}</label>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="25%">
              <label>
                <strong>Fecha:</strong>
              </label>&nbsp;
            </div>
            <div fxFlex="1%"></div>
            <div fxFlex="74%">
              <label>{{form.fecha}}</label>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="25%">
              <label>
                <strong>Estatus:</strong>
              </label>&nbsp;
            </div>
            <div fxFlex="1%"></div>
            <div fxFlex="74%">
              <label>{{form.estatus}}</label>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="25%">
              <label>
                <strong>Descripción:</strong>
              </label>&nbsp;
            </div>
            <div fxFlex="1%"></div>
            <div fxFlex="74%">
              <label>{{form.descripcion}}</label>
            </div>
          </div>
          <!--descripcion para que el abogado no tenga q recordar de que trata el problema
          <div  fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100%">
              <label>Descripción:</label>&nbsp;
              <label>Tengo un gran problema no se que hacer para divorciarme de mi esposo tenemos 10 años casados y una casa a nombre de los dos</label>
            </div>
          </div>-->
        
          
          <mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cerrar</button>
            </mat-card-actions>
          </mat-card-content>
        
      
    </form>
  </div>
</div>