<mat-card>
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Estructurados / No Estructurados">

            <div fxLayout="column">
                <div fxLayout="row">
                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-canal')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Canal de escucha</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-incidencia')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Incidencia</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div fxLayout="column">
                <div fxLayout="row">
                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-promocion')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Promoción</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-servicio')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Servicio</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Estadísticos">

            <div fxLayout="column">
                <div fxLayout="row">
                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-est-canal')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Canal de escucha</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-est-incidencia')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Incidencia</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div fxLayout="column">
                <div fxLayout="row">
                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-est-promocion')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>reclamos</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex="33%">
                        <mat-card class="sombra">
                            <mat-card-content>
                                <div fxLayout="row">
                                    <div fxFlex="30%">
                                        <button mat-fab color="primary" (click)="goToPage('report-est-servicio')">
                                          <mat-icon>dashboard</mat-icon>
                                        </button>
                                    </div>
                                    <div fxFlex="auto" fxFlexAlign="center">
                                        <strong>Servicio</strong>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

        </mat-tab>

    </mat-tab-group>
</mat-card>