<div class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"> <mat-icon >local_library</mat-icon> </div>
      <mat-card-title >{{titulo}} Tipo de Documento</mat-card-title>
    </mat-card-header>
    <div fxLayout="row">
      <form  fxFlex="100%">
          <div fxLayout="row">
              <div fxFlex="100%">
                  <mat-form-field >
                      <input matInput placeholder="Nombre Tipo de Documento" maxlength="50" [formControl]="nombreFormControl">
                  </mat-form-field>
              </div>
            </div>
            <br>
            <div fxLayout="row">
              <div fxFlex="74%"></div>
              <div *ngIf="incluir; else act">
                <button mat-raised-button color="primary" style="float: right;" (click)=Registrar() cdkFocusInitial>Agregar</button>
              </div>
              <ng-template #act>
                <button mat-raised-button color="primary" style="float: right;width: 160px" (click)=Actualizar() cdkFocusInitial>Actualizar</button>
              </ng-template>
              <div fxFlex="2%"></div>
              <button mat-raised-button color="accent" style="float: right; width: 160px" (click)="onNoClick()">Cancelar</button>
            </div>
      </form>
    </div>
</div>