<mat-card >
    <mat-card-header color="primary" style="background-color: #5e2129; justify-content: center">
        <div mat-card-avatar class="example-header-image">
            <mat-icon style="color:white">account_balance</mat-icon>
          </div>
          <mat-card-title style="color: white;">Configuración de Promoción
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>

      <div class="fila">
          <button mat-mini-fab matTooltip="Nueva Promoción" color="primary" style="float: left;" (click)="openDialogRegistrar()"> <mat-icon>add</mat-icon></button>

       

          <span class="espac"></span>


          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
    
          <mat-form-field class="example-form-field">
            <input matInput type="text"  placeholder="Filtrar" [(ngModel)]="value" (keyup)="FiltrarCatalogoNombre()">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>

        </div>
     
    </mat-card-content>   
  </mat-card>
  
<div fxLayout="row wrap" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let prom of listaServicios">
    <div fxFlex="0 1 calc(33.3%)" >

      <mat-card class="example-card">
        <mat-card-header class="header">
          <mat-card-title>{{prom.titulo}}</mat-card-title>
          <span class="espac" ></span>
          <!---->
            <button matTooltip="Eliminar" mat-icon-button (click)="openDialogEliminar(prom.id)">
              <mat-icon>delete</mat-icon>
            </button>
          <!---->
        <!--  <button matTooltip="Eliminar" mat-icon-button (click)="openDialogEliminar(cat.id)">
            <mat-icon  aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>-->
        </mat-card-header>
        <mat-card-content class="imagen">
              <img matTooltip="Actualizar" mat-card-image [src]="prom.imagen" alt="" (click)="openDialogActualizar(prom)">
        </mat-card-content>
          
       
      </mat-card>
    </div>
  </ng-container>
      
</div>