<mat-card>
    <mat-card-header style="background-color: #5e2129">
        <mat-card-title style="color: white">
            <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/reportes']">
                <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
            </a>Promoción</mat-card-title>

    </mat-card-header>

    <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Valoración">
                <mat-option *ngFor="let valoracion of valoraciones" [value]="valoracion.value">
                    {{valoracion.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Tipo Servicio">
                <mat-option *ngFor="let tipoS of tipoServicio" [value]="tipoS.value">
                    {{tipoS.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de finalización ">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="pickerFin" placeholder="Fecha de inicio">
            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>




        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Nro Column -->
                <ng-container matColumnDef="nro">
                    <th mat-header-cell *matHeaderCellDef> Nro. </th>
                    <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
                </ng-container>

                <!-- Tipo Column -->
                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>

                <!-- Fecha Inicio Column -->
                <ng-container matColumnDef="fechaI">
                    <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaI}} </td>
                </ng-container>

                <!-- Fecha Culminación Column -->
                <ng-container matColumnDef="fechaC">
                    <th mat-header-cell *matHeaderCellDef> Fecha Culminación </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaC}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <div class="text-right">
                <button mat-raised-button color="primary" id="generarBtn">Generar informe</button>
            </div>
        </div>


    </mat-card-content>
</mat-card>