table {
    padding: 2em;
    padding-top: 0em;
    width: 100%;
  }


  mat-form-field{
    padding: 2em;
    padding-bottom: 0em;
  }
  .search-input{
    width: 30% ;
    float: right ;
   
  }
  
  .mat-form-field {
    font-size: 14px;
   
  }
  
  .mat-row, .mat-header-row {
    min-width: 1123px; 
    width:100%;
  }
  .espac{
    flex: 1 1 auto;
  }

  .profile-img {
    width: 50px;
    margin-left: 30px;
    padding: 31px 0;
    border-radius: 100%;
    &::before {
        -webkit-animation: 2.5s blow 0s linear infinite;
        animation: 2.5s blow 0s linear infinite;
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 0;
    }
    @-webkit-keyframes blow {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        50% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
            opacity: 0;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
    }
    @keyframes blow {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        50% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
            opacity: 0;
            -webkit-transform: scale3d(1, 1, 0.5);
            transform: scale3d(1, 1, 0.5);
        }
    }
    img {
        width: 100%;
        border-radius: 100%;
    }
}