<div class="example-card">
  
    <!--<a mat-icon-button color="primary"  (click)="onNoClick()" style="float: right;">
      <mat-icon aria-label="Example icon-button with a heart icon" color="accent">cancel</mat-icon>
    </a>-->
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"> <mat-icon >local_library</mat-icon> </div>
          <mat-card-title >Incidencia de la Cita</mat-card-title>
        </mat-card-header>
        
 
    
    <div fxLayout="row">
      <form  fxFlex="100%">
          <div fxLayout="row">
              <div fxFlex="100%">
               <label>Orden de Servicio:</label>&nbsp;
               <label>E1000B</label>

              </div>
            </div>
            <div  fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="100%">
                <label>Cédula del cliente:</label>&nbsp;
                <label>19657889</label>
              </div>
            </div>
            <div  fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="100%">
                <label>Nombre del cliente:</label>&nbsp;
                <label>Juan Lopez</label>
              </div>
            </div>
            <div  fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="100%">
                <label>Fecha de cita:</label>&nbsp;
                <label>25/10/3018</label>
              </div>
            </div>
            <!--descripcion para que el abogado no tenga q recordar de que trata el problema-->
            <div  fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="100%">
                <label>Tipo de Servicio:</label>&nbsp;
                <label>Trámite de divorcio</label>
              </div>
            </div>
            <br>
         
            <div class = "row">
                <div class="col s12">
                    <label>Motivo</label>&nbsp;
                     <mat-form-field class="example-full-width">
                         <textarea matInput placeholder="Describa la Incidencia"></textarea>
                       </mat-form-field>
                     </div>
               </div>
              

            <div fxLayout="row">
                <div fxFlex="80%"></div>
            

                <div fxFlex="2%"></div>
                <button mat-raised-button color="primary" style="float: right;"  >Registrar</button>
             
                <div fxFlex="2%"></div>
                <button mat-raised-button color="warn" style="float: right;"  (click)="onNoClick()">Cerrar</button>
              </div>
      </form>
    </div>
</div>
