<mat-card class="example-card">
  <mat-card-header style="background-color:#5e2129">
    <mat-card-title style="color: white">
      <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/listaUsuario']">
        <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
      </a>Datos Personales
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <form>
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="33%">
            <mat-form-field>
              <input matInput placeholder="Cédula" [formControl]="myControlCedula">
              <mat-error *ngIf="myControlCedula.hasError('required')">
                Cedula <strong>Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="2%"></div>
          <div fxFlex="23%">
            <mat-form-field>
              <input matInput placeholder=" Nombre" [formControl]="myControlNombre">
              <mat-error *ngIf="myControlNombre.hasError('required')">
                Nombre <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="2%"></div>
          <div fxFlex="33%">
            <mat-form-field>
              <input matInput placeholder="Apellido" [formControl]="myControlApellido">
              <mat-error *ngIf="myControlApellido.hasError('required')">
                Apellido<strong>Requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="33%">
            <mat-form-field>
              <input matInput [matDatepicker]="dtpCalendario" placeholder="Fecha de Nacimiento" disabled [formControl]="myControlFecha">
              <mat-datepicker-toggle matSuffix [for]="dtpCalendario"></mat-datepicker-toggle>
              <mat-datepicker #dtpCalendario color="primary" disabled="false"></mat-datepicker>
              <mat-error *ngIf="myControlFecha.hasError('required')">
                Fecha de Nacimiento <strong>Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="2%"></div>
          <div fxFlex="23%">
            <mat-form-field>
              <mat-select placeholder="Nacionalidad" [formControl]="myControlNacionalidad">
                <mat-option *ngFor="let nac of nacionalidad" [value]="nac.value">
                  {{nac.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="myControlNacionalidad.hasError('required')">
                Nacionalidad <strong>Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="2%"></div>
          <div fxFlex="33%">
            <mat-form-field class="my-form-field">
              <mat-select placeholder="Estado" [formControl]="myControlEstado">
                <mat-option *ngFor="let estado of comboEstados" [value]="estado.id">
                  {{estado.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="myControlEstado.hasError('required')">
                Estado <strong> Requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="33%">
            <mat-form-field class="my-form-field">
              <input matInput placeholder="Ciudad" [formControl]="myControlCiudad">
              <mat-error *ngIf="myControlCiudad.hasError('required')">
                Ciudad <strong> Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="2%"></div>
          <div fxFlex="23%">
            <mat-form-field>
              <mat-select placeholder="Sexo" [formControl]="myControlSexo">
                <mat-option *ngFor="let sex of sexo" [value]="sex.value">
                  {{sex.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="myControlSexo.hasError('required')">
                Sexo <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="2%"></div>
          <div fxFlex="33%">
            <mat-form-field>
              <input matInput placeholder="Teléfono" type="number" [formControl]="myControlTelefono">
              <mat-error *ngIf="myControlTelefono.hasError('required')">
                Teléfono <strong>Requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
          <div fxFlex="100%">
            <mat-form-field class="my-form-field">
              <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Lugar de Residencia" [formControl]="myControlDireccion"></textarea>
              <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
              <mat-error *ngIf="myControlCiudad.hasError('required')">
                Lugar de Residencia <strong> Requerido </strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="example-button-row" style=" float: right; margin-top: -20px">
          <button mat-raised-button color="primary" style="margin-right: 5px" (click)="Registrar()">Registrar</button>
          <button mat-raised-button color="accent">Cancelar</button>
        </div>
      </div>
    </form>
  </mat-card-content>

</mat-card>