<mat-card class="example-card">
    <mat-card-header style="background:#5e2129">
        <mat-card-title style="color: white"> 
            <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
              <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
            </a>Configura la Información de tu Organización
          </mat-card-title>
      
    </mat-card-header>
    <br>

    <mat-card-content style="padding-bottom: 60px">
      
      
      <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pagina de Inicio
            </mat-panel-title>
            <mat-panel-description>
              En esta sección, introducirás toda información respecto a la pagina de inicio.
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="container">
              

              <mat-tab-group>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Carousel
                    </ng-template>
                    <h4>Introduce las imagenes del carousel con sus respectivos textos</h4>
                
                <div fxLayout="row">
                  <div fxFlex="50%">
                    <div fxLayout="row">
                      <form fxFlex="100%">
              
                        
              
                        <div fxLayout="row">
                          <div fxFlex="100%">
                            <mat-form-field class="example-full-width">
                              <input matInput #message maxlength="50" placeholder="Texto" [formControl]="textoFormControl2">
                              <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
                            </mat-form-field>
                          </div>
                        </div>
                        
                      </form>
                    </div>
                  </div>
                  <!-- FILA IMAGEN -->
                  <div fxFlex="50%">
                    <div fxLayout="row">
                      <div fxFlex="100%">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <div fxFlex="15%"> </div>
                          <div fxFlex="100%">
                            <input type="file" (change)="imagenEntrada2($event.target.files)" accept="image/*" [formControl]="imagenFormControl2" style="display: none;width: 100%; border-radius: 0%"
                              placeholder="Seleccione una imagen" #fileInput>
                              <button mat-flat-button (click)="fileInput.click()">Seleccione una imagen</button>
                
                          </div>
                        </div>
                        <br>
                        <br>
                        <div fxLayout="row">
                          <div fxFlex="15%"> </div>
                          <div fxFlex="60%">
                            <mat-card class="example-card">
                              <div *ngIf="incluir; else actImagen">
                                <img mat-card-image [src]="imagenDefecto2" style="width:250px;height: 200px; border-radius: 0%">
                              </div>
                              <ng-template #actImagen>
                                <img mat-card-image [src]="imagen2" style="width:250px;height: 200px; border-radius: 0%">
                              </ng-template>
                            </mat-card>
                          </div>
                          <div fxFlex="15%"> </div>
                        </div>
              
                      </div>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" >
                    <div>
                      <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarICarousel()" >Guardar</button>
                    </div>
                                  
                </div>
                

                <div style="margin-top:4px">
                  <table mat-table #sort2="matSort" [dataSource]="dataSource2"  matSort>
                      <ng-container matColumnDef="imagenCarousel">
                          <th mat-header-cell *matHeaderCellDef> Imagen</th>
                          <td mat-cell *matCellDef ="let row2">
                              <div style="width: 70px; margin-left: 30px;padding: 31px 0;border-radius: 100%;" ><img class="profile-img" [src]="row2.imagenCarousel" alt="promocion"></div>
                          </td>
                      </ng-container>
  
                      <ng-container matColumnDef="textoCarousel">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Texto</th>
                          <td mat-cell *matCellDef="let row2">{{row2.textoCarousel}}</td>
                      </ng-container>

                      <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Eliminar</th>
                        <td mat-cell *matCellDef="let row2"> 
                          <a mat-icon-button color="primary">
                            <mat-icon color="primary" (click)="openDialogEliminar(row2.id)">delete</mat-icon>                   
                        </a>
                           </td>
                      </ng-container>
                       
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row2; columns: displayedColumns2"></tr>
  
                  </table>
  
                  <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  
              </div>

                  </mat-tab>
                
                  <mat-tab>
                    <ng-template mat-tab-label>
                      
                      Informacion de la empresa
                    </ng-template>
                    <h4 style="margin-top:30px">Introduce un titulo, uno o dos textos referente a la empresa y una imagen alusiva</h4>

          <div fxLayout="row">
              <div fxFlex="50%">
                <div fxLayout="row">
                  <form fxFlex="100%">
          
                    <div fxLayout="row">
                      <div fxFlex="100%">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Titulo" [formControl]="tituloEmFormControl">
                            </mat-form-field>
                      </div>
                    </div>
          
                    <div fxLayout="row">
                      <div fxFlex="100%">
                        <mat-form-field>
                            <input matInput #message2 maxlength="450" placeholder="Texto 1"[formControl]="texto1EFormControl">
                            <mat-hint align="end">{{message2.value.length}} / 450</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center">
                      <div fxFlex="100%">
                          <mat-form-field>
                              <input matInput #message3 maxlength="700" placeholder="Texto 2 (solo si es necesario)"[formControl]="texto2EFormControl">
                              <mat-hint align="end">{{message3.value.length}} / 700</mat-hint>
                          </mat-form-field>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- FILA IMAGEN -->
              <div fxFlex="50%">
                <div fxLayout="row">
                  <div fxFlex="100%">
                    <div fxLayout="row" fxLayoutAlign="center">
                      <div fxFlex="15%"> </div>
                      <div fxFlex="100%">
                        <input type="file" (change)="imagenEntrada($event.target.files)" accept="image/*" [formControl]="imagenFormControl" style="display: none;width: 100%; border-radius: 0%"
                        placeholder="Seleccione una imagen" #fileInput2>
                        <button mat-flat-button (click)="fileInput2.click()">Seleccione una imagen</button>
                        
                      </div>
                    </div>
                    <br>
                    <br>
                    <div fxLayout="row">
                      <div fxFlex="15%"> </div>
                      <div fxFlex="60%">
                        <mat-card class="example-card">
                          <div *ngIf="incluir; else actImagen">
                            <img mat-card-image [src]="imagenDefecto"  style="width:250px;height: 200px; border-radius: 0%">
                          </div>
                          <ng-template #actImagen>
                            <img mat-card-image [src]="imagen" style="width:250px;height: 200px; border-radius: 0%">
                          </ng-template>
          
                        </mat-card>
                      </div>
                      <div fxFlex="15%"> </div>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" >
                <div>
                  <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarIEmpresa()" >Guardar</button>
                </div>
                              
            </div>
           
                  </mat-tab>
                             
                  <mat-tab>
                    <ng-template mat-tab-label>
                      
                      Informacion adicional
                    </ng-template>

                    <h4 style="margin-top:30px">Introduce la información restante de esta seccion de el portal</h4>

                    <div fxLayout="row">
                        <div fxFlex="50%">
                          <div fxLayout="row">
                            <form fxFlex="100%">
                    
                              <div fxLayout="row">
                                <div fxFlex="100%">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Titulo de la seccion de los empleados" [formControl]="tituloEFormControl">
                                      </mat-form-field>
                                </div>
                              </div>
                    
                              <div fxLayout="row">
                                <div fxFlex="100%">
                                  <mat-form-field>
                                      <input matInput placeholder="Titulo de la seccion de la App"[formControl]="tituloAppFormControl">
                                      
                                  </mat-form-field>
                                </div>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="center">
                                <div fxFlex="100%">
                                    <mat-form-field>
                                        <input matInput #message4 maxlength="500" placeholder="Texto alusivo a la App" [formControl]="textoAppFormControl">
                                        <mat-hint align="end">{{message4.value.length}} / 500</mat-hint>
                                    </mat-form-field>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <!-- FILA IMAGEN -->
                        <div fxFlex="50%">
                          <div fxLayout="row">
                            <div fxFlex="100%">
                              <div fxLayout="row" fxLayoutAlign="center">
                                <div fxFlex="15%"> </div>
                                <div fxFlex="100%">
                                  <input type="file" (change)="imagenEntrada3($event.target.files)" accept="image/*" [formControl]="imagenFormControl3" style="display: none;width: 100%; border-radius: 0%"
                                  placeholder="Seleccione una imagen" #fileInput3>
                                  <button mat-flat-button (click)="fileInput3.click()">Seleccione una imagen</button>
                                  
                                </div>
                              </div>
                              <br>
                              <br>
                              <div fxLayout="row">
                                <div fxFlex="15%"> </div>
                                <div fxFlex="60%">
                                  <mat-card class="example-card">
                                    <div *ngIf="incluir; else actImagen">
                                      <img mat-card-image [src]="imagenDefecto3"  style="width:250px;height: 200px; border-radius: 0%">
                                    </div>
                                    <ng-template #actImagen>
                                      <img mat-card-image [src]="imagen3" style="width:250px;height: 200px; border-radius: 0%">
                                    </ng-template>
                    
                                  </mat-card>
                                </div>
                                <div fxFlex="15%"> </div>
                              </div>
                    
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="center center" >
                          <div>
                            <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarIAdicional()" >Guardar</button>
                          </div>
                                        
                      </div>
                    

                  </mat-tab>


                </mat-tab-group>
                
          
          
     </div>
        </mat-expansion-panel>

          
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Nosotros
            </mat-panel-title>
            <mat-panel-description>
              En este sección, introducirás todo la información respecto a la misión, visión y valores de la empresa
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
              <mat-tab-group>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Mision
                    </ng-template>
                    <h4>Introduce una imagen y la mision de la empresa</h4>

                   <div fxLayout="row">
              <div fxFlex="50%">
                <div fxLayout="row">
                  <form fxFlex="100%"> 
                    <div fxLayout="row">
                      <div fxFlex="100%">
          <mat-form-field>
            <input matInput placeholder="Misión" [formControl]="misionFormControl" >
          </mat-form-field>
        </div>
      </div>
      
    </form>
  </div>
</div>
<!-- FILA IMAGEN -->
<div fxFlex="50%">
  <div fxLayout="row">
    <div fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="15%"> </div>
        <div fxFlex="100%">
          <input type="file" (change)="imagenEntrada4($event.target.files)" accept="image/*" [formControl]="imagen4FormControl" style="display: none;width: 100%; border-radius: 0%"
            placeholder="Seleccione una imagen" #fileInput4>
            <button mat-flat-button (click)="fileInput4.click()">Seleccione una imagen</button>

        </div>
      </div>
      <br>
      <br>
      <div fxLayout="row">
          <div fxFlex="15%"> </div>
          <div fxFlex="60%">
            <mat-card class="example-card">
              <div *ngIf="incluir; else actImagen">
                <img mat-card-image [src]="imagenDefecto4" style="width:250px;height: 200px; border-radius: 0%">
              </div>
              <ng-template #actImagen>
                <img mat-card-image [src]="imagen4" style="width:250px;height: 200px; border-radius: 0%">
              </ng-template>
            </mat-card>
          </div>
          <div fxFlex="15%"> </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" >
    <div>
      <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarMision()" >Guardar</button>
    </div>
                  
</div>
</mat-tab>
<mat-tab>
    <ng-template mat-tab-label>
      Vision
    </ng-template>
    <h4>Introduce una imagen y vision de la empresa</h4>
<div fxLayout="row">
    <div fxFlex="50%">
      <div fxLayout="row">
        <form fxFlex="100%"> 
          <div fxLayout="row">
            <div fxFlex="100%">
          <mat-form-field>
            <input matInput placeholder="Visión" [formControl]="visionFormControl">
            </mat-form-field>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  <!-- FILA IMAGEN -->
  <div fxFlex="50%">
    <div fxLayout="row">
      <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="15%"> </div>
          <div fxFlex="100%">
          <input type="file" (change)="imagenEntrada5($event.target.files)" accept="image/*" [formControl]="imagen5FormControl" style="display: none;width: 100%; border-radius: 0%"
            placeholder="Seleccione una imagen" #fileInput5>
            <button mat-flat-button (click)="fileInput5.click()">Seleccione una imagen</button>
          </div>
        </div>
        <br>
        <br>
        <div fxLayout="row">
            <div fxFlex="15%"> </div>
            <div fxFlex="60%">
              <mat-card class="example-card">
                <div *ngIf="incluir; else actImagen">
                <img mat-card-image [src]="imagenDefecto5" style="width:250px;height: 200px; border-radius: 0%">
              </div>
              <ng-template #actImagen>
                <img mat-card-image [src]="imagen5" style="width:250px;height: 200px; border-radius: 0%">
              </ng-template>
            </mat-card>
          </div>
          <div fxFlex="15%"> </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" >
  <div>
    <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarVision()" >Guardar</button>
  </div>
</div>
</mat-tab>
                

<mat-tab>
    <ng-template mat-tab-label>
      Valores
    </ng-template>
    <h4>Introduce una imagen y los valores de la empresa</h4>
      <div fxLayout="row">
          <div fxFlex="50%">
            <div fxLayout="row">
              <form fxFlex="100%">      
                <div fxLayout="row">
                  <div fxFlex="100%">
          <mat-form-field>
            <input matInput placeholder="Valor 1" [formControl]="valor1FormControl" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Valor 2" [formControl]="valor2FormControl" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Valor 3" [formControl]="valor3FormControl">
          </mat-form-field>
        </div>
      </div>
      
    </form>
  </div>
</div>
<!-- FILA IMAGEN -->
<div fxFlex="50%">
  <div fxLayout="row">
    <div fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="15%"> </div>
        <div fxFlex="100%">
          <input type="file" (change)="imagenEntrada6($event.target.files)" accept="image/*" [formControl]="imagen6FormControl" style="display: none;width: 100%; border-radius: 0%"
            placeholder="Seleccione una imagen" #fileInput6>
            <button mat-flat-button (click)="fileInput6.click()">Seleccione una imagen</button>

        </div>
      </div>
      <br>
      <br>
      <div fxLayout="row">
          <div fxFlex="15%"> </div>
          <div fxFlex="60%">
            <mat-card class="example-card">
              <div *ngIf="incluir; else actImagen">
                <img mat-card-image [src]="imagenDefecto6" style="width:250px;height: 200px; border-radius: 0%">
              </div>
              <ng-template #actImagen>
                <img mat-card-image [src]="imagen6" style="width:250px;height: 200px; border-radius: 0%">
              </ng-template>
            </mat-card>
          </div>
          <div fxFlex="15%"> </div>
        </div>

      </div>
    </div>
  </div>
</div>  
<div fxLayout="row" fxLayoutAlign="center center" >
    <div>
      <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarValores()" >Guardar</button>
    </div>
                  
</div>
</mat-tab> 
</mat-tab-group> 
        </div>
      
        
        </mat-expansion-panel>
        
          
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Conocenos
            </mat-panel-title>
            <mat-panel-description>
              En esta sección, elegirás a las personas las cuales mostraras, junto a su información, en el portal web 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
          <h4>Elige los empleados que apareceran en esta seccion del portal web</h4>
            <div class="barra">
        <mat-form-field class="search-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
      <button mat-button *ngIf="value" mat-icon-button aria-label="Clear" (click)="valueInput()">
          <mat-icon>close</mat-icon>
      </button>
    
    </mat-form-field>
  </div>
  
  <div style="margin-top:4px">
          <table mat-table #sort="matSort" [dataSource]="dataSource"  matSort matSortActive="nombreUsuario" matSortDirection="asc" matSortDirectionClear>
              <ng-container matColumnDef="imagenUsuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles</th>
                <td mat-cell *matCellDef="let row">
                  <div class="profile-img"> <img [src]="row.imagenU" alt="user"></div>
                </td>
              </ng-container>
              <!-- ID Column -->
              <ng-container matColumnDef="nombreUsuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre de Usuario</th>
              <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
              </ng-container>
            
              <ng-container matColumnDef="rolUsuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Rol</th>
                <td mat-cell *matCellDef="let row"> {{row.rolUsuario}} </td>
              </ng-container>

              <ng-container matColumnDef="estatus">
                  <th mat-header-cell *matHeaderCellDef  style="font-size:1rem" ></th>
                  <td mat-cell *matCellDef="let row">
                      
                    </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Elegir</th>
                  <td mat-cell *matCellDef="let row">  
                    <div *ngIf="row.visibilidad; else act">
                      <button mat-raised-button color="accent" (click)="cambiarVEmpleado(row.id, row.visibilidad)">Mostrado</button>
                    </div>
                    <ng-template #act>
                      <button mat-raised-button color="primary"(click)="cambiarVEmpleado(row.id, row.visibilidad)">Mostrar</button>
                      
                    </ng-template>
                  </td>
                </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
              </table>
            
              <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              
          </div>
            </div>

             
        </mat-expansion-panel>
       
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Servicios
            </mat-panel-title>
            <mat-panel-description>
              En este sección, eligiras las categorias de servicios que se mostraran en el portal web
            </mat-panel-description>
          </mat-expansion-panel-header>


          <div class="container">
            <h4>Elige las categorias que apareceran en esta seccion del portal web</h4>
              <div class="barra">
          <mat-form-field class="search-input">
        <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filtrar" [(ngModel)]="value2">
        <button mat-button *ngIf="value2" mat-icon-button aria-label="Clear" (click)="valueInput()">
            <mat-icon>close</mat-icon>
        </button>
      
      </mat-form-field>
    </div>
    
    <div style="margin-top:4px">
            <table mat-table #sort4="matSort" [dataSource]="datasource4" matSort matSortActive="nombreCategoria" matSortDirection="asc" matSortDirectionClear>
                <ng-container matColumnDef="imagenCategoria">
                  <th mat-header-cell *matHeaderCellDef > </th>
                  <td mat-cell *matCellDef="let row4">
                    <div style="width: 50%" > <img class="profile-img" [src]="row4.imagenCategoria" alt="user"> </div>
                  </td>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="nombreCategoria">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Categoria</th>
                <td mat-cell *matCellDef="let row4"> {{row4.nombreCategoria}} </td>
                </ng-container>
              
                <ng-container matColumnDef="descripcionCategoria">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Descripcion</th>
                  <td mat-cell *matCellDef="let row4"> {{row4.descripcionCategoria}} </td>
                </ng-container>
  
                  
                  <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Mostrar</th>
                      <td mat-cell *matCellDef="let row4">  
                        <div *ngIf="row4.visibleCategoria; else act">
                          <button mat-raised-button color="accent" (click)="cambiarVCategoria(row4.id, row4.visibleCategoria)">Mostrado</button>
                        </div>
                        <ng-template #act>
                          <button mat-raised-button color="primary"(click)="cambiarVCategoria(row4.id, row4.visibleCategoria)">Mostrar</button>
                          
                        </ng-template>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="accion2">
                        <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Servicios</th>
                        <td mat-cell *matCellDef="let row4">  
                          <div *ngIf="row4.visibleCategoria; else act">
                            <button mat-raised-button color="primary" (click)="OpenDialogServicios(row4)">Servicios</button>
                          </div>
                          <ng-template #act>
                            <button mat-raised-button disabled>Servicios</button>
                            

                            <ng-template style="display: none">
                              

                                <mat-dialog-content #exportar>
    
                                    <div class="container">
                                        <h4>Elige los servicios se mostraran de esta categoria</h4>
                                    <div class="example-card">
                                        <mat-card-header>
                                          
                                          <mat-card-title>Catalogo de Servicio de {{data.titulo}}</mat-card-title>
                                        </mat-card-header>
                                        <div class="barra">
                                            <mat-form-field class="search-input">
                                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
                                          <button mat-button *ngIf="value" mat-icon-button aria-label="Clear" (click)="valueInput()">
                                              <mat-icon>close</mat-icon>
                                          </button>
                                        
                                        </mat-form-field>
                                      </div>      
                                      </div>
                                      <div style="margin-top:4px">
                                        <table mat-table #sort5="matSort" matSort [dataSource]="dataSource5" >
                                            <ng-container matColumnDef="imagenServicio">
                                    
                                              <th mat-header-cell *matHeaderCellDef > </th>
                                              <td mat-cell *matCellDef="let row">
                                                <div> <img class="profile-img" [src]="row.imagen" alt="user"></div>
                                              </td>
                                            </ng-container>
                                            
                                            <ng-container matColumnDef="nombreServicio">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre</th>
                                            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                                            </ng-container>
                                          
                                            <ng-container matColumnDef="descripcion">
                                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Descripcion</th>
                                              <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                                            </ng-container>
                                    
                                            
                                              <ng-container matColumnDef="accion">
                                                <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Elegir</th>
                                                <td mat-cell *matCellDef="let row">  
                                                  <div *ngIf="row.visible; else act">
                                                    <button mat-raised-button color="accent" (click)="cambiarV(row.id, row.visible)">Mostrado</button>
                                                  </div>
                                                  <ng-template #act>
                                                    <button mat-raised-button color="primary"(click)="cambiarV(row.id, row.visible)">Mostrar</button>
                                                    
                                                  </ng-template>
                                                </td>
                                              </ng-container>
                                          
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns5"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                            </tr>
                                            </table>
                                          
                                            <mat-paginator #paginator5 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                        </div>
                                        
                                        
                                         
                                    
                                      <div class="my-container">
                                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
                                      </div>
                                    </div>
                                    </mat-dialog-content>

                            </ng-template>



                          </ng-template>
                        </td>
                      </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                <tr mat-row *matRowDef="let row4; columns: displayedColumns4;">
                </tr>
                </table>
              
                <mat-paginator #paginator4 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                
                
            </div>
              </div>

        </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Promociones
            </mat-panel-title>
            <mat-panel-description>
              En esta sección, elegirás las promociones que se mostrarán en el portal web
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          
          <div class="container">
            <h4>Elige todas las promociones que seran mostradas</h4>

            <div class="barra">
                <mat-form-field class="search-input">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="value">
                  <button mat-button *ngIf="value" mat-icon-button aria-label="Clear" (click)="valueInput()">
                      <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
            </div>
        
          
            <div style="margin-top:4px">
                <table mat-table #sort3="matSort" [dataSource]="dataSource3" matSort matSortActive="nombrePromocion" matSortDirection="asc" matSortDirectionClear>
                    <ng-container matColumnDef="imagenPromocion">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef ="let row">
                            <div style="width:50%" ><img class="profile-img" [src]="row.imagenPromocion" alt="promocion"></div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nombrePromocion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre de la Promoción</th>
                        <td mat-cell *matCellDef="let row">{{row.nombrePromocion}}</td>
                    </ng-container>

                    <ng-container matColumnDef="DescPromocion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Descripción</th>
                        <td mat-cell *matCellDef="let row"> {{row.DescPromocion}}</td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef style="font-size:1rem">Mostrar</th>
                        <td mat-cell *matCellDef="let row">  
                          <div *ngIf="row.visible; else act">
                            <button mat-raised-button color="accent" (click)="cambiarVPromocion(row.idPromocion, row.visible)">Mostrado</button>
                          </div>
                          <ng-template #act>
                            <button mat-raised-button color="primary"(click)="cambiarVPromocion(row.idPromocion, row.visible)">Mostrar</button>
                            
                          </ng-template>
                        </td>
                    </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>

                </table>

                <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pie de pagina
            </mat-panel-title>
            <mat-panel-description>
              En este sección, introducirás toda la información respecto a la empresa como direccion telefono y redes sociales
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container" >
          <h4>Introduce los links de tus redes sociales, telefonos, direccion y correo electronico</h4>
          <table style="padding: 0%;">
            <tr>
              
        <td>
            <mat-form-field appearance="outline" style="color:#5e2129">
                <mat-label>Facebook</mat-label>
                <input matInput placeholder="Link" [formControl]="facebookFormControl" >
                <div fxLayout="row" >
                    <div fxFlex="40%"></div>
                    <div fxFlex="20%"><i class="fab fa-facebook-f" style="font-size: 35px"></i></div>
                    <div fxFlex="40%"></div>
                  </div>
                
              </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="outline" style="color:#5e2129">
                <mat-label>Instagram</mat-label>
                
                
                <input matInput placeholder="Link" [formControl]="instagramFormControl" >
              
                <div fxLayout="row">
                  <div fxFlex="40%"></div>
                  <div fxFlex="20%"><i class="fab fa-instagram " style="font-size: 35px"></i></div>
                  <div fxFlex="40%"></div>
                </div>
                
                
              </mat-form-field>
    
  </td>
        <td>
            <mat-form-field appearance="outline"style="color:#5e2129">
                <mat-label>Twitter</mat-label>
                <input matInput placeholder="Link" [formControl]="twitterFormControl" >
                <div fxLayout="row" >
                    <div fxFlex="40%"></div>
                    <div fxFlex="20%"><i class="fab fa-twitter" style="font-size: 35px"></i></div>
                    <div fxFlex="40%"></div>
                  </div>
                
              </mat-form-field>
        </td>
        </tr>
        <tr>
          <td>
              <mat-form-field appearance="outline">
                  <mat-label>Telefono 1</mat-label>
                  <input matInput placeholder="Introduce un numero de telefono" [formControl]="telefono1FormControl">
                  <mat-icon matSuffix>phone</mat-icon>
                  
                </mat-form-field>
          </td>
          <td>
              <mat-form-field appearance="outline">
                  <mat-label>Telefono 2</mat-label>
                  <input matInput placeholder="Introduce un numero de telefono" [formControl]="telefono2FormControl">
                  <mat-icon matSuffix>phone</mat-icon>
                  
                </mat-form-field>
          </td>
          <td>
              <mat-form-field appearance="outline">
                  <mat-label>Correo Electronico</mat-label>
                  <input matInput placeholder="Introduce un correo electronico" [formControl]="correoFormControl">
                  <mat-icon matSuffix>email</mat-icon>
                  
                </mat-form-field>
          </td>
        </tr>
       
        </table>
        
        <mat-form-field>
            <textarea matInput placeholder="Introduce la direccion de tu empresa" [formControl]="direccionFormControl"></textarea>
          </mat-form-field>
          
          <div fxLayout="row" fxLayoutAlign="center center" >
              <div>
                <button mat-raised-button color="primary" style="float: center;" (click)="RegistrarFooter()" >Guardar</button>
              </div>
                            
          </div>
           
        </div>

       
        </mat-expansion-panel>
        
      </mat-accordion>
    
    </mat-card-content>
    <mat-card-actions>
        
        
    </mat-card-actions>
  </mat-card>

  <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop:  true }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
  