.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.container{
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.subir{
  text-decoration: none;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    color: black;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid transparent;
}
.subir:hover{
  background-color: #5e2129;
  color: white;
}

mat-icon{
 
  color: #5e2129;
}
.espac{
  flex: 1 1 auto;
}
.barra{
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.search-input{
  width: 30% ;
  float: left; 
}

.profile-img {
  width: 65px;
  margin-left: 30px;
  padding: 31px 0;
  border-radius: 100%;
  &::before {
      -webkit-animation: 2.5s blow 0s linear infinite;
      animation: 2.5s blow 0s linear infinite;
      position: absolute;
      content: '';
      width: 65px;
      height: 65px;
      margin: 0 auto;
      border-radius: 50%;
      z-index: 0;
  }
}
@-webkit-keyframes blow {
  0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 0.5);
      transform: scale3d(1, 1, 0.5);
  }
  50% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 0.5);
      transform: scale3d(1, 1, 0.5);
  }
  100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 0.5);
      transform: scale3d(1, 1, 0.5);
  }
}
@keyframes blow {
  0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 0.5);
      transform: scale3d(1, 1, 0.5);
  }
  50% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 0.5);
      transform: scale3d(1, 1, 0.5);
  }
  100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 0.5);
      transform: scale3d(1, 1, 0.5);
  }
}
img {
  width: 100%;
  border-radius: 100%;
}

table {
  padding: 2em;
  padding-top: 0em;
  width: 100%;
}



