<div fxLayout="row" >
  <div fxFlex="100%">
    <mat-card>
      <mat-card-header style="background:#5e2129">
        <div mat-card-avatar class="example-header-image"> <mat-icon style="color:white">date_range</mat-icon> </div>
        <mat-card-title style="color:white" >Agenda de servicios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between stretch"  fxFlexFill>
              <div fxFlex="300px" fxHide fxShow.gt-sm>
                  <div fxLayout="column" fxLayoutAlign="space-between stretch"  fxFlexFill>
                      <div fxFlex="240px" >
                          <owl-date-time-inline 
                            [pickerType]="'calendar'"
                            [(ngModel)]="viewDate"
                            [min]="datepicker"
                            (ngModelChange)="getWeek(viewDate)"
                            >
                          </owl-date-time-inline>
                      </div>
                      <br>
                      <hr>
                      <div>
                        <mat-form-field>
                          <mat-select [disabled]="disableAbo" [(ngModel)]="opcAbogado" placeholder="Abogados">
                              <mat-option *ngFor="let abogado of abogados" [value]="abogado.id" (click)="CargarAgenda(abogado.id)">
                              {{abogado.nombre}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field>
                          <mat-select [disabled]="disableAct" [(ngModel)]="opcActuacion" placeholder="Actuación" (selectionChange)="comboActuacion()">
                              <mat-option *ngFor="let actuacion of actuaciones" [value]="actuacion.id">
                              {{actuacion.nombre}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field>
                          <mat-select [disabled]="disableDia" [(ngModel)]="opcDia" placeholder="Día">
                              <mat-option *ngFor="let hora of horario" [value]="hora.id_dia" (click)="ObtenerIdDia(hora.id_dia, hora.nombre)">
                              {{hora.nombre}} - {{hora.fecha}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field>
                          <mat-select [disabled]="disableServ" [(ngModel)]="opcHora" placeholder="Horario" >
                              <mat-option *ngFor="let bloque of Horas" [value]="bloque.id" (click)="ObtenerIdBloque(bloque.id)">
                              Desde {{bloque.inicio}} Hasta {{bloque.fin}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field> 
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" >
                      <div>
                        <button mat-raised-button color="primary" style="float: center;" (click)=Agregar() cdkFocusInitial>Agregar</button>
                      </div>
                      <div fxFlex="2%"></div>
                      <div>
                          <button mat-raised-button color="accent" style="float: center;" (click)="Cancelar()">Cancelar</button>
                      </div>
                      
                  </div>
                  </div>
                <br/>

                <br/>
                <br/>
              </div>
              <div fxFlex="auto" fxFlexFill >
                <div fxFlexFill>
                  <mat-toolbar color="accent">
                    <div fxLayout="row" >
                      <div fxFlex="50%" fxLayout="column">
                          <div>
                            <span fxHide fxShow.gt-xs>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</span>
                          </div>
                          <div [ngStyle.xs]="{'font-size.px': 12}"
                          [ngStyle.sm]="{'font-size.px': 12 }"
                          [ngStyle.md]="{'font-size.px': 16}"> Ver: 
                            <button mat-button 
                              (click)="view = CalendarView.Week"
                              [class.active]="view === CalendarView.Week"
                              fxHide
                              fxShow.gt-sm>
                              Semana
                            </button>
                            <button mat-button 
                              (click)="view = CalendarView.Day"
                              [class.active]="view === CalendarView.Day">
                              Día
                            </button>
                          </div>
                      </div>
                      <div fxFlex="1 1 auto"></div>
                        <div fxLayout="column">
                          <div fxFlexAlign="end">
                              <button mat-icon-button color="primary"
                              mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="activeDayIsOpen = false">
                                <mat-icon>arrow_back_ios</mat-icon>
                              </button>
                              <button fxHide.xs mat-icon-button color="primary"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"><mat-icon>today</mat-icon></button>
                              <button mat-icon-button color="primary"
                                mwlCalendarNextView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="activeDayIsOpen = false"><mat-icon>arrow_forward_ios</mat-icon>
                              </button>
                          </div>
                        </div>
                    </div>
                  </mat-toolbar>
                  <div [ngSwitch]="view">
                     <mwl-calendar-week-view
                      *ngSwitchCase="CalendarView.Week"
                      [viewDate]="viewDate"
                      [events]="events"
                      [locale]="locale"
                      [dayStartHour]="StartHour"
                      [dayEndHour]="EndHour"
                      [refresh]="refresh"
                      >
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view
                      *ngSwitchCase="CalendarView.Day"
                      [viewDate]="viewDate"
                      [events]="events"
                      [locale]="locale"
                      [dayStartHour]="StartHour"
                      [dayEndHour]="EndHour"
                      [refresh]="refresh">
                    </mwl-calendar-day-view>
                  </div>
                </div>
              </div>
            </div>
      </mat-card-content>
      
    </mat-card>
  </div>
</div>

