<mat-card-header style="background-color: #5e2129;margin-bottom: 20px">
    <mat-card-title style="color: white;font-size: 20px">Nueva Sugerencia</mat-card-title>
  </mat-card-header> 
  
    <mat-card-content>
      
       <!-- <div fxLayout="row">
          <div fxFlex="48%">
            <mat-form-field>
              <mat-select placeholder="Nivel de Instrucción">
                <mat-option>Ninguno</mat-option>
                <mat-option *ngFor="let nivel of instruccion" [value]="nivel">{{nivel}}</mat-option>
              </mat-select>
            </mat-form-field>  
          </div>
  
          <div fxFlex="4%"></div>
  
          <div fxFlex="48%">
              <mat-form-field>
                  <mat-select placeholder="Estado Civil">
                    <mat-option *ngFor="let civilstate of estadoscivil" [value]="civilstate">{{civilstate}}</mat-option>
                  </mat-select>
                </mat-form-field>
           </div>
        </div>-->
      
        <!-- 
          ======= SELECT AUTOCOMPLETAR
       
        <div fxLayout="row">
          <div fxFlex="48%">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let abogado of abogados"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(abogado)">
                  {{abogado}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                placeholder="Escoge un Servicio"
                #abogadoInput
                [formControl]="abogadoCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let abogado of filteredAbogados | async" [value]="abogado">
                  {{abogado}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div> -->
          
          <div fxLayout="row">
              <div fxFlex="100%">
                  <mat-form-field>
                      <textarea matInput placeholder="Descripción de la Sugerencia" [formControl]="descripcionFormControl"></textarea>
                  </mat-form-field>
        </div>
                  
           <!--  FECHA EN UN DATEPICKER 
            <mat-form-field>    
              <input matInput [matDatepicker]="dp1" [placeholder]="date" [(ngModel)]="date" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>-->
  
            <!--<mat-form-field class="example-full-width">
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Elige una Fecha">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>-->
         
          </div>
        
       
    
        <!--<section class="example-section">
          <mat-checkbox [formControl]="disableSelect">Desmarca, si deseas elegir un abogado</mat-checkbox>
        </section>
        
        <div fxLayout="row">
          <div fxFlex="48%">
              <mat-form-field>
                  <mat-select placeholder="Abogado" [disabled]="disableSelect.value">
                    <mat-option value="option1">Ninguno</mat-option>
                    <mat-option *ngFor="let abo of abogados" [value]="abo">{{abo}}</mat-option>              
                  </mat-select>
                </mat-form-field>
          </div>
        </div>-->
        
      <mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" style="float:right" (click)="onNoClick()">Cancelar</button>
          <button mat-raised-button color="primary" style="float:right" (click)="Registrar()">Agregar</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-content>
  
      <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>