<div fxLayout="column">
    <div>
        <div fxLayout="row">
            <div fxFlex="48%" fxLayout="column">
                <div>
                    <mat-toolbar color="primary">
                        <span>Datos Actividad</span>
                    </mat-toolbar>
                    <br/>
                    
                </div>
                <div>
                    <mat-list>
                        <mat-list-item>Lugar y fecha</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <mat-form-field color="accent">
                        <input matInput placeholder="Lugar">
                    </mat-form-field>
                    <div fxLayout="row">
                        <div fxFlex="100%">
                            <mat-form-field color="accent">
                                <input matInput placeholder="Fecha" value="{{data.fecha}}" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="48%" fxLayout="row">
                        <div fxFlex="60%">
                            <mat-form-field color="accent">
                                <input matInput placeholder="Hora de inicio" value="{{data.hora}}">
                            </mat-form-field>
                        </div>
                        <div fxFlexAlign="center" fxFlex>
                            <span>{{data.tiempo}}</span>
                        </div>
                    </div>
                    
                    <div fxFlex="48%" fxLayout="row">
                        <div>
                            <mat-form-field color="accent">
                                <input matInput placeholder="Hora de finalización">
                            </mat-form-field>
                        </div>
                        <div fxFlexAlign="center">
                            <span></span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div fxFlex="1 1 auto"></div>
            <div fxFlex="48%">
                <mat-toolbar color="primary">
                    <span>
                        Datos Servicio
                    </span>
                </mat-toolbar>
                <br>
                <mat-form-field color="accent">
                        <input matInput placeholder="Cliente" value="Juan Lopez" readonly>
                    </mat-form-field>
                <mat-form-field color="accent">
                    <mat-select placeholder="Servicio" >
                        <mat-option value="option">Registro firma personal</mat-option>
                        <mat-option value="option">Tramitar licencia municipal</mat-option>
                    </mat-select>
                </mat-form-field>                
                <mat-form-field color="accent">
                    <input matInput placeholder="Telefono" value="04146589977" readonly>
                </mat-form-field>
                <mat-form-field color="accent">
                    <input matInput placeholder="Correo" value="juanlopez@gmail.com" readonly>
                </mat-form-field>                
            </div>
        </div>
    </div>
    <br/>
    <div>
        <div fxLayout="column">
            <div style="float: right;">
                <button mat-raised-button color="primary">Aceptar</button>
                <button mat-raised-button color="accent">Cancelar</button>  
            </div>
        </div>
    </div>
</div>