<h1 mat-dialog-title >Gestionar Evento</h1>
<div mat-dialog-content>
  <mat-tab-group >
    <mat-tab fxFlex="50%">
      <ng-template mat-tab-label >
        <mat-icon>check</mat-icon> Verificar 
      </ng-template>
      <div fxflex="80%">
        <h1> Tribunal #12 Oct. 25</h1>
        <angular-file-uploader 
          [config]="afuConfig"
          [resetUpload]=resetVar
          (ApiResponse)="DocUpload($event)">
        </angular-file-uploader>
        <mat-form-field>
          <textarea matInput placeholder="Comentario"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn">Cancelar</button>            
      </div>
    </mat-tab>
    <mat-tab fxFlex="50%">
      <ng-template mat-tab-label >
        <mat-icon>watch_later</mat-icon> Posponer
      </ng-template>
      <div fxflex="80%">
        <h1>Josefa Vargar - Cita inicial</h1>
        <mat-form-field>
          <textarea matInput placeholder="Motivo"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn">Cancelar</button>   
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
