<div fxLayout="column">
    
  <mat-card class="example-card">
    <mat-card-header style="background:#5e2129;">
      
      <mat-card-title style="color:white">
          <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
            <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
          </a>Configuración evaluación de servicio
        </mat-card-title>
    </mat-card-header>

    <mat-card-content  style="padding-bottom: 25px">
      
      <div fxLayout="row">
        <div fxFlex="48%">
          <h3 class="example-h3">Categoría Servicio</h3>
          
          <mat-form-field>

            <mat-select (selectionChange)="habilitarServicios($event.value)" placeholder="Seleccione una categoría" [(value)]="selCat">

              <mat-option value="cat1">Seguros</mat-option>
              <mat-option value="cat2">Propiedad</mat-option>
              <mat-option value="cat3">Vehículos</mat-option>
              </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="auto"></div>

        <div fxFlex="48%">
          <h3 class="example-h3">Servicio</h3>
          <mat-form-field>

            <mat-select (selectionChange)="habilitarEvaluaciones($event.value)" [disabled]="disableServ" placeholder="Seleccione un servicio" [(value)]="selOpc">

              <mat-option value="opc1">DEnuncia por maltrato infantil</mat-option>
              <mat-option value="opc2">Formación de sociedades mercantiles</mat-option>
              <mat-option value="opc3">Traspaso de vehículos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </div>

        
        <div fxLayout="row">
        <div fxFlex="48%">
          <h3 class="example-h3">Evaluación</h3>
          <mat-form-field>

            <mat-select (selectionChange)="habilitarRango($event.value)" [disabled]="disableEval" placeholder="Seleccione un tipo de evaluación" [(value)]="selEval">

              <mat-option value="eval1">Estrellas</mat-option>
              <mat-option value="eval2">Escala de likert</mat-option>
              
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="auto"></div>


        <div fxFlex="48%">

          <h3 class="example-h3" style="margin-bottom: 35px">Rango</h3>
          <mat-slider class="example-margin" [disabled]="disableRango" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel"
            [(ngModel)]="value">
          </mat-slider>

        </div>
        </div>

        <div class="example-button-row" style=" float: right; margin: 10px 0 10px 0">
            <button mat-raised-button color="primary" style="margin-right: 5px">Guardar Cambios</button> 
            <button mat-raised-button color="accent">Cancelar</button>        
        </div>
    </mat-card-content>
    
  </mat-card>

</div>