
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~angular-vertical-timeline/dist/vertical-timeline.css";
@import '~@angular/material/theming';
@import '~angular-mgl-timeline/theme';
@import 'assets/styles/style.scss';
@import "~owl-ng/assets/style/theme.min.css";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
 
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-caput-mortuum, 300,600, 900);
//$candy-app-accent:  mat-palette($mat-grizzly, 300, 600, 900);

$candy-app-accent: mat-palette($mat-blue);
$candy-app-jose:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
@include mgl-timeline-theme($candy-app-theme);

body, html {
  margin: 0;
}

button {
  text-transform: uppercase;
}

md-toolbar {
  margin-bottom: 10px !important;

  &:not(.mat-primary) {
    & .mat-toolbar-row {
    flex-wrap: wrap;
    height: auto;
    padding: 5px 0;
  }

  & button {
    margin: 5px !important;
  }
}
  
}

mgl-timeline:not(.mobile) {
  padding: 50px 20px;
}

mgl-timeline.mobile {
  padding-right: 20px;
}