<div fxLayout="column">

  <mat-card>
    <mat-card-content>

      <mat-tab-group>
        <mat-tab label="Casos actuales">
          <div class="example-small-box mat-elevation-z4">
            <mat-list>
              <mat-card-content>
                <mat-list-item>

                  <div fxLayout="row">
                    <div fxLayout="column">
                      <div>
                        <h4 class="m-0">Casos de menores
                          <small class="text-muted">(José Chino)</small>
                        </h4>
                      </div>
                      <div>
                        <p>
                          involucran a menores de 18 años de edad, y se separan en 2 categorías principales: delincuencia de menores (para menores
                          que han violado una ley penal) y dependencia de menores.
                        </p>
                        <hr/>
                      </div>

                    </div>
                  </div>
                </mat-list-item>
              </mat-card-content>
              <mat-card-content>
                <mat-list-item>

                  <div fxLayout="row">
                    <div fxLayout="column">
                      <div>
                        <h4 class="m-0">Testamentarios
                          <small class="text-muted">(Karelys León)</small>
                        </h4>
                      </div>
                      <div>
                        <p>
                          Son sobre el cuidado de personas y de sus asuntos personales (como testamentos) y tutelas de adultos para las personas que
                          no se pueden cuidar a sí mismas o manejar sus propias finanzas.
                        </p>
                        <hr/>
                      </div>


                    </div>
                  </div>

                </mat-list-item>

              </mat-card-content>
              <mat-card-content>
                <mat-list-item>

                  <div fxLayout="row">
                    <div fxLayout="column">
                      <div>
                        <h4 class="m-0"> Propietario/inquilino
                          <small class="text-muted">(Angélica Adans)</small>
                        </h4>
                      </div>
                      <div>
                        <p>
                          un propietario está tratando de desalojar a un inquilino de una propiedad en alquiler, o un inquilino ha dejado una propiedad
                          en alquiler y está tratando de recuperar su depósito de seguridad del propietario.
                        </p>
                        <hr/>
                      </div>

                    </div>
                  </div>
                </mat-list-item>
              </mat-card-content>

              <mat-card-content>
                <mat-list-item>

                  <div fxLayout="row">
                    <div fxLayout="column">
                      <div>
                        <h4 class="m-0">Reclamos menores
                          <small class="text-muted">(Boriannys Daza)</small>
                        </h4>
                      </div>
                      <div>
                        <p>
                          Son juicios entre individuos o empresas por $10,000 o menos, y donde nadie puede tener un abogado.
                        </p>
                        <hr/>
                      </div>

                    </div>
                  </div>
                </mat-list-item>
              </mat-card-content>
              <mat-card-content>
                <mat-list-item>

                  <div fxLayout="row">
                    <div fxLayout="column">
                      <div>
                        <h4 class="m-0">Casos de menores
                          <small class="text-muted">(Carlos Torrealba)</small>
                        </h4>
                      </div>
                      <div>
                        <p>
                          involucran a menores de 18 años de edad, y se separan en 2 categorías principales: delincuencia de menores (para menores
                          que han violado una ley penal) y dependencia de menores.
                        </p>
                        <hr/>
                      </div>

                    </div>
                  </div>
                </mat-list-item>
              </mat-card-content>
            </mat-list>
            <mat-card-actions class="text-right">
                <button mat-raised-button class="btn btn-small waves-effect waves-light" style="background-color: #5e2129; margin: 13px 7px 7px 0; color: white">
                  Ver más...</button>
        
              </mat-card-actions>
          </div>
          
        </mat-tab>

      </mat-tab-group>
      
    </mat-card-content>
  </mat-card>
</div>