/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
// Variables
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$bodyfont: 'Poppins', sans-serif;
$headingfont: 'Poppins', sans-serif;

@import '~@angular/material/theming';

//thmis

$mat-caput-mortuum: (
  50: #f2dadd,
  100: #edccd0,
  200: #e8bdc3,
  300: #8a303c,
  400: #7b2b36,
  500: #6d262f,
  600: #5e2129,
  700: #4f1c23,
  800: #41171c,
  900: #321216,
  A100: #dea0a8,
  A200: #d4838e,
  A400: #c96673,
  A700: #bf4959,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-harvest-gold: (
  50: #ffeeba,
  100: #ffe9a7,
  200: #fedf80,
  300: #fec92a,
  400: #fec210,
  500: #f4b701,
  600: #e0a801,
  700: #cc9901,
  800: #b98b01,
  900: #a57c01,
  A100: #fed045,
  A200: #fecb32,
  A400: #fec61e,
  A700: #fec10b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
); 

$mat-grizzly: (
  50: #f9eabe,
  100: #f8e4ac,
  200: #f6de9a,
  300: #bb8f11,
  400: #a9820f,
  500: #97740e,
  600: #85660c,
  700: #73580a,
  800: #614a09,
  900: #4f3d07,
  A100: #f1cd64,
  A200: #eec140,
  A400: #ebb61c,
  A700: #cd9d12,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-spanish-gray: (
  50: #e9e9e9,
  100: #e0e0e0,
  200: #d6d6d6,
  300: #b8b8b8,
  400: #afafaf,
  500: #a5a5a5,
  600: #9b9b9b,
  700: #919191,
  800: #878787,
  900: #7e7e7e,
  A100: #dedede,
  A200: #d5d5d5,
  A400: #cbcbcb,
  A700: #c1c1c1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
/*Material Theme Colors*/

$primary: mat-palette($mat-caput-mortuum, 600);
$accent: mat-palette($mat-harvest-gold, 600);
$warn: mat-palette($mat-grizzly, 600);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

// Default Theme
@include angular-material-theme($theme);

// Dark Theme

/*Theme Colors*/




$topbar: #5e2129;
$sidebar: #85660c;
$sidebar-white: #e5edef;
$sidebar-alt: #f2f6f8;
$bodycolor: mat-color($mat-spanish-gray,50);
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: mat-color($mat-caput-mortuum,900);
$sidebar-icons: mat-color($mat-harvest-gold,600);

$font-16: 16px;

$light-text: #a6b7bf;
$themecolor: #1e88e5;
$themecolor-alt: mat-color($mat-grizzly,300);
$themecolor-dark: #028ee1;

/*bootstrap Color*/
$danger: #E0A801;
$success: #26c6da;
$warning: #ffb22b;
$primary: #7460ee;
$info: #1e88e5;
$inverse: #2f3d4a;
$muted: #99abb4;
$dark: #263238;
$light: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

/*Light colors*/
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #6352ce;
$info-dark: #028ee1;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);

/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #f3f1f1;
$card-brd: #d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #d9d9d9;





