<mat-card>
  <mat-card-header style="background-color:#5e2129">
          <mat-card-title style="color: white"> 
                  <a mat-icon-button matTooltip="Regresar" color="warn" style="margin-top: -6px" [routerLink]="['/configuracion']">
                    <mat-icon aria-label="Example icon-button with a heart icon" color="accent">arrow_back</mat-icon>
                  </a> Horario de agenda
                </mat-card-title>
      
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar style="background: none;">
      <button mat-mini-fab matTooltip="Nuevo horario" color="primary" style="float: left;" (click)="openDialogRegistrar()"> <mat-icon>add</mat-icon></button>
      <span class="espac"></span>

    </mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center" >
      <div fxFlex="auto" *ngFor="let hora of horario" >
        <mat-card-content style="padding: 3px" >
          <h3>{{hora.nombre}}</h3>
          <div fxLayout="column">
            <div *ngFor="let bloque of hora.horario" >
                <mat-card-content [style.background-color]="bloque.bcolor" class="bloque" id="hora.id">
                  <div fxLayout="row">
                    <div fxflex="10%" style="padding-left: 2px">
                        <a mat-icon-button matTooltip="Eliminar" (click)="openDialogEliminar(bloque.id)" >
                          <mat-icon >delete</mat-icon>
                        </a>
                    </div>
                    <div fxFlex="auto">
                        
                        Hora de inicio: <br> {{bloque.inicio}} <br>
                        Hora fin: <br> {{bloque.fin}}
                    </div>
                  </div> 

                  </mat-card-content>
            </div>

          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card-content>
  
</mat-card>