.bloque {
    color: whitesmoke;
    padding: 5px;
    padding-left: 0em;
    padding-top: 0em;
}
h3 {
    text-align: center;
}
mat-toolbar{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}