<mat-card>
  <mat-card-header style="background-color: #5e2129; justify-content: center">
    <div mat-card-avatar class="example-header-image">
      <mat-icon style="color:white">account_balance</mat-icon>
    </div>
    <mat-card-title style="color: white;">
      Solicitudes por Atender
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar style="background: none">

    <span class="espac"></span>
    <mat-icon>search</mat-icon>
    <mat-form-field class="search-input">
        
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="valueInput()">
        <mat-icon>close</mat-icon>
      </button>

    </mat-form-field>
  </mat-toolbar>


  <div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortColumn($event)">

      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Detalle</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button color="primary" (click)="openDialogAtenderSoli(row)">
            <mat-icon color="primary">remove_red_eye</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cliente_cedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Cédula Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cliente_cedula}} </td>
      </ng-container>

      <!-- Progress Column-->
      <ng-container matColumnDef="nombreCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem">Nombre Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cliente_nombre}} {{row.cliente_apellido}}</td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="catalogo_servicio_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Tipo Servicio </th>
        <td mat-cell *matCellDef="let row"> {{row.tipoServicio}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fecha_creacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Fecha Solicitud </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
      </ng-container>

      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Estado</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> 

          <div fxFlexLayout="row">

            <mat-icon>{{row.ver}}</mat-icon>
            <span>
              <strong>{{row.estatus}}</strong>
            </span>

          </div>
        </td>

      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:1rem"> Acciones</th>

        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.agendar; else act">

            <a mat-icon-button style="color: green" matTooltip="Aprobar" (click)="openDialogConfirmar(row)">
              <mat-icon>thumb_up</mat-icon>
            </a>
            <a mat-icon-button style="color: red" matTooltip="Rechazar" (click)="openDialogRechazar(row)">
              <mat-icon>thumb_down</mat-icon>
            </a>
          </div>

          <ng-template #act>
            <a mat-icon-button style="color: #cd9d12" matTooltip="Agendar" (click)="openDialogAgendar(row)">
              <mat-icon>today</mat-icon>
            </a>

          </ng-template>
        </td>
      </ng-container>

      <!-- Color Column 
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="font-size:1rem"> Estado </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"><mat-icon>{{row.estatus}}</mat-icon><span style="margin-top: -5px"> {{row.estado}}</span> </td>
        <mat-icon>close</mat-icon>
      </ng-container>-->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>