@import '../../../../../../assets/styles/style.scss';

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: mat-color($mat-caput-mortuum, 600);
    color: white;
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($mat-spanish-gray, 300) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;

  .routeIcon {
    margin-right: 10px;
   
  }
}
