.espac{
    flex: 1 1 auto;
}

.icono{
    margin-top: 4px;
}

.notify:hover{
background-color: rgb(202, 202, 202);
}

.label{
    padding: 1px 5px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    border-radius: 100%;
    font-size: 75%;
    margin-left: -10px;
    margin-top: -90px;
}


.label-yellow{
    background-color: #cd9d12;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.mat-menu-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
}

* {
    outline: 0;
    box-sizing: border-box;
}

.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mailbox {
    width: 250px;
}

.mailbox ul {
    margin: 0;
    padding: 0;
}

.mailbox ul li {
    list-style: none;
    padding: 0;
}

.mailbox ul li .drop-title {
    font-weight: 500;
    padding: 11px 15px 15px;
    border-bottom: 1px solid rgba(120,130,140,.13);
}

.mailbox .message-center {
    
    overflow: auto;
    position: relative;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}



.mailbox .message-center a {
    border-bottom: 1px solid rgba(120,130,140,.13);
    display: flex;
    color: #455a64;
    align-items: center;
    text-decoration: none;
    padding: 9px 15px;
}

.mailbox .message-center a .round {
    flex-shrink: 0;
    margin: 0 10px 0 0;
}

.mailbox .message-center a .mail-content {
    overflow: hidden;
}

.mailbox .message-center a .mail-content h5 {
    margin: 5px 0 0;
}

.mailbox .message-center a .mail-content .mail-desc, .mailbox .message-center a .mail-content .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}

.mailbox .message-center a .mail-content .mail-desc, .mailbox .message-center a .mail-content .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}

.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    height: 15px;
    bottom: 0px;
    position: absolute;
}

.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    bottom: 2px;
    position: absolute;
}

