<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="notif" aria-haspopup="true" class="m-r-10 mat-icon-button" mat-icon-button="">
  <span class="mat-button-wrapper">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">notification_important</mat-icon>
    
      
      <span class="label label-yellow ng-star-inserted">5</span>
    
  </span>
  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
  <div class="mat-button-focus-overlay"></div>
</button>

<mat-menu class="mat-menu-content" #notif="matMenu">


      <div class="mat-menu-content">
        <div class="mailbox">
          <ul>
            <li class="text-center">
              <div class="drop-title">Notificaciones</div>
              <mat-divider></mat-divider>
            </li>
            <li>
  
  <div *ngFor="let noti of notificaciones" class="message-center">
                
                  <div style="position: static;" class="ps ps--active-y notify">
                    <div class="ps-content">
                      <!---->
                      <a href="#" class="ng-star-inserted">
                        <div class="round round-danger" [style.background-color]="noti.color">
                          <mat-icon class="icono">{{noti.icon}}</mat-icon>
                        </div>
                        <div class="mail-content">
                          <h5>{{noti.title}}</h5>
                          <span class="mail-desc">{{noti.subTitle}}</span>
                          <span class="time">{{noti.time}}</span>
                        </div>
                      </a>
                    </div>
                  
                  </div>
                
              </div>
            </li>
            <li class="text-center">
                <a [routerLink]="['/']"class="drop-title" style="text-decoration: none;">Ver todas...</a>
            </li>

          </ul>
        
      
    </div>
    </div>

</mat-menu>



<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
  <mat-icon>settings</mat-icon>
</button>
<mat-menu #profile="matMenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Configuración
      </button>
  <button mat-menu-item (click)='AbrirPerfil()'>
    <mat-icon>account_box</mat-icon> Perfil
  </button>
  <button mat-menu-item (click)="CerrarSesion()">
    <mat-icon>exit_to_app</mat-icon> Cerrar sesión
  </button>
</mat-menu>