<div class="example-card1">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"> <mat-icon >local_library</mat-icon> </div>
      <mat-card-title >Nuevo Rango Valoración</mat-card-title>
    </mat-card-header>

    <div fxLayout="row">
        <div fxFlex="100%">
    <div fxLayout="row">
      <form  fxFlex="100%">
          <div fxLayout="row">
              <div fxFlex="100%">
                <mat-form-field>
                  <input matInput #nombre placeholder="Valor" maxlength="50" [formControl]="valorFormControl">
                  <mat-error *ngIf="valorFormControl.hasError('required')">
                    El valor es <strong>Requerido</strong>
                  </mat-error>
                  <mat-hint align="end">{{nombre.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
              </div>
            </div>
           
      
            <div  fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="100%">
                  <mat-form-field hintLabel="Caracteres Máximos 500" class="my-form-field">
                      <textarea matInput #descripcion maxlength="500" rows="5" placeholder="Descripción"  [formControl]="descripcionFormControl"  (change)="onCommentChange()"></textarea>
                      <mat-hint align="end">{{descripcion.value?.length || 0}}/500</mat-hint>
                    </mat-form-field>
              </div>
            </div>
            </form>
          </div>
        </div>
    </div>
            <br>
          <!---->
          <div fxLayout="row">
            <div fxFlex="74%"></div>
            <div *ngIf="incluir; else act">
              <button mat-raised-button color="primary" style="float: right;" (click)=Registrar() cdkFocusInitial>Agregar</button>
            </div>
            <ng-template #act>
              <button mat-raised-button color="primary" style="float: right;width: 160px" (click)=Actualizar() cdkFocusInitial>Actualizar</button>
            </ng-template>
            <div fxFlex="2%"></div>
            <button mat-raised-button color="accent" style="float: right; width: 160px" (click)="onNoClick()">Cancelar</button>
          </div>
         <!---->         
    </div>


