<mat-card>
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>store</mat-icon> Empresa
        </ng-template>
        <div fxLayout="column">
          <div>
            <br/>
            <span>Área de negocio</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-categoria')">
                            <mat-icon>local_offer</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Categoria de servicio</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-especialidad')">
                            <mat-icon>scatter_plot</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Especialidad</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_incidencia')">
                              <mat-icon>not_listed_location</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Tipo de incidencia</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>              
          </div>          
          <div>
            <br/>
            <span>Información del empleado</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_empleado')">
                            <mat-icon>people_outline</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Tipo de empleado</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div>
            <br/>
            <span>Horario disponible</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('depuracion-bloque_hora')">
                              <mat-icon>watch_later</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Bloque de hora</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-dia_semana')">
                            <mat-icon>event</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Día de semana</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>     
          </div>
          <div>
            <br/>
            <span>Contacto</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-red_social')">
                            <mat-icon>public</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Red social</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>            
          </div>          
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>vpn_key</mat-icon> Seguridad
        </ng-template>
        <div fxLayout="column">
          <div>
            <br/>
            <span>Accesibilidad</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-rol')">
                            <mat-icon>people</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Rol</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-ruta')">
                            <mat-icon>menu</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Rutas</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('depuracion-funcion')">
                              <mat-icon>menu</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Función</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>perm_identity</mat-icon> Cliente
        </ng-template>
        <div fxLayout="column">
          <div>
            <br/>
            <span>Datos de perfil</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-caracteristica_base')">
                            <mat-icon>bookmark</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Característica Base</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-caracteristica')">
                            <mat-icon>bookmarks</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Valor Característica</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>            
          </div>
          <div>
            <br/>
            <span>Clasificación</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_cliente')">
                            <mat-icon>face</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Tipo de cliente</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>gavel</mat-icon> Servicio
        </ng-template>
        <div fxLayout="column">
          <div>
            <br/>
            <span>Ejecución</span>
            <hr/>
          </div>
          <div fxLayout="row">
            <div fxFlex="25%">
                <mat-card class="sombra">
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex="30%">
                            <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_actuacion')">
                              <mat-icon>movie_creation</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="auto" fxFlexAlign="center">
                          <strong>Tipo actuación</strong>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="25%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-actuacion')">
                            <mat-icon>movie_filter</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Actuación</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="25%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_documento')">
                            <mat-icon>library_books</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Tipo de documento</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="25%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_documento')">
                            <mat-icon>library_books</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Documento</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
          </div>          
          <div>
            <br/>
            <span>Evaluación</span>
            <hr/>
          </div>            
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_valoracion')">
                            <mat-icon>check_box_outline_blank</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Tipo de valoración</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-rango_valoracion')">
                            <mat-icon>star</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Rango valoración</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div>
            <br/>
            <span>Post-servicio</span>
            <hr/>
          </div>       
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_reclamo')">
                            <mat-icon>phone_callback</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Tipo de reclamo</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card class="sombra">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex="30%">
                          <button mat-fab color="primary" (click)="goToPage('depuracion-tipo_garantia')">
                            <mat-icon>sync</mat-icon>
                          </button>
                      </div>
                      <div fxFlex="auto" fxFlexAlign="center">
                        <strong>Tipo de garantía</strong>
                      </div>
                    </div>
                  </mat-card-content>
              </mat-card>
            </div>            
          </div>  
        </div>
      </mat-tab>      
    </mat-tab-group>
  </mat-card-content>
</mat-card>